{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Add experts' %}{% endblock title %}

{% block content %}
  {% translate 'Add experts' as add %}
  <main class="ps-main-section no-sidebar">
    <div class="app-content form-profil">
      <h1 class="profil-title">
        {{ add }}
      </h1>

      {% block message %}
        <span style='color:red'>{{ message }}</span>
      {% endblock message %}

      {# profile edit form #}
      <form action="/user/add_experts" enctype="multipart/form-data" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}

        <button id="add_experts_save" type="submit" class="btn btn-link btn-sm orange-text uppercase mr-5">
          {% svg_icon_psg 'crochet-orange' extra_class="" width=15 height=15 %}
          {{ add }}
        </button>
      </form>
    </div>
  </main>
{% endblock content %}
