{% extends 'base.html' %}
{% load static %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load icon_utils %}
{% load list_utils %}

{% block title %}
  {% translate 'Passages Administration' %}
{% endblock title %}

{% block content %}
  <main id="page-expert-training" class="ps-main-section expert-training no-sidebar">

    <div class="app-content">

      <div class="flex items-center">
        <h1>{% translate 'Passages Administration' %}</h1>
      </div>

      <div class="capsules-wrapper mb-4 mt-4">

  {# for each training capsule #}
  {% for capsule in capsules %}
        <div class="capsule mb-8">
          {# title #}
          <h2 id="{{ capsule.id }}" class="capsule__title text-xl font-bold absolute-no-hover">
            <!-- actual title -->
            {{ capsule.title }}
          </h2>

          {# for each link associated w/ this capsule #}
    {% for link in capsule.get_links %}
          <div class="italic">
               {# anchor #}
            <a class="break-words" href="{% url link.url %}">
              {# link description #}
              {# todo user input should never be considered as 'safe' #}
              {{ link.desc }}
            </a>
          </div>
    {% endfor %}

        </div>
  {% endfor %}

  {% if user.is_superuser %}
        <div class="capsule mb-8">
          <h2 id="django_admin" class="capsule__title text-xl font-bold absolute-no-hover">
            {% translate 'Advanced administration interface' %}
          </h2>
          <div class="italic">
            <a class="break-words" href="{% url 'admin:index' %}">
              {% translate 'Django Administration' %}
            </a>
          </div>
        </div>
  {% endif %}

      </div>

    </div>

  </main>
{% endblock content %}
