{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}
{% load static %}

{% block title %}
  {% translate 'Applicant training capsules' %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section applicant-training">

    <h1>{% translate 'Applicant training capsules' %}</h1>
    <hr/>

    <div class="container-fluid capsules-wrapper">

      {# for each training capsule #}
      {% for capsule in capsules %}
        {% include 'user/partials/training-capsule.html' %}
      {# when 'capsules' array is empty, show message to user #}
      {% empty %}
          <div class="alert alert-warning">
              {% translate 'There are no training capsules for now.' %}
          </div>
      {% endfor %}

    </div>

  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
{% endblock javascript %}
