{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Attribution Table' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <div>
      <h1 class="text-center pb-3">{% translate 'Credits attribution' %}</h1>
      <h1 class="text-center pb-3">{{ group }}</h1>
  {% if attribution.rows %}
        <table class="table table-bordered table-sm table-striped borders-blue
                  blue-text borders-no-horizontal nowrap white-outside-borders">
          <thead class="uppercase border-left-none border-top-none blue-text">
          <tr>
    {% for item in attribution.header %}
              <th class="text-center">{{ item|linebreaks }}</th>
    {% endfor %}
          </tr>
          </thead>
          <tbody>
    {% for row in attribution.rows %}
            <tr>
      {% for item in row %}
                <td
        {% if forloop.counter0 == 0 or forloop.counter0 == 2 %}
                        class="text-right"
        {% elif forloop.counter0 == 5 or forloop.counter0 == 7 %}
                        class="text-center"
        {% endif %}
                >
                  {{ item|linebreaks }}
                </td>
      {% endfor %}
            </tr>
    {% endfor %}
          </tbody>
        </table>
        <div class="confirmSave alert alert-success w-25 max-w-sm text-center"
             role="alert" id="confirmSend">
          {% translate 'Sent' %}
        </div>
        <p>
          <button class="btn btn-link btn-sm orange-text uppercase" type="button"
                  data-bs-toggle="modal" data-bs-target="#sendAttributionModal">
            {% svg_icon_psg 'document' extra_class="orange" width=30 height=30 %}
            {% translate 'Send attribution to program' %}
          </button>
        </p>

        <!-- Modal dialog to send credits attribution  -->
        <div id="sendAttributionModal" class="modal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title absolute-no-hover">
                  {% translate 'Send attribution to program' %}
                </h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                     {% csrf_token %}
                     <label for="comment">
                      {% translate 'Comments (optionnal)' %}
                    </label>
                    <textarea class="form-control" name="message" id="message" rows="6" cols="50"></textarea>
                    <div class="modal-footer">
                      <button class="btn btn-link btn-sm orange-text uppercase" data-bs-dismiss="modal" type="button"
                              onClick="sendAttribution('{{ group.id }}');">
                        {% svg_icon_psg 'document' extra_class="orange" width=30 height=30 %}
                        {% translate 'Send' %}
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  {% else %}                                          {# if attribution.rows #}
        <h4 class="text-center">{% translate 'No credits attribution for the time being' %}</h4>
  {% endif %}
    </div>
  </main>
{% endblock content %}
