{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Profile' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <div class="app-content form-profil">
      <h1 class="profil-title">
        {% translate 'Profile' %}
      </h1>

      {% block message %}
        <span style='color:red'>{{ message }}</span>
      {% endblock message %}

      {# language selection form #}
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="language">
            {% translate 'Language' %}
          </label>
          <select
              class="select form-control custom-select"
              name="language"
              onchange="this.form.submit();"
          >
            <option value="None">
              {% translate 'Choose ...' %}
            </option>

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}

            {% for language in LANGUAGES %}
              <option value="{{ language.0 }}"{% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.1 }}
              </option>
            {% endfor %}
          </select>
        </div>
      </form>

      {# profile edit form #}
      <form action="/user/edit_profile" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}

        {# hide both SAVE & CANCEL buttons via Python (else JS takes 1 second and shows then hides the buttons #}
        {% with consents=user.personal_consent %}
          {# SAVE #}
          <button
              id="edit-profile-save"
              type="submit"
              class="btn btn-link btn-sm orange-text uppercase mr-5"
              {% if policy and not consents and user.type == 'Applicant' %}
                style="display: none"
              {% endif %}
          >
            {% svg_icon_psg 'crochet-orange' extra_class="" width=15 height=15 %}
            {% translate 'Save' %}
          </button>
          {# CANCEL #}
          <button
              id="edit-profile-cancel"
              type="button"
              class="btn btn-link btn-sm orange-text uppercase"
              {% if policy and not consents and user.type == 'Applicant' %}
                style="display: none"
              {% endif %}
              onclick="window.location='/'"
          >
            {% svg_icon_psg 'x-orange' extra_class="" width=15 height=15 %}
            {% translate 'Cancel' %}
          </button>
        {% endwith %}
      </form>
    </div>
  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script>
      const concentration = '{{ user.concentration.type }}';
      const userType = '{{ user.type }}';
      const userId = '{{ user.id }}';

      $(function () {
          // disables the links in user menu & logo
          switch_personal_consent(true)
      });
  </script>
{% endblock javascript %}