{% extends 'base.html' %}
{% load static %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load icon_utils %}
{% load list_utils %}

{% block title %}
  {% translate 'Expert training capsules' %}
{% endblock title %}

{% block content %}
  <main id="page-expert-training" class="ps-main-section expert-training no-sidebar">

    <div class="app-content">

      <div class="flex items-center">
        <h1>{% translate 'Expert training capsules' %}</h1>
      </div>

      <div class="capsules-wrapper mb-4 mt-4">

  {# for each training capsule #}
  {% for capsule in capsules %}
          {% include 'user/partials/training-capsule.html' %}
          {# when 'capsules' array is empty, show message to user #}
    {% empty %}
          <div class="alert alert-warning">
            {% translate 'There are no training capsules for now.' %}
          </div>
  {% endfor %}

  {% if target == 'expert-training' %}
        {# expert must consent to having read all training material #}
        <div class="consent mt-8">
          <div class="checkbox">
            {% csrf_token %}

            {# checkbox consent form element #}
            <label class="official">
              <input
                  id="personal-consent"
                  type="checkbox"
                  name="personal-consent"
                  value="personal-consent"
                  data-user-id="{{ user.id }}"
                  data-personal-consent="{{ user.personal_consent|yesno }}"
                  {% if user.personal_consent %}
                    checked
                  {% endif %}
              >
              {% translate 'I confirm having followed the training and read the documentation.' noop %}
            </label>

          </div>
        </div>
  {% endif %}

      </div>

    </div>

  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  {# https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules #}
  <script src="{% static 'js/modules/expert-training.js' %}" type="module"></script>
{% endblock javascript %}
