{% load i18n %}
{% load icon_utils %}
{% load list_utils %}

{# milestone: users (aka portfolios) table #}
<table class="table table-bordered table-sm table-striped borders-blue blue-text borders-no-horizontal
nowrap white-outside-borders portfolios">
  {# recommended by SonarLint for accessibility #}
  <caption class="hidden">
    {% translate "List of portfolios for selected semester group" %}
  </caption>

  {# table header row #}
  <thead class="border-top-none thead-light">
    <tr class="border-right-none">

      {# col1 - applicant #}
      <th class="border-left-none">
        {% translate 'Applicant' %}
        {# all roles except 'expert' have email icon btn to notify applicants #}
        {% if user_type != 'Expert' %}
          <button class="btn btn-link btn-sm orange-text uppercase"
                  type="button"
                  id="notifySemesterApplicant"
                  data-bs-toggle="modal"
                  data-bs-target="#semesterNotifyModal"
                  onclick="setTargetedUser('Applicant')"
          >
            {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
          </button>
        {% endif %}
      </th>

      {# col2-A - reviewer + email btn (supervisor-only) #}
      {% if user_type in "Supervisor,Agent" %}
        <th>
          {% translate 'Reviewer' %}
          <button class="btn btn-link btn-sm orange-text uppercase"
                  type="button"
                  id="notifySemesterReviewer"
                  data-bs-toggle="modal"
                  data-bs-target="#semesterNotifyModal"
                  onclick="setTargetedUser('Reviewer')"
          >
            {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
           </button>
        </th>
      {# col2-B - semester (expert-only) #}
      {% elif user_type == 'Expert' %}
        <th>{% translate 'Semester' %}</th>
      {% endif %}

      {# col3, col4 - student & reviewer consent #}
      <th>{% translate "Student's commitment" %}</th>
      <th>{% translate "Reviewer's commitment" %}</th>

      {# col5 +X - 1 col per milestone up to current milestone #}
      {% for num in current_milestone|xrange %}
        <th>{% translate 'Step' %} {{ num }} - {% translate 'Final Grade' %}</th>
      {% endfor %}
    </tr>
  </thead>
  {# end of table header row #}

  {# table body #}
  <tbody>
    {# loop through all applicant portfolios (user/views#pick_semester_continuous) #}
    {% for a_p in applicant_portfolios %}
      <tr class="border-right-none">

        {# col1 - applicant name + portfolio link #}
        <td class="border-left-none col-portfolio">
          {# if portfolio available for that applicant, show link #}
          {% if a_p.portfolio %}
            <a
                class="portfolio-id"
                data-portfolio-id="{{ a_p.portfolio.id }}"
                data-expert-consent="{{ a_p.portfolio.expert_consent }}"
                href="{% url 'portfolio_index' a_p.portfolio.id %}"
                {% if a_p.portfolio.status == 'Final' or a_p.portfolio.status == 'Underreview' %}
                  class="raw-green-text"
                {% elif a_p.portfolio.status == 'Certified' or a_p.portfolio.status == 'Archived' %}
                  class="blue-text"
                {% endif %}
            >
              {{ a_p.applicant }}
            </a>

            {# load expert policy text to be retrieved in JS modal when asking for consent #}
            {# todo XSS risk since we're assuming the text entered in Django admin is safe #}
            <div class="expert-policy_{{ a_p.portfolio.id }} hidden">
              {{ portfolio_type.policy_expert|safe }}
            </div>
          {# if no portfolio link available, just show applicant name #}
          {% else %}
            <span>{{ a_p.applicant }}</span>
          {% endif %}

          {# non-expert user has email btn to notify applicant #}
          {% if user_type != 'Expert' %}
            <button class="btn btn-link btn-sm orange-text uppercase"
                    type="button"
                    id="notifyApplicant"
                    data-bs-toggle="modal"
                    data-bs-target="#semesterNotifyModal"
                    onclick="setTargetedUser('{{ a_p.applicant.email }}')"
            >
              {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
            </button>
          {% endif %}
        </td>
        {# end: col1 #}

        {# col2 - reviewer association #}
        {% if user_type in "Supervisor,Agent" %}
          <td class="col-reviewer">
            {# dropdown of available reviewers #}
            <select name="reviewer" onchange="setReviewer(this, '{{ a_p.applicant.id }}')">
              <option value="None">
                {% translate 'Select' as select %}{{ select }}
              </option>

              {% for reviewer in reviewers %}
                <option value="{{ reviewer.id }}"{% if a_p.applicant.reviewer == reviewer %} selected{% endif %}>
                  {{ reviewer.first_name }}
                </option>
              {% endfor %}
            </select>
          </td>
        {% endif %}
        {# end: col2 #}

        {# col: student consent #}
        <td class="consent-student">
          {{ a_p.applicant.personal_consent|yesno }}
        </td>

        {# col: reviewer consent #}
        <td class="consent-teacher">
          {% with applicant_id=a_p.applicant.id %}
            <label for="tconsent-{{ applicant_id }}"></label>
            <input
                id="tconsent-{{ applicant_id }}"
                type="checkbox"
                {% if a_p.applicant.reviewer_consent %}
                  checked
                {% endif %}
                value="{{ a_p.applicant.reviewer_consent|yesno }}"
                onchange="setReviewerConsent(this, '{{ applicant_id }}')"
            />
          {% endwith %}
        </td>

        {# col: grades - 1 column per assessment #}
        {% for key, value in a_p.assessment_grades.items %}
          <td>{{ value }} %</td>
        {% endfor %}
        {# end cols: consent, grades #}

        {# cols: loop through all achievements for each applicant #}
        {% for a in a_p.achievements_list %}
          {% if a is None %}
            <td colspan="2"{% if a_p.num_achievements < forloop.counter %}class="shaded"{% endif %}></td>
          {% else %}
            {# e.g. v1 Submitted      05 Aug #}
            <td class="compact border-right-none {% if a.status == 'Submitted' %}action-required
                                                 {% elif a.status == 'Final' %}raw-green-text
                                                 {% endif %}"
            >
              {# v1 #}
              {% if user_type != 'Expert' %}
                v{{ a.version }}
              {% endif %}
              {# status (e.g. Submitted, Final, etc.) #}
              {% translate a.status %}
            </td>
            {# date of the achievement + link to it #}
            <td class="compact border-left-none">
              <a href="{% url 'get_achievement' a.id %}">
                {{ a.status_changed|date:"d M" }}
              </a>
            </td>
          {% endif %}
        {% endfor %}
        {# end: achievements for loop #}

        {# cols: supervisor-only #}
        {% if user_type in 'Supervisor,Agent' %}
          {# status = certified, archived, or reviewed #}
          {% if a_p.portfolio.status in "Certified,Archived,Reviewed" %}
            <td colspan="2"
                class="border-right-none {% if a_p.portfolio.status in "Certified,Archived" %}
                raw-green-text{% endif %}"
            >
              {% translate a_p.portfolio.status context 'portfolio' %}
            </td>
          {# status = under-review #}
          {% elif a_p.portfolio.status == 'Underreview' %}
            <td>
              <a href="mailto:{{ a_p.applicant.expert.email }}">{{ a_p.applicant.expert }}</a>
            </td>
            <td class="border-right-none" id="td_{{ a_p.portfolio.id }}">
              {% translate 'Sent' %} {{ a_p.portfolio.status_changed|date:"d M" }}
              <button class="btn btn-link btn-sm orange-text uppercase"
                      type="button"
                      id="send_{{ a_p.applicant.id }}"
                      data-bs-toggle="modal"
                      data-bs-target="#sendPortfolioModal"
                      onClick="sendPortfolio('{{ a_p.portfolio.id }}', '{{ a_p.applicant.expert }}')"
              >
                {% svg_icon_psg 'soumettre' extra_class="orange" width=20 height=20 %}
                {% translate 'Send again' %}
              </button>
            </td>
          {% endif %}
          {# end: status in [certified, archived, reviewed] #}

        {% endif %}
        {# end: user_type == 'Supervisor' #}
      </tr>
    {% endfor %}
    {# end: for a_p in applicant_portfolio #}
  </tbody>
</table>
