{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load icon_utils %}
{% load list_utils %}

{% block title %}
  {% translate 'Achievements tracking' %}
{% endblock title %}

{% block content %}
  <main id="page-pick-portfolio" class="ps-main-section no-sidebar pick-portfolio">
    {# .app-content #}
    <div class="app-content">
      <div class="flex items-center">
        <h1>{% translate 'Achievements tracking table' %}</h1>
      </div>
      <div class="container mb-4 mt-4">
        <div class="list-group list-group-flush pt-2">
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">

              {# do I have a portfolio as an expert / reviewer / supervisor / etc. ? #}
  {% if my_portfolio_id %}
            <div>
              <h4>
                <a href="{% url 'portfolio_index' my_portfolio_id %}">
                  {% translate 'Open my portfolio' %}
                </a>
              </h4>
            </div>
  {% endif %}

          {# non-expert users have option to switch semester from dropdown #}
  {% if user_type != 'Expert' %}
            {# non-expert: show semester dropdown #}
            <div>
              <form action="{% url 'pick_semester' %}" method="POST">
                <div class="form-inline">
                  <div class="col-auto">
                    {% csrf_token %}
                    {% crispy form_pick_group %}
                  </div>
                </div>
              </form>
            </div>

          {# non-expert && not reviewer: show attribution table #}
    {% if user_type != 'Reviewer' %}
            <div class="text-right">
              <h4>
                {# continuous: show link to open attribution table #}
                {% if is_continuous %}
                  <a href="{% url 'group_attribution' group_id %}">
                    {% translate 'See Attribution Table' %}
                  </a>
                {# milestone: show buttons to toggle revision mode #}
                {% else %}
                  <a href="" id="btn-toggle-revision-mode" class="cursor-pointer">
                    {% if group_status == 'Underreview' %}
                      <span id="btn-lbl-underreview" class="">
                        {% translate 'Exit revision mode' %}
                      </span>
                    {% elif group_status == 'Final' %}
                      <span id="btn-lbl-reviewed" class="">
                        {% translate 'Portfolios finalized' %}
                      </span>
                    {% else %}
                      <span id="btn-lbl-reviewed" class="">
                        {% translate 'Switch to revision mode' %}
                      </span>
                    {% endif %}
                  </a>
                {% endif %}
              </h4>
            </div>
    {% endif %}
    {# end: user_type != Reviewer #}

  {% endif %}
  {# end: user_type != Expert #}

  {% if user_type in 'Expert,Supervisor' %}
            <div>
              <h4>
                {# expert training link #}
    {% if user_type == 'Expert' %}
                {% translate "View training" as view_training %}
    {% else %}
                {% translate "View experts'training" as view_training %}
    {% endif %}
                <a id=""
                   title="{{ view_training }}"
                   rel="help"
                   href="{% url 'view_expert_training' %}"
                   target="_blank"
                >
    {% if user_type == 'Expert' %}
                  <!-- &#x1F4DA; or &#128218; -->
                  <span class="text-2xl">📚</span>
    {% endif %}
                  {{ view_training }}
                </a>
              </h4>
            </div>
  {% endif %}

           </div>
          </div>
        </div>
      </div>

      {# users (aka portfolios) table #}
  {% if is_continuous %}
      {% include "user/pick_portfolio.continuous.html" %}
  {% else %}
      {% include "user/pick_portfolio.milestone.html" %}
  {% endif %}
    </div>
    {# end: .app-content #}

    {# load modals #}

  {# non-expert: load 2 modals #}
  {% if user_type != 'Expert' %}
    {# all non-experts #}
    {% include 'user/partials/modal.semester-notify.html' %}

    {# all non-experts except reviewer = only supervisor #}
    {% if user_type != 'Reviewer' %}
      {% include 'user/partials/modal.send-portfolio.html' %}
      {% include 'user/partials/modal.remove-portfolio.html' %}
    {% endif %}
  {# expert: portfolio consent by reviewer #}
  {% elif user_type == 'Expert' %}
    {% include 'user/partials/modal.portfolio-expert-consent.html' %}
  {% endif %}

  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    const groupID = "{{ group_id }}";
    const userType = "{{ user_type }}";
    const isContinuous = {{ is_continuous|yesno:'true,false' }};

    {% if is_milestone %}
      const toggleURL = "{% url 'toggle_revision_mode' group_id %}";
    {% endif %}
  </script>

  {# load main JS module for this template #}
  <script src="{% static 'js/modules/pick-portfolio.js' %}" type="module"></script>
{% endblock javascript %}
