{% load i18n %}
{% load icon_utils %}
{% load list_utils %}

{# users (aka portfolios) table #}
<table class="table table-bordered table-sm table-striped borders-blue blue-text borders-no-horizontal
              nowrap white-outside-borders portfolios">
  {# recommended by SonarLint for accessibility #}
  <caption class="hidden">
    {% translate "List of portfolios for selected semester group" %}
  </caption>

  {# table header row #}
  <thead class="border-top-none thead-light">
  <tr class="border-right-none">

    {# col1 - applicant #}
    <th class="border-left-none">
      {% translate 'Applicant' %}
      {# all roles except 'expert' have email icon btn to notify applicants #}
      {% if user_type != 'Expert' %}
        <button class="btn btn-link btn-sm orange-text uppercase"
                type="button"
                id="notifySemesterApplicant"
                data-bs-toggle="modal"
                data-bs-target="#semesterNotifyModal"
                onclick="setTargetedUser('Applicant')"
        >
          {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
        </button>
      {% endif %}
    </th>

    {# col2-A - reviewer + email btn (supervisor-only) #}
    {% if user_type == "Supervisor" %}
      <th>
        {% translate 'Reviewer' %}
        <button class="btn btn-link btn-sm orange-text uppercase"
                type="button"
                id="notifySemesterReviewer"
                data-bs-toggle="modal"
                data-bs-target="#semesterNotifyModal"
                onclick="setTargetedUser('Reviewer')"
        >
          {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
        </button>
      </th>
      {# col2-B - semester (expert-only) #}
    {% elif user_type == 'Expert' %}
      <th>{% translate 'Semester' %}</th>
    {% endif %}

    {# col3, col4 #}
    <th>{% translate 'Prog' %}</th>
    <th>{% translate 'Target' %}</th>

    {# col5 +6 - 1 col per achievement up to 6 #}
    {% for num in max_num_achievements|xrange %}
      <th colspan="2">{% translate 'Achievement' %} {{ num }}</th>
    {% endfor %}

    {# colX - expert + email icon btn to notify experts - supervisor-only #}
    {% if user_type in "Supervisor,Agent" %}
      <th>
        {% translate 'Expert' %}
        <button class="btn btn-link btn-sm orange-text uppercase"
                type="button"
                id="notifySemesterExpert"
                data-bs-toggle="modal"
                data-bs-target="#semesterNotifyModal"
                onclick="setTargetedUser('Expert')"
        >
          {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
        </button>
      </th>
      <th class="border-right-none"></th>
    {% endif %}
  </tr>
  </thead>
  {# end of table header row #}

  {% translate 'Select' as select %}

  {# table body #}
  <tbody>
  {# loop through all applicant portfolios (user/views#pick_semester_continuous) #}
  {% for a_p in applicant_portfolios %}
    <tr class="border-right-none">

      {# col1 - applicant name + portfolio link #}
      <td class="border-left-none col-portfolio">
        {# if portfolio available for that applicant, show link #}
        {% if a_p.portfolio %}
          <a
              class="portfolio-id"
              data-portfolio-id="{{ a_p.portfolio.id }}"
              data-expert-consent="{{ a_p.portfolio.expert_consent }}"
              href="{% url 'portfolio_index' a_p.portfolio.id %}"
              {% if a_p.portfolio.status == 'Final' or a_p.portfolio.status == 'Underreview' %}
              class="raw-green-text"
              {% elif a_p.portfolio.status == 'Certified' or a_p.portfolio.status == 'Archived' %}
              class="blue-text"
              {% endif %}
          >
            {{ a_p.applicant }}
          </a>

          {# load expert policy text to be retrieved in JS modal when asking for consent #}
          {# todo XSS risk since we're assuming the text entered in Django admin is safe #}
          <div class="expert-policy_{{ a_p.portfolio.id }} hidden">
            {{ portfolio_type.policy_expert|safe }}
          </div>
          {# if no portfolio link available, just show applicant name #}
        {% else %}
          <span>{{ a_p.applicant }}</span>
        {% endif %}

        {# non-expert user has email btn to notify applicant #}
        {% if user_type != 'Expert' %}
          <button class="btn btn-link btn-sm orange-text uppercase"
                  type="button"
                  id="notifyApplicant"
                  data-bs-toggle="modal"
                  data-bs-target="#semesterNotifyModal"
                  onclick="setTargetedUser('{{ a_p.applicant.email }}')"
          >
            {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
          </button>
        {% endif %}
      </td>
      {# end: col1 #}

      {# col2 - reviewer association #}
      {% if user_type == "Supervisor" %}
        <td class="col-reviewer">
          {# dropdown of available reviewers #}
          <select name="reviewer" onchange="setReviewer(this, '{{ a_p.applicant.id }}')">
            <option value="None">
              {{ select }}
            </option>

            {% for reviewer in reviewers %}
              <option value="{{ reviewer.id }}"{% if a_p.applicant.reviewer == reviewer %} selected{% endif %}>
                {{ reviewer.first_name }} {{ reviewer.last_name.0 }}.
              </option>
            {% endfor %}
          </select>
        </td>
      {% endif %}
      {# end: col2 #}

      {# cols: expert only sees in which group the applicant is #}
      {% if user_type == 'Expert' %}
        <td>{{ a_p.applicant.group }}</td>
      {% endif %}
      {# end cols: applicant group #}

      {# col: program url (continuous-only) + number of credits #}
      <td class="text-right compact">
        <a href="{{ a_p.portfolio.program.get_url }}"
           target="_blank"
           data-bs-toggle="tooltip"
           title="{{ a_p.portfolio.program }}"
        >
          {{ a_p.portfolio.program.id }}
        </a>
      </td>

      {# only show credit dropdown if user is associated w/ a portfolio #}
      <td class="text-right">
        {% if user_type == 'Agent' %}
          <label>
            <select
                name="expert"
                id="select_credits_{{ a_p.applicant.id }}"
                onchange="setTargetCredits(this, '{{ a_p.applicant.id }}')"
            >
              <option value="None">
                {{ select }}
              </option>
              {% for credit in a_p.available_credits %}
                <option value="{{ credit }}"{% if a_p.applicant.nb_credits == credit %} selected{% endif %}>
                  {{ credit }}
                </option>
              {% endfor %}
            </select>
          </label>
        {% else %}
          {{ a_p.applicant.nb_credits|default_if_none:'' }}
        {% endif %}
      </td>

      {# cols: loop through all achievements for each applicant #}
      {% for a in a_p.achievements_list %}
        {% if a is None %}
          <td colspan="2" {% if a_p.num_achievements < forloop.counter %}class="shaded"{% endif %}></td>
        {% else %}
          {# e.g. v1 Submitted      05 Aug #}
          <td class="compact border-right-none {% if a.status == 'Submitted' %}action-required
                                                 {% elif a.status == 'Final' %}raw-green-text
                                                 {% endif %}"
          >
            {# v1 #}
            {% if user_type != 'Expert' %}
              v{{ a.version }}
            {% endif %}
            {# status (e.g. Submitted, Final, etc.) #}
            {% translate a.status %}
          </td>
          {# date of the achievement + link to it #}
          <td class="compact border-left-none">
            <a href="{% url 'get_achievement' a.id %}">
              {{ a.status_changed|date:"d M" }}
            </a>
          </td>
        {% endif %}
      {% endfor %}
      {# end: achievements for loop #}

      {# cols: supervisor-only #}
      {% if user_type in 'Supervisor,Agent' %}
        {# status = certified, archived, or reviewed #}
        {% if a_p.portfolio.status in "Certified,Archived,Reviewed" %}
          <td colspan="2"
              class="border-right-none {% if a_p.portfolio.status in "Certified,Archived" %}
                raw-green-text{% endif %}"
          >
            {% translate a_p.portfolio.status context 'portfolio' %}
          </td>
          {# status = under-review #}
        {% else %}
          {# col: show expert dropdown selector + option to remove user from group or notify expert #}
          <td class="expert-selector">
            {# expert dropdown #}
            <select
                name="expert"
                id="select_expert_{{ a_p.portfolio.id }}"
                onchange="setExpert(this, '{{ a_p.applicant.id }}', '{{ a_p.portfolio.status }}')"
                {% if a_p.portfolio.status == 'Underreview' %}
                disabled
                {% endif %}
            >
              <option value="None">
                {{ select }}
              </option>

              {% for expert in a_p.experts %}
                <option value="{{ expert.id }}"{% if a_p.applicant.expert == expert %} selected{% endif %}>
                  {{ expert }}{% if expert.group %} ({{ expert.group.semester.year }}){% endif %}
                </option>
              {% endfor %}
            </select>

            {# icon btn to send email to expert #}
            <button class="btn btn-link btn-sm orange-text uppercase"
                    type="button"
                    id="showNotifyExpert_{{ a_p.applicant.id }}"
                    data-bs-toggle="modal"
                    data-bs-target="#semesterNotifyModal"
                {% if a_p.applicant.expert is None %}
                    style="visibility:hidden"
                {% endif %}
                    onclick="setTargetedUser('{{ a_p.applicant.id }}')"
            >
              {% svg_icon_psg 'enveloppe-orange' extra_class="mb-1" width=16 height=16 %}
            </button>
          </td>

          {# btn to remove user from group OR btn to send portfolio to expert #}
          <td class="border-right-none" id="td_{{ a_p.portfolio.id }}">
            {% if a_p.final_achievements < 3 %}
              <a href="{% url 'remove_user' a_p.applicant.id %}">
                {% translate 'Remove from group' %}
              </a>
            {% else %}
              {% if a_p.portfolio.status == 'Underreview' %}
                {% translate 'Sent' %} {{ a_p.portfolio.status_changed|date:"d M" }}
                <button class="btn btn-link btn-sm orange-text uppercase"
                        type="button"
                        id="remove_{{ a_p.applicant.id }}"
                        data-bs-toggle="modal"
                        data-bs-target="#removePortfolioModal"
                        onClick="removePortfolio('{{ a_p.portfolio.id }}')"
                >
                  {% svg_icon_psg 'retirer' extra_class="orange" width=20 height=20 %}
                  {% translate 'Remove' %}
                </button>
              {% endif %}
              <button class="btn btn-link btn-sm orange-text uppercase"
                      type="button"
                      id="send_{{ a_p.applicant.id }}"
                      data-bs-toggle="modal"
                      data-bs-target="#sendPortfolioModal"
                      onClick="sendPortfolio('{{ a_p.portfolio.id }}')"
                  {% if not a_p.applicant.expert or a_p.portfolio.status not in 'Final,Underreview' %}
                      disabled
                  {% endif %}
              >
                {% svg_icon_psg 'soumettre' extra_class="orange" width=20 height=20 %}
                {% if a_p.portfolio.status == 'Underreview' %}
                  {% translate 'Send again' %}
                {% else %}
                  {% translate 'Send to expert' %}
                {% endif %}
              </button>
            {% endif %}
          </td>
        {% endif %}
        {# end: status in [certified, archived, reviewed] #}
      {% endif %}
      {# end: user_type == 'Supervisor' #}
    </tr>
  {% endfor %}
  {# end: for a_p in applicant_portfolio #}
  </tbody>
</table>