{% extends "exception.html" %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Page not found' %}{% endblock %}

{% block content %}
  <h1>{% translate 'Page not found' %}</h1>
  <p>{% translate "We're sorry, but the requested page could not be found." %}</p>
{% endblock content %}
