{% extends "exception.html" %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Server error (500)' %}{% endblock %}

{% block content %}
  <h1>{% translate 'Internal Server Error (500)' %}</h1>
  <p>
    {% translate "There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}
  </p>
{% endblock content %}
