{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="{{ LANGUAGE_CODE }}">
<head>
  {% load compress %}
  {% load i18n %}
  {% load icon_utils %}
  {% load static %}

  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% block title %}{% endblock title %} | {{ app_name }}
  </title>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicons/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicons/favicon-32x32.png' %}">
  <link rel="mask-icon" href="{% static 'icons/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-config" content="{% static 'icons/favicons/manifest.json' %}">
  <meta name="theme-color" content="#ffffff">

{# exclude from Django compress since this causes issues w/ double compression (e.g. inline SVG .form-select) #}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.2/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/tailwind-3.3.3/tailwind.build.min.css' %}">
{% compress css %}
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="{% static 'vendor/fonts/sourcesanspro.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/quill-1.3.7/quill.snow.css' %}">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{{ STATIC_URL }}editor-{{ editor_version }}/css/certification.css">
{% endcompress %}

</head>
<body data-is-milestone="{{ is_milestone|yesno:'true,false' }}">
<div class="container-fluid ps-page-wrapper">
  <div class="row flex-xl-nowrap" id="main-row">
    <header>
      <div class="menu-wave-header">
        <svg class="menu-wave-header-light"
             data-name="Layer 2"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 1922 360.02"
             preserveAspectRatio="none">
          <path d="M-.5.5h1921v221s-843,140-1224,138-697-92-697-92Z" transform="translate(1)"></path>
        </svg>
        <svg class="menu-wave-header-dark"
             data-name="Layer 1"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 1922 408"
             preserveAspectRatio="none">
          <path d="M-.5.5h1921v299s-206,108-484,108-530-134-818-134-619,100-619,100Z" transform="translate(1)"></path>
        </svg>
      </div>

      <nav class="fixed-top navbar-light navbar-primary custom-navbar-primary">
        <div class="custom-navbar-primary-contents grid grid-cols-3 grid-flow-row items-center">
          <div class="col-span-1">
            {% translate 'Portfolio' as to_portfolio %}
            <a data-id="logo-portfolio" href="{% url 'profile' %}">
              <h1 class="main-header">{{ to_portfolio }}</h1>
              <h2 class="sub-header absolute-no-hover">{% translate 'Recognition of experiential prior learning' %}</h2>
            </a>
          </div>
          <!-- Brand -->
          <div class="col-span-1 flex items-center justify-center pt-2">
            <a class="app-navbar-brand navbar-brand navbar-logo min-w-0" href="{{ home_url }}" target="_blank">
              {% svg_icon_psg 'Logo-Passage-Blanc' %}
            </a>
          </div>
          <div class="col-span-1">
            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler sidebar-toggler d-md-down-none sm:hidden" type="button"
                    data-bs-toggle="sidebar-lg-show">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <ul class="navbar-nav flex flex-wrap items-end">
              <li class="nav-item dropdown flex-auto">
  {% if mode == 'read' %}
                <a class="nav-link menu-icon-right no-flex ps-navbar-user-menu absolute-no-hover"
                   href="#" role="button">
                  {% svg_icon_psg 'profil' extra_class="mr-2" width=30 height=30 %}
                  <span>{{ portfolio.user }}</span>
                </a>
  {% else %}
                <a class="nav-link dropdown-toggle menu-icon-right no-flex ps-navbar-user-menu" href="#"
                   id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% svg_icon_psg 'profil' extra_class="mr-2" width=30 height=30 %}
    {% if user.is_authenticated %}
                  <span>{{ user.first_name }}</span>
                  {% svg_icon_psg 'derouler-blanc' extra_class="ml-2 user-profile-expand-icon" width=30 height=30 %}
                </a>
                <div class="dropdown-menu dropdown-menu-right bg-menu-navbar"
                     aria-labelledby="navbarDropdown">
                  <a data-id="edit_profile" class="dropdown-item" href="{% url 'edit_profile' %}">
                    <h3>{% translate 'Profile' %}</h3>
                  </a>
                  <a data-id="portfolio" class="dropdown-item" href="{% url 'profile' %}">
                    <h3>
                      {% if user.type == 'Applicant' %}{{ to_portfolio }}{% else %}{% translate 'Select an applicant' %}{% endif %}
                    </h3>
                  </a>
      {% if user.is_superuser or user.type in 'Agent,Supervisor' and admin_link == 'view_admin' %}
                  <a data-id="django_admin" class="dropdown-item" href="{% url admin_link %}">
                    <h3>{% translate 'Site administration' %}</h3>
                  </a>
      {% else %}
        {% if is_continuous %}
                  <a data-id="example" class="dropdown-item" href="{% url 'portfolio_example' %}">
                    <h3>{% translate 'See an example' %}</h3>
                  </a>
        {% endif %}
      {% endif %}
                  <!-- 'logout_view' comes from dproject/context_processors.py (different if AAD vs Django auth) -->
                  <form id="logout-form" method="post" action="{% url logout_view %}">
                    {% csrf_token %}
                    <a data-id="logout" class="dropdown-item" href="#" onclick="$(this).parent().submit()">
                      <h3>{% translate 'Logout' %}</h3>
                    </a>
                  </form>
    {% else %}
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
                  <span>
      {% for language in LANGUAGES %}
                    {% if language.0 == LANGUAGE_CODE %}{{ language.1 }}{% endif %}
      {% endfor %}
                  </span>
                  {% svg_icon_psg 'derouler-blanc' extra_class="ml-2 user-profile-expand-icon" width=30 height=30 %}
{#                </a>#}
                <div class="dropdown-menu dropdown-menu-right bg-menu-navbar"
                     aria-labelledby="navbarDropdown">
      {% for language in LANGUAGES %}
                  <a class="dropdown-item" href="#" id="{{ language.0 }}" onclick="setLang('{{ language.0 }}')">
                    <h3>{{ language.1 }}</h3>
                  </a>
      {% endfor %}
                  <form action="{% url 'set_language' %}" method="post" id="set_language">
                    {% csrf_token %}
                    <input type="hidden" name="language" id="language" value="">
                  </form>
    {% endif %}                                                                         {# if user.is_authenticated #}
                </div>
                <a
                    class="nav-link menu-icon-right no-flex"
                    id="help-link"
                    title="{% translate 'Help' %}"
                    rel="help"
                    target="_blank"
                    {# applicant has contextual help link to sub-sections of /user/applicant_training - HelpLink #}
                    {% if user.type == 'Applicant' %}
                      href="{{ home_url }}{{ help }}"
                    {# staff are always redirected to /user/expert_training, no sub-section links #}
                    {% else %}
                      href="{% url 'view_expert_training' %}"
                    {% endif %}
                >
                  {% svg_icon_psg 'interrogation-blanc' width=30 height=30 %}
                </a>
  {% endif %}                                                                                   {# if mode == 'read #}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block aside %}{% endblock aside %}

    {% block content %}{% endblock content %}

  </div>
</div>

<footer class="ps-page-footer">
  <div class="generic-footer footer-dark">
    <h5 class="margin-bottom-no">
      {{ app_copyright|safe }}
      <span class="ml-2 mr-2">|</span>
      <a href="https://epassages.ca" target="_blank" class="link-small-font">{{ app_name }}</a> {% translate 'is free software under the terms of the' %}
      <a href="https://forge.gouv.qc.ca/licence/{% translate 'en/liliq-v1-1/#strong-reciprocity-liliq-r' %}"
         target="_blank" class="link-small-font">
        {{ app_licence }}
      </a>
      <span class="ml-2 mr-2">|</span>
      {% translate 'The resulting work is made available under the terms of the' %}
      <a href="https://creativecommons.org/licenses/by-sa/4.0/{% translate '?ref=chooser-v1' %}" target="_blank" rel="license noopener noreferrer" class="link-small-font">
        CC BY-SA 4.0
        <img style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
        <img style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
        <img style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1">
      </a>
      <span class="ml-2 mr-2">|</span>
      <a href="https://doc.epassages.ca/index.php/contributions/" target="_blank" class="link-small-font">{% translate 'Contributions' %}</a>
      <span class="ml-2 mr-2">|</span>
      {% translate 'Version' %} {{ app_version }}
    </h5>
  </div>
</footer>

{% comment 'Display all variables available in the current template' %}
    <pre style="padding-bottom:60px;padding-left:250px;">
      {% filter force_escape %} {% debug %} {% endfilter %}
    </pre>
  {% endcomment %}

{% block javascript %}
  {% compress js %}
{#  Vendor JavaScript #}
    <script src="{% static 'vendor/jquery-3.7.0/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper-2.11.7/popper.min.js' %}"></script>
    <script src="{% static 'vendor/popper-2.11.8/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-5.3.2/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/osvaldas/custom-file-input.js' %}"></script>
    <script src="{% static 'vendor/svgxuse-1.2.6/svgxuse.min.js' %}"></script>
{#  Vendor Editor JavaScript #}
    <script src="{% static 'vendor/mousetrap-1.6.5/mousetrap.min.js' %}"></script>
    {# fix jumping cursor: https://billauer.co.il/blog/2021/12/quill-cursor-jump/ #}
    <script src="{% static 'vendor/quill-1.3.7/quill.altered.js' %}"></script>
    {#<script src="{% static 'vendor/quill-1.3.7/quill.min.js' %}"></script>#}
{#  Custom JavaScript #}
    <script src="{{ STATIC_URL }}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
    <script src="{% static 'js/portfolio.js' %}"></script>
  {% endcompress %}
    <script>
      // N.B. Safari does not scope const in module
      var iconsVersion = "{{ icons_version }}";

      // make application mode (continuous VS milestone) available in JS
      const is_continuous = {{ is_continuous|yesno:'true,false' }};
      const is_milestone = {{ is_milestone|yesno:'true,false' }};
    </script>
{% endblock javascript %}
</body>
</html>
