{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}
{% load static %}

{% block aside %}

  {# load left menu ONLY if 'portfolio' is passed in context when loading any view that extends 'dashboard.html' #}
  {% if portfolio %}
    <nav class="app-content navbar navbar-dark left-menu" id="side-nav-bar">

      {# Left-side menu #}
      <ul class="navbar-nav">

        {# TOP SECTION #}
        <li class="nav-item">

          {# generic menu entry for both modes #}
          <h2 class="nav-link-custom border-style {% if portfolio_active %}active{% endif %}">
            {# MILESTONE: when accessing shared portfolio, do NOT put 'example' ID in left-menu 'Portfolio' item #}
            {#<a href="{% if portfolio.share %}{% url 'profile' %}{% else %}{% url 'portfolio_index' portfolio.id %}{% endif %}"#}
            <a href="{% url 'portfolio_index' portfolio.id %}"
               class="nav-link text-lg items-center">
              {% svg_icon_psg 'portfolio-hover-on' extra_class="" width=30 height=30 %}
              <span class="ml-2">{% translate 'Portfolio' %}</span>
            </a>
          </h2>

          {# 'continuous' menu items #}
          {% if is_continuous %}
            <h2 class="nav-link-custom border-style {% if skills_active %}active{% endif %}">
              <a href="{% url 'skills_overview' portfolio.id %}"
                 class="nav-link text-lg items-center">
                {% svg_icon_psg 'competence' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Skills' %}</span>
              </a>
            </h2>
            <h2 class="nav-link-custom border-style {% if knowledge_type == 'knowledge' %}active{% endif %}">
              <a href="{% url 'knowledge' portfolio.id 'knowledge' %}"
                 class="nav-link text-lg items-center">
                {% svg_icon_psg 'savoir' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Knowledge' %}</span>
              </a>
            </h2>
            <h2 class="nav-link-custom border-style {% if knowledge_type == 'soft-skill' %}active{% endif %}">
              <a href="{% url 'knowledge' portfolio.id 'soft-skill' %}"
                 class="nav-link text-lg items-center">
                {% svg_icon_psg 'savoir-etre' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Soft Skills' %}</span>
              </a>
            </h2>
            {# TODO UQAR-SPECIFIC #}
            <h2 class="nav-link-custom border-style {% if facets_active %}active{% endif %}">
              <a href="{% url 'facets_overview' portfolio.id %}"
                 class="nav-link text-lg items-center">
                {% svg_icon_psg 'niveaux-expertise' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Facets' %}</span>
              </a>
            </h2>

          {# 'milestone' menu items #}
          {% else %}
            {# Dynamic menu entries based on custom competency types #}
            {# origin: dproject/context_processors.py:competency_info #}
            {% for comp_type in competency_types %}
              <h2 class="nav-link-custom border-style {% if active_comp_type == comp_type.id %}active{% endif %}">
                <a href="{% url 'custom_competencies_overview' portfolio.id comp_type.id %}"
                   class="nav-link text-lg items-center">
                  {% svg_icon_psg comp_type.icon_name extra_class="" width=30 height=30 %}
                  <span class="ml-2">{{ comp_type.name }}</span>
                </a>
              </h2>
            {% endfor %}
          {% endif %}

          <br/>
          {% if is_milestone %}
            <h4 class="nav-link-custom {% if comments_active %}active{% endif %}">
              <a href="{% url 'comments' portfolio.id %}" class="nav-link text-sm items-center">
                {% svg_icon_psg 'commentaire' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Comments' %}</span>
              </a>
            </h4>
          {% endif %}

          <h4 class="nav-link-custom {% if glossary_active %}active{% endif %}">
            <a href="{% url 'glossary' portfolio.id %}" class="nav-link text-sm items-center">
              {% svg_icon_psg 'glossaire' extra_class="" width=30 height=30 %}
              <span class="ml-2">{% translate 'References' %}</span>
            </a>
          </h4>

          <h4 class="nav-link-custom {% if document_active %}active{% endif %}">
            <a href="{% url 'documents_index' portfolio.id 0 %}" class="nav-link text-sm items-center">
              {% svg_icon_psg 'document' extra_class="" width=30 height=30 %}
              <span class="ml-2">{% translate 'Documents' %}</span>
            </a>
          </h4>

          {% if is_continuous %}
            <h4 class="nav-link-custom  {% if explicitation_active %}active{% endif %}">
              <a href="{% url 'explicitation_zones' portfolio.id %}" class="nav-link text-sm items-center">
                {% svg_icon_psg 'zone-explicitation' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Explicitation zones' %}</span>
              </a>
            </h4>
          {% endif %}

            <h4 class="nav-link-custom {% if assessment_active %}active{% endif %}">
              <a href="{% url 'view_assessments' %}"
                 class="nav-link text-sm items-center">
                {% svg_icon_psg 'niveaux-expertise' extra_class="" width=30 height=30 %}
                <span class="ml-2">{% translate 'Assessment' %}</span>
              </a>
            </h4>

          {# applicant training #}
          <h4 class="nav-link-custom {% if training_active %}active{% endif %}">
            <a href="{% url 'view_applicant_training' %}" class="nav-link text-sm items-center">
              {% svg_icon_psg 'glossaire' extra_class="" width=30 height=30 %}
              <span class="ml-2">{% translate 'Training' %}</span>
            </a>
          </h4>
        </li>
      </ul>

      {# institution logo below the left menu #}
      {% if institution_logo and institution_url %}
        <div class="mt-4">
          <a href="{{ institution_url }}" target="_blank">
            <div style="{{ logo_style }}">
              <img
                  id="institution-logo"
                  width="{{ logo_width }}"
                  alt="Institution Logo"
                  src="{% static institution_logo %}"
              />
            </div>
          </a>
        </div>
      {% endif %}

      <!-- Button to toggle visibility of left sidebar menu -->
      <div class="x-menu-minimize relative">
        <div class="fixed">
          {% svg_icon_psg 'fold-bleu' extra_class='' data_iconid='icn-minimize' width=15 height=15 %}
          {% svg_icon_psg 'fold-bleu' extra_class='rotate-180 hidden' data_iconid='icn-maximize' width=15 height=15 %}
        </div>
      </div>
    </nav>
  {% endif %}
{% endblock aside %}
