{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% load i18n %}
  <meta charset="UTF-8">
  <title>
    {% block title %}{% endblock title %}
  </title>
 </head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>
