{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% load i18n %}
    <title>{% translate 'Credits attribution' %}</title>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      table {
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid black;
      }
      table th,
      table td {
        white-space: nowrap;
      }
      .text-center {
        text-align: center;
      }
      .text-right {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div>
      <h1 class="text-center">{% translate 'Credits attribution' %}</h1>
      <h2 class="text-center">{{ group }}</h2>
      <table class="nowrap">
        <thead>
          <tr>
      {% for item in attribution.header %}
            <th class="text-center">{{ item|linebreaksbr }}</th>
      {% endfor %}
          </tr>
        </thead>
        <tbody>
      {% for row in attribution.rows %}
          <tr>
        {% for item in row %}
            <td
          {% if forloop.counter0 == 0 or forloop.counter0 == 2 %}
                class="text-right"
          {% endif %}
               >
               {{ item|linebreaksbr }}
             </td>
        {% endfor %}
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
