{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% translate 'Passages notification' %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
      .container {
          background-color: #fff;
      }

      .content {
          padding: 10px;
      }

      .logo {
          text-align: center;
      }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <p>
        {% blocktranslate with to=to %}Dear {{ to }}{% endblocktranslate %}
      </p>
      <p>
        {{ from }}
{% for part in message %}
        {{ part|linebreaksbr }}
      </p>
      <p>
{% endfor %}
      </p>

{% if link %}
      <p>
        {% translate 'Follow the link:' %}
        <a href="{{ host }}{{ link }}">{{ host }}{{ link }}</a>
      </p>
{% endif %}

    </div>
    <div class="content logo">
      <a href="{{ host }}">
        <img alt="{% translate 'Logo Passages' %}"
             height="128px"
             src="https://epassages.ca/static/icons/passages.png">
      </a>
    </div>
  </div>
</body>
</html>
