/*
 * © Copyright Yves de Champlain et al. 2018-2022
 *     For more informations, see https://doc.epassages.ca/index.php/contributions
 * SPDX-License-Identifier: LiLiQ-Rplus-1.1
 * License-Filename: LICENCE
 */

/*
 * Compare
 */

.compare {
  width: 49%;
  position: relative;
}

main.ps-main-section.compare-main {
  width: 98%;
}

.compare-version {
   float: left;
}

.compare-current {
  float: right;
}

#version_editor_am {
  height: 300px;
  /*width: 600px;*/
  width: auto;
}

#version_editor_ac {
  height: 400px;
  /*width: 600px;*/
  width: auto;
}

/*
 * Editor
 */

.editor {
  width: auto !important;
}

#editor_am {
  height: 250px;
  /*width: 600px;*/
  width: auto;
}

#editor_ac {
  height: 350px;
  /*width: 600px;*/
  width: auto;
}

/* Editor-Debug */

#output_delta {
  width: 100%;
  min-height: 180px;
  border: 1px solid lightgray;
  flex-basis: 50%;
}

/* Editor Tabs */

#nav-tab-explicitness {
  margin-left: -1rem;
}

.nav-tabs,
.nav-tabs .nav-link.active,
.nav-link:focus,
.nav-link:hover {
  border: none;
}

.nav-tab-link a {
  font-size: 13px;
  font-weight: bold;
  color: rgb(32, 56, 130);
  text-transform: uppercase;
}

.nav-tab-link a:hover,
.nav-tab-link a:focus,
.nav-tab-link a:active {
  color: rgb(255, 99, 98);
}

.nav-tabs .nav-link.active {
  color: rgb(255, 99, 98);
  border-bottom-style: solid !important;
}

.tab-deroulement {
  margin-top: 5px;
}


/*
 * On-Off Switch
 */

.onoffswitch {
  position: relative;
  width: 125px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid rgb(255, 99, 98);
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  padding-left: 10px;
  /*background-color: #EEEEEE;*/
  background-color: white;
  color: rgb(255, 99, 98);
  text-transform: uppercase;
  font-weight: 400;
}

.onoffswitch-inner:after {
  padding-right: 10px;
  /* background-color: white; */ /* old: #1CE80E */
  background-color: #ffedde;
  color: rgb(255, 99, 98);
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 5px;
  background: rgb(255, 99, 98); /* #FFFFFF */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 95px;
  border: 2px solid rgb(255, 99, 98); /* #999999 */
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}


/*
 * Form-Control for tooltips
 */

.form-control-tooltip {
  background-color: #fff;
  /*background: #fff;*/
  /* border: #203982 1.5px solid;
     border-radius: 3px; */
}


/*
 * Quill-snow overrides
 */

 a.ql-action,
 a.ql-remove {
   color: rgb(255, 99, 98);
   font-size: 13px;
 }

.ql-certification {
  font-size: 16px;
}

.ql-certification .ql-tooltip {
  background-color: #dfeaf5;
  box-shadow: 0 0 5px #ccc;
  color: rgb(32, 56, 130);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.ql-picker-label:before {
  padding-right: 18px;
}

.ql-preview {
  overflow: scroll;
  white-space: normal;
}

.ql-snow.ql-toolbar button {
  height: 40px !important;
  width: 45px !important;
  padding: 0 !important;
}

.ql-toolbar.ql-snow {
  padding: 4px !important;
}

.ql-toolbar svg.icon {
  fill: rgb(32, 56, 130)
}

/**
  change size of 'B' button for 'bold' in Quill for CEMP (REL)
 */
.ql-bold > svg {
  float: unset !important;
  width: 22px;
}


/*
 * Tags background colors
 */

.ql-associated_skill {
  /*background: #ff9671;*/
  background: rgba(10, 7, 171, 0.2);
}

.ql-competency {
  /*background: #ffc75f;*/
  background: rgba(7, 86, 172, .2);
}

.ql-expertise_level {
  /*background: #66ffe8;*/
  background: rgba(204, 218, 124, 0.5);
}

.ql-expertise_level-1 {
  /*background: #66ffe8;*/
  background: rgba(204, 218, 124, 0.5);
}

.ql-expertise_level-2 {
  /*background: #66ffe8;*/
  background: rgba(156, 175, 49, 0.8);
}

.ql-expertise_level-3 {
  /*background: #66ffe8;*/
  background: rgba(118, 175, 49, 0.8);
}

.ql-explain {
  /*background: #ff6f91;*/
  /*background: rgba(254, 234, 135, .5); !* OLD color *!*/
  background: rgba(80, 255, 0, .5); /* NEW 2023 fluo color */
}

.ql-knowledge {
  /*background: #66c4ff;*/
  background: rgba(255, 99, 98, .3);
}

.ql-simple_comment {
  /*background: #f9f871;*/
  background: rgba(254, 234, 135, 1);
}

.ql-spellcheck {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

/* style of format when new text is entered by student after revision, which is cleared when exiting revision mode */
.ql-new_text {
  color: black;
}

.ql-soft_skill {
  /*background: #e085c5;*/
  background: rgba(255, 166, 93, .4);
}

.ql-vocabulary {
  /*background: #ffffff;*/
  /* background: rgba(90, 90, 90, .15); */
  font-weight: bold;
  font-style: italic;
}

.ql-media {
  /*background: rgba(255,0,0,.5);*/
}

/* Tags invisible */

.ql-associated_skill-Normal,
.ql-competency-Normal,
.ql-expertise_level-Normal,
.ql-explain-Normal,
.ql-knowledge-Normal,
.ql-simple_comment-Normal,
.ql-soft_skill-Normal {
  background: #fff;
}

.ql-custom-competency-Normal {
  background: #fff !important;
}

/* works for both MILESTONE & CONTINUOUS; replaces above styles */
.ql-tag-Normal {
  background: #fff !important;
  font-weight: unset;
  font-style: unset;
  color: unset;
}


/*
 * Word Count
 */

.counter,
#counter_am,
#counter_ac,
#version_counter,
#version_counter_am,
#version_counter_ac{
  border-style: solid;
  border-color: #ccc;
  border-width: 0 1px 1px 1px;
  padding: 5px 15px;
  text-align: right;
  color: rgb(32, 56, 130);
  font-weight: bold;
}


/*
 * Localized Contents
 */

/* .ql-tooltip contents overrides */

.en .ql-snow .ql-tooltip::before {
  content: "View:";
}
.ql-snow .ql-tooltip::before {
  content: "Consulter :";
}

.ql-snow .ql-tooltip a.ql-preview {
  max-width: 300px;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  vertical-align: middle;
  margin-bottom: 3px;
}

.en .ql-certification .ql-tooltip.ql-editing a.ql-action::after {
  content: 'Insert';
}
.ql-certification .ql-tooltip.ql-editing a.ql-action::after {
  content: 'Insérer';
}

.en .ql-certification .ql-tooltip a.ql-remove::before {
  content: 'Delete';
}
.ql-certification .ql-tooltip a.ql-remove::before {
  content: 'Supprimer';
}

.en .ql-certification .ql-tooltip a.ql-action::after {
  content: 'Edit';
}
.ql-certification .ql-tooltip a.ql-action::after {
  content: 'Modifier';
}

/* .ql-certification contents */

.en .ql-certification .ql-tooltip[data-mode='associated_skill']::before {
  content: 'Name the complementary skill:';
}
.ql-certification .ql-tooltip[data-mode='associated_skill']::before {
  content: 'Nommer la compétence complémentaire :';
}

.en .ql-certification .ql-tooltip[data-mode='competency']::before {
  content: 'Skill:';
}
.ql-certification .ql-tooltip[data-mode='competency']::before {
  content: 'Compétence :';
}

.en .ql-certification .ql-tooltip[data-mode='media_img']::before {
  content: 'Image:';
}
.ql-certification .ql-tooltip[data-mode='media_img']::before {
  content: 'Image :';
}

.en .ql-certification .ql-tooltip[data-mode='media_doc']::before {
  content: 'Document:';
}
.ql-certification .ql-tooltip[data-mode='media_doc']::before {
  content: 'Document :';
}

.en .ql-certification .ql-tooltip[data-mode='expertise_level']::before {
  content: 'Level of expertise:';
}
.ql-certification .ql-tooltip[data-mode='expertise_level']::before {
  content: "Niveau d’expertise :";
}

.en .ql-certification .ql-tooltip[data-mode='explain']::before {
  content: 'Explain the reason for this zone:';
}
.ql-certification .ql-tooltip[data-mode='explain']::before {
  content: 'Expliquer la raison pour cette zone :';
}

.en .ql-certification .ql-tooltip[data-mode='knowledge']::before {
  content: 'Name this knowledge and explain what is new (50 words):';
}
.ql-certification .ql-tooltip[data-mode='knowledge']::before {
  content: 'Nommer ce savoir et expliquer ce qui est nouveau (50 mots) :';
}

.en .ql-certification .ql-tooltip[data-mode='simple_comment']::before {
  content: 'Comment:';
}
.ql-certification .ql-tooltip[data-mode='simple_comment']::before {
  content: 'Commentaire :';
}

.en .ql-certification .ql-tooltip[data-mode='soft_skill']::before {
  content: 'Name this soft-skill and explain what is new (50 words):';
}
.ql-certification .ql-tooltip[data-mode='soft_skill']::before {
  content: 'Nommer ce savoir-être et expliquer ce qui est nouveau (50 mots) :';
}

.en .ql-certification .ql-tooltip[data-mode='vocabulary']::before {
  content: 'Define the term:';
}
.ql-certification .ql-tooltip[data-mode='vocabulary']::before {
  content: 'Définir le terme :';
}

/* onoffswitch */

.en .onoffswitch-inner:before {
  content: 'Hide tags';
}
.onoffswitch-inner:before {
  content: 'Texte seul';
}

.en .onoffswitch-inner:after {
  content: 'Show tags';
}
.onoffswitch-inner:after {
  content: 'Étiquettes';
}

/* Popup dialog - To be completed ???

.ql-certification .ql-tooltip::before {
    line-height: 26px;
    margin-right: 18px;
}
.ql-certification .ql-editing::before {
    line-height: 26px;
    margin-right: 18px;
}
*/

/**
  Styling of all embedded images inside the editor
 */
#editor.ql-snow.ql-certification img {
  max-width: 90%;
  max-height: 500px;
  object-fit: scale-down;
}

/**
  Styling of images inside the Quill editor
 */
img.editor-media-img {
  max-width: 90%;
  max-height: 500px;
  object-fit: scale-down;
}


/**
  Styling of the <span> inside editor to make them pop out to the user ...
 */
.editor-highlight {
  font-size: 20px !important;
  font-weight: 900;
}

ins {
  background:#e6ffe6;
}

del {
  background:#ffe6e6;
  /*text-decoration:line-through;*/
  /*  Keep for span option*/
}



/**
  MODE=MILESTONE; hard-coded styling for the 3 REL competencies
 */
.ql-habilete {
  background: rgb(253, 202, 203, .8);
}

.ql-savoir_etre {
  background: rgb(253, 222, 198, .8);
}

.ql-profil_entree {
  /*background: rgb(228, 228, 229, .8);*/
  /*background: rgba(254, 234, 135, .5);*/ /* OLD color (was too close to 'simple_comment' yellow) */
  background: rgba(80, 255, 0, .5); /* NEW 2023 color */
}

.ql-facets {
  background: rgba(204, 218, 124, 0.5);
}
