/*
 * © Copyright Yves de Champlain et al. 2018-2022
 *     For more informations, see https://doc.epassages.ca/index.php/contributions
 * SPDX-License-Identifier: LiLiQ-Rplus-1.1
 * License-Filename: LICENCE
 */

* {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

h1,
h2,
h3,
h4,
h5,
li,
td,
p {
  line-height: 1.2rem;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

h4 {
  font-size: 13px;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  font-style: normal;
}

p, table, th, td {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  padding: 4px;
}

.box-text {
   border: 1px solid #ccc;
   padding: 5px 15px;
   text-align: justify;
}

img {
  max-width: 90%;
  max-height: 500px;
  object-fit: scale-down;
}

.box-count {
  border: none;
  padding: 5px 15px;
  text-align: right;
  font-weight: bold;
}
.page-break {
  page-break-after: always;
}
