/*
 * © Copyright Yves de Champlain et al. 2018-2022
 *     For more informations, see https://doc.epassages.ca/index.php/contributions
 * SPDX-License-Identifier: LiLiQ-Rplus-1.1
 * License-Filename: LICENCE
 */

h1 {
  font-size: 24px;
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
li,
td,
p {
  line-height: 1.2rem;
  color: black;
}

main.ps-main-section {
  /*padding-left: 120px;*/
  /*padding-right: 120px;*/
  width: 100%;
}

table.padding-default th,
table.padding-default td {
  padding: 4px !important;
}

.header {
  padding: 30px 120px 0 120px;
  position: absolute
}

.header-text {
  right: 20px;
  top: 60px;
  text-align: right;
}

.new-section {
  padding-top: 60px;
}

.page-break {
  page-break-after: always;
}

/*
 * Word Count
 */

.box-text {
   border: 1px solid #ccc;
   padding: 5px 15px;
   text-align: justify;
}

.box-count {
  border: none;
  padding: 5px 15px;
  text-align: right;
  font-weight: bold;
}

.table-striped > tbody > tr > * {
  color: rgb(32, 56, 130) !important;
}

/*
  print/skills.html -> achievements <th> -> distinguish achievements w/o that competency (cannot hide, so just diff style)
 */
th.irrelevant {
  color: gray;
  opacity: .5;
}
td.irrelevant {
  color: gray;
  opacity: .5 !important;
  background-color: lightgray;
  /*border: none;*/
}