/*
 * © Copyright Yves de Champlain et al. 2018-2022
 *     For more informations, see https://doc.epassages.ca/index.php/contributions
 * SPDX-License-Identifier: LiLiQ-Rplus-1.1
 * License-Filename: LICENCE
 */

/**
  https://css-tricks.com/snippets/css/system-font-stack/
  https://github.com/necolas/normalize.css/issues/665
 */
* {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

:root {
  --psg-light-blue: rgb(227, 236, 246);
  --psg-dark-blue: rgb(32, 56, 130);
  --psg-orange: rgb(255, 99, 98);
}

html, body {
  height: 100%;
}

a {
  outline: 0;
  font-size: 16px;
  color: var(--psg-orange);
  line-height: 2.25rem;
}

a.link-small-font {
  font-size: 12px;
  line-height: 1.5;
}

/* Hide default down arrow from Bootstrap in nav menu */
a.nav-link.dropdown-toggle.menu-icon-right::after {
  display: none;
}

a.no-hover-underline:hover {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 2rem;
}

h2 {
  font-size: 18px;
  line-height: 1.2rem;
}

h2:hover,
h2:active,
h2:focus {
  font-size: 22px;
  color: var(--psg-orange);
  font-weight: bold;
}

h2.no-hover:hover,
h2.no-hover:active,
h2.no-hover:focus {
  font-size: 18px !important;
  color: var(--psg-dark-blue) !important;
  font-weight: normal !important;
}

h3 {
  font-size: 16px;
  line-height: 1.2rem;
  text-transform: uppercase;
}

h3:hover,
h3:active,
h3:focus {
  font-size: 17px;
  font-weight: bold;
}


h4 {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
}
h4 svg {
  fill: #203882;
}

h4:hover,
h4:active,
h4:focus {
  color: var(--psg-orange);
}
h4:hover svg,
h4:active svg,
h4:focus svg {
  /* for SVGs embedded inside H4 */
  fill: var(--psg-orange) !important;
}


h5 {
  font-size: 12px;
  color: #fff;
  font-style: normal;
}

h5.margin-bottom-no {
  margin-bottom: 0;
}

label {
  font-size: 18px;
  font-weight: bold;
  /*color: rgb(32,56,130);*/
}

li,
p {
  font-size: 16px;
  line-height: 2.25rem;
  margin-bottom: revert;
}

li.nav-item a.nav-link.menu-icon-right {
  fill: #fff;
  color: #fff;
}

li.nav-item a.nav-link.menu-icon-right:hover {
  fill: #7988b4;
  color: #7988b4;
}

main.ps-main-section {
  /*width: 95%;*/
  padding: 200px 100px 60px 100px;
}

/** 400px left padding except when 'no-sidebar' class is set */
main.ps-main-section:not(.no-sidebar) {
  padding-left: 400px;
}
main.ps-main-section.no-sidebar {
  padding-left: 100px;
}

svg.etiquette-glossaire {
  fill: white !important;
}

svg.icon.Logo-Passage-Blanc {
  height: 100px;
}

/** Wave menu header */
svg.menu-wave-header-light,
svg.menu-wave-header-dark {
  position: absolute;
  bottom: 0;
  top: 0;
  /*transform: rotate(180deg);*/
  /*width: 100%;*/
}

svg.menu-wave-header-light {
  width: 100%;
  height: 170px;
  fill: #e5eef7;
  color: #e5eef7;
  z-index: 1;
}

svg.menu-wave-header-dark {
  width: 100%;
  height: 170px;
  fill: var(--psg-dark-blue);
  color: var(--psg-dark-blue);
  z-index: 2;
}

svg.orange {
  fill: var(--psg-orange) !important
}

svg.rotate-180 {
  transform: rotate(180deg);
}

table.borders-no-horizontal td {
  border-top: none;
  border-bottom: none;
}

table.borders-blue th, td {
  border-color: var(--psg-dark-blue) !important;
}

td.compact {
  font-size: 12px !important;
}

td.shaded {
  background-color: #bfbfbf;
}

table.padding-default th,
table.padding-default td {
  padding: 1rem !important;
}

table.nowrap th,
table.nowrap td {
  white-space: nowrap;
  vertical-align: middle;
}

table.white-outside-borders {
  border: white;
}

table a {
  line-height: 1.5rem;
}

/* For Knowledge and Glossary */
td.column-name {
  font-weight: bold;
  color: var(--psg-dark-blue);
}

/* For pick_portfolio */
td.compact a {
  font-size: 12px;
  line-height: 1rem;
}

/* For Skills:Competency groups */
tr.comp_group {
  background-color: #b5c0ec !important;
  font-weight: bold;
}

/* For Skills:as_table */
tr.border-top-down td {
  border-bottom: 2px solid;
  border-top: 2px solid;
  font-weight: bold;
}


/** NO pointer events at all allowed when hovering on those elements */
.absolute-no-hover {
  pointer-events: none;
}

.border-bottom-none,
.border-bottom-none td,
.border-bottom-none th {
  border-bottom: none !important;
}

.border-left-none,
.border-left-none td,
.border-left-none th {
  border-left: none !important;
}

.border-right-none,
.border-right-none td,
.border-right-none th {
  border-right: none !important;
}

.border-top-none,
.border-top-none td,
.border-top-none th {
  border-top: none !important;
}

.btn-orange {
  background-color: var(--psg-orange) !important;
  border-color: var(--psg-orange) !important;
}

.btn-orange:hover {
  background-color: rgb(226, 66, 66) !important;
  border-color: rgb(226, 66, 66) !important;
}

.btn-style {
  font-size: 13px;
  color: var(--psg-orange);
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
  padding-left: 0;
}

.btn-style:hover,
.btn-style:active,
.btn-style:focus {
  color: var(--psg-orange) !important;
  font-size: 14px;
}

/*
 * Confirm Save
 */

.confirmSave {
  position: absolute;
  z-index: 1;
  right: 80px;
  visibility: hidden;
}

.confirmMsg {
    position: relative;
    z-index: 1;
    /*right: 80px;*/
    display: none;
}

/** https://css-tricks.com/couple-takes-sticky-footer/ */
.container-fluid.ps-page-wrapper {
  min-height: 100%;
  /** must match height of footer as specified in .footer.ps-page-footer */
  margin-bottom: -36px;
  /* padding-bottom: 50px !important; */
}

.forced-bold * {
  font-weight: bolder !important;
}

.form-control, .form-select {
  font-size: 16px;
  color: var(--psg-dark-blue);
  border: none;
  background-color: rgba(7, 86, 172, 0.1);
  border-radius: 0;
}

.link-big-font {
  font-size: 18px;
}

.main-header {
  color: #fff;
}

.nav-link {
  display: flex;
  padding: 0.5rem 1rem 0;
}

.nav-link.no-flex {
  display: initial !important;
}

.nav-link h2 {
  padding: 0;
}

.official {
  font-size: 14px;
  line-height: 1rem;
  text-align: justify;
}

.sub-header {
  color: #fff;
}

.sub-header:hover,
.sub-header:active,
.sub-header:focus {
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

.table .thead-light th {
  background-color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--psg-dark-blue);
  font-weight: 500;
}

/*
  portfolio/skills.html -> achievements <th> -> distinguish achievements w/o that competency (cannot hide, so just diff style)
 */
.table th.irrelevant {
  color: gray;
  opacity: .5;
}
.table td.irrelevant {
  color: gray;
  opacity: .5 !important;
  background-color: lightgray;
}

.table-custom {
  border: none;
}

.table-striped > tbody > tr:nth-of-type(even) > td {
  background-color: #e5eef7;
  --bs-table-bg-type: none;
}

.table-striped > tbody > tr:nth-of-type(odd) > td {
  background-color: #fff;
  --bs-table-bg-type: none;
}

/* applies to parent competency rows in competency overviews */
.table-striped tbody tr.parent-competency {
  border-top: 2px solid var(--psg-dark-blue);
  border-bottom: 2px solid var(--psg-dark-blue);
}


/* Tooltip */
.tooltip > .tooltip-inner {
  background-color: var(--psg-dark-blue);
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
}


/*
 * Text colors
 */

h1,
h2,
h3,
h4,
label,
li,
p {
  color: var(--psg-dark-blue);
}

.blue-text {
  color: var(--psg-dark-blue) !important;
}
/* needed to override Bootstrap5 forced style on odd rows */
.blue-text tbody tr > * {
  color: var(--psg-dark-blue) !important;
  --bs-table-accent-bg: none !important;
}
table.blue-text > :not(caption) > * > * {
  /* override bootstrap 5.3.2 */
  color: var(--psg-dark-blue) !important;
}

.green-text {
  color: #34ce57;
}

.orange-text {
  color: var(--psg-orange) !important;
}

.white-text {
  color: white !important;
}

.raw-green-text {
  color: green !important;
}
.blue-text tbody tr .raw-green-text {
  color: green !important;
}

.action-required {
  animation: blinkingText 5s infinite;
}
@keyframes blinkingText {
    0% {  color: orange;      }
   30% {  color: red;          }
   50% {  color: transparent;  }
   80% {  color: orange;      }
  100% {  color: orange;      }
}


/*
 * Navbar
 */

nav.custom-navbar-primary {
  height: auto !important;
  background: linear-gradient(var(--psg-dark-blue), var(--psg-dark-blue)) !important;
  /*background: none !important;*/
  z-index: 12; /** header SVGs are 10 & 11 */
}

div.custom-navbar-primary-contents {
  padding: 0 50px 0 50px !important;
}

.navbar-primary {
  background: var(--psg-dark-blue);
  height: 240px;
}

.navbar-secondary {
  background: rgba(7, 86, 172, 0.1);
}

.app-navbar {
  padding: 2rem;
}

.app-navbar-avatar {
  width: 19px;
  height: 20px;
  border-radius: 50%;
}

.app-nav-item:active,
.app-nav-item:hover,
.app-nav-item:focus {
  background: #eeeeee;
}

.bg-menu-navbar {
  background: #e5eef7;
  border-radius: 0;
}

.dropdown-item:hover {
  background: none !important;
}

/* font awesome removed */
/*nav i[class^="fas"] {*/
/*  padding: 0 12px 0 0;*/
/*  color: #fff;*/
/*}*/

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #ddd;
}

.navbar-logo {
  text-align: center;
}

.ps-navbar-user-menu {
  padding: 20px !important;
  color: #fff;
  text-transform: uppercase;
}

.ps-navbar-user-menu:hover {
  color: #7988b4;
}

/** Rotate the expand icon on menu hover/focus/active */
.ps-navbar-user-menu:hover svg.user-profile-expand-icon,
.ps-navbar-user-menu:active svg.user-profile-expand-icon,
.ps-navbar-user-menu:focus svg.user-profile-expand-icon {
  transform: rotate(180deg);
}

ul.navbar-nav {
  padding-left: 4px;
}


/*
 * Dashboard
 */

.left-menu {
  position: fixed;
  /*z-index: 5;*/
  display: inline-block;
  vertical-align: top;
  padding: 200px 0 60px 50px;
  width: 300px;

  /* 2021-05-03; collapsible menu */
  z-index: 0;
  /*background-color: rgba(32, 56, 130, 0.05);*/
  background-color: transparent;
  height: 100%;
}

/* styling of the left-side navbar to prevent menu hiding w/ very y-narrow screens  */
nav.left-menu > ul.navbar-nav {
  overflow-y: auto;
}

@media screen and (max-height: 700px) {
  nav.left-menu > ul.navbar-nav {
    height: 60vh;
  }
}
@media screen and (max-height: 550px) {
  nav.left-menu > ul.navbar-nav {
    height: 50vh;
  }
}
@media screen and (max-height: 400px) {
  nav.left-menu > ul.navbar-nav {
    height: 40vh;
  }
}
@media screen and (max-height: 300px) {
  nav.left-menu > ul.navbar-nav {
    height: 30vh;
  }
}

.border-style {
  border-top: 1px solid var(--psg-dark-blue);
}
.border-style svg {
  fill: #203882;
}

.border-style:hover,
.border-style:active,
.border-style:focus {
  border-top: 3px solid var(--psg-orange) !important;
  color: var(--psg-orange) !important;
}
.border-style:hover svg,
.border-style:active svg,
.border-style:focus svg {
  /* required for styling the SVGs */
  fill: var(--psg-orange) !important;
}

h2.nav-link-custom * {
  color: var(--psg-dark-blue) !important;
}

h2.nav-link-custom:hover * {
  color: var(--psg-orange) !important;
  font-size: 22px !important;
}

h2.nav-link-custom.active {
  border-top: 3px solid var(--psg-orange) !important;
}

h2.nav-link-custom.active * {
  color: var(--psg-orange) !important;
  fill: var(--psg-orange) !important;
  font-size: 22px !important;
  font-weight: bold;
}

h4.nav-link-custom * {
  color: var(--psg-dark-blue) !important;
}

h4.nav-link-custom:hover * {
  color: var(--psg-orange) !important;
  font-size: 16px !important;
}

h4.nav-link-custom.active * {
  color: var(--psg-orange) !important;
  fill: var(--psg-orange) !important;
  font-size: 16px !important;
  font-weight: bold;
}


/*
 * Footer
 */

.footer-dark {
  bottom: 0;
  z-index: 10;
  width: 100%;
  background: var(--psg-dark-blue);
  padding: 9px 0 9px 50px;
}

/* .ps-page-footer {
  padding-top: 0px !important;
  height: 36px;
} */


/*
 * Login form
 */

#login-form i[class*="fa-exclamation"] {
  color: blue;
  padding: 9px 13px;
}


/*
 * Portfolio Document Custom file input
 */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 16px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

/*.inputfile:focus + label,*/
/*.inputfile.has-focus + label {*/
/*    outline: 1px dotted #000;*/
/*    outline: -webkit-focus-ring-color auto 5px;*/
/*}*/

/*.inputfile + label * {*/
/*    !* pointer-events: none; *!*/
/*    !* in case of FastClick lib use *!*/
/*}*/

.inputfile + label svg {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-3 + label {
    color: var(--psg-orange);
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: rgb(226, 66, 66);
}


/*
 * Portfolio Index
 */

.list-group {
  border-bottom: 1px dashed var(--psg-dark-blue);
}

.list-group-item {
  border-top: 1px dashed var(--psg-dark-blue);
  padding: .75rem 1.25rem 0 0;
}

.list-group-flush .list-group-item:first-child {
  border-top: 3px solid var(--psg-dark-blue);
}

.list-group-item-action,
.list-group-item-action:hover {
  color: var(--psg-dark-blue);
}

.list-portfolio {
  font-size: 16px;
  color: var(--psg-dark-blue);
  line-height: 2.25rem;
}

.table-title {
  padding: 0 1.25rem 0 0;
}


/*
 * User Edit profile
 */

.form-profil {
  width: 700px;
  margin: 0 auto;
}

.profil-title {
  margin-bottom: 30px;
}


/*
 * Read mode
 */

main.ps-main-section.read {
  padding-left: 120px;
  padding-right: 120px;
  width: 100%;
}

.new-section {
  padding-top: 60px;
}

/* Word Count */

.box-text {
   border: 1px solid #ccc;
   padding: 5px 15px;
   text-align: justify;
}

.box-count {
  border: none;
  padding: 5px 15px;
  text-align: right;
  color: var(--psg-dark-blue);
  font-weight: bold;
}

/**
  Reader / Print / PDF
  Styling of images inside the Reader
 */
.box-text img {
  max-width: 90%;
  max-height: 500px;
  object-fit: scale-down;
}

/**
  Nav menu reduce / minimize
 */
nav#side-nav-bar div.x-menu-minimize {
  color: var(--psg-dark-blue) !important;
  height: 100%;
  padding-left: 4px;
}
nav#side-nav-bar.minimized {
  width: 0;
  padding: 0;
}
nav#side-nav-bar.minimized div.x-menu-minimize > div.fixed {
  width: 35px;
  margin-left: 15px !important;
}

div.x-menu-minimize > div.fixed {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 50px !important;
  margin-bottom: 3.5rem !important;
  padding: 10px 0 10px 0;
  top: 155px;
  left: 4px;
  width: 35px;
  background-color: #e5eef7;
  border-radius: 20px;
}

/**
  Custom styling for <p> tags in quilljs editor
 */
.ql-editor p {
  margin-bottom: 1rem !important;
}


/**
  Bootstrap 5 correction styles
 */
/* otherwise, main content is pushed to the right since header takes full width of the page */
.row#main-row {
  margin-right: -11px;
  margin-left: -15px;
}
.row > header {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn-link {
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline;
}
.nav-link:hover {
  text-decoration: none;
}
button.close {
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  opacity: 0.5;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}
.alert-dismissible {
  padding-right: 4rem;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .75rem 1.25rem;
    color: inherit;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  --bs-table-accent-bg: none;
  color: inherit;
}
.table-striped tbody tr {
  border-bottom: none;
  border-top: none;
}
.table-striped thead tr {
  border-top: none;
  border-bottom: solid 2px;
}

/**
  Styling of the semester dropdown picker in admin view
 */
#div_id_Semester, #div_id_Group {
  display: flex;
  align-items: center;
}
#div_id_Semester .form-label, #div_id_Group .form-label {
  width: 100%;
  margin-bottom: unset !important;
}
#div_id_Group .form-select {
  width: auto;
}

/**
  styling of the assessment table
 */
table.tbl-assessment tr.parent-assessment-category td:not(.no-background) {
  background-color: #d9e1f2;
  font-weight: bold;
}
table.tbl-assessment tr:not(.parent-assessment-category) td {
  font-weight: lighter;
}
table.tbl-assessment td.no-background {
  font-weight: bold !important;
}
table.tbl-assessment tr {
  /*border-bottom: var(--psg-dark-blue);*/
}
table.tbl-assessment tr#row-total-assessment td {
  font-weight: bold;
  text-transform: uppercase;
}

/* make 'disabled' dropdown look like normal labels to hide the 'disabled' effect; looks more natural */
select.rating-dd[disabled] {
  border: none;
  color: var(--psg-dark-blue);
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
}

/* comments textarea for rating rubrics in 'milestone' user portfolio assessment */
.rating-comment[data-read-only] {
  background-color: transparent;
  overflow: auto;
}
.rating-comment[data-hide-comment] {
  display: none;
}
.rating-comment {
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: 100%;
  height: 8rem;
  background-color: var(--psg-light-blue);
  border: none;
  color: var(--psg-dark-blue);
}

/* Disable hover effects on 'Portfolio under review' sub-title */
h3.portfolio-underreview:hover {
  font-size: inherit !important;
  font-weight: inherit !important;
}

/* hide grades */
[data-hide-grade] {
  display: none;
}

/**
  enable collapsible sections in custom competency tables
 */
main:not(.read, .print) tr.competency-type-row > td {
  cursor: pointer;
}
main:not(.read, .print) tr.parent-competency > td {
  cursor: pointer;
  background-color: #e5eef7 !important;
}
main:not(.read, .print) tr.child-competency > td {
  background-color: #fff !important;
}
main:not(.read, .print) tr.parent-competency ~ tr.child-competency {
  display: none;
}
main:not(.read, .print) tr.parent-competency ~ tr.child-competency.row-open {
  display: table-row;
}

/**
  styling of +/- sign before parent competency rows (collapsed vs expanded)
 */
main:not(.read, .print) tr.competency-type-row.collapsed th:first-child::before {
  display: inline-flex;
  content: '';
  font-weight: 800;
  position: relative;
  float: left;
  background-image: url("/static/icons/expand.svg");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
main:not(.read, .print) tr.competency-type-row:not(.collapsed) th:first-child::before {
  display: inline-flex;
  content: '';
  font-weight: 800;
  position: relative;
  float: left;
  background-image: url("/static/icons/collapse.svg");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

main:not(.read, .print) tr.parent-competency.collapsed td:first-child::before {
  content: "+";
  font-weight: 800;
  position: relative;
  float: left;
}
main:not(.read, .print) tr.parent-competency:not(.collapsed):not(.top-parent) td:first-child::before {
  /* https://www.toptal.com/designers/htmlarrows/math/minus-sign/ */
  content: "\2212";
  font-weight: 800;
  position: relative;
  float: left;
}


/**
  styling of the achievements navigation (next / prev achievement)
 */
a.nav-achievement {
  background-color: #e5eef7;
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
}
a.nav-achievement:hover {
  text-decoration: none;
}
a.nav-achievement svg {
  vertical-align: inherit;
  margin: 0 5px 0 5px;
}

/**
  Floating button for SAVE in milestone mode
 */
#submitAchievementButton[data-mode='milestone'] {
  background-color: var(--psg-orange);
  color: var(--psg-light-blue) !important;
  position: fixed;
  min-width: 100px;
  width: fit-content;
  width: -moz-fit-content;
  height: 40px;
  font-size: 20px;
  bottom: 40px;
  right: 40px;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
  text-decoration: none;
}

/**
  Questions (EditorBlock) explanations
 */
.block-explanation {
  background-color: var(--psg-light-blue);
  padding: 10px 15px 10px 15px;
  margin-bottom: 1rem;
}

/**
  todo UPDATE 2022-03-09 : changed to using Python 'editable' variable (same as 'continuous')
  Simple way of making 'example' EditorBlocks (aka questions) READ-ONLY
  MODE = MILESTONE; only applies to milestone mode since continuous uses different way of showing example portfolios
 */
[data-portfolio-type='example'] .achievement-block-editor .ql-snow {
  /*pointer-events: none;*/
}

/**
  Highlight example portfolio question / editor block when scrolled into view
 */
.question-highlight {
  font-size: 20px !important;
  font-weight: 900;
}

/**

 */
footer {
  position: relative;
  z-index: 100;
}