{% load i18n %}
{# Modal dialog to rename achievement #}
<div id="renameAchievementModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">{% translate 'Rename achievement' %}</h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            <label for="renameAchievementNameInput" class="col-form-label">
              {% translate 'Name' %}
            </label>
            <input
                class="form-control"
                type="text"
                id="renameAchievementNameInput"
                value="{{ achievement.name }}"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="renameAchievement" class="btn btn-link btn-sm orange-text uppercase">
          {% translate 'Save' %}
        </button>
      </div>
    </div>
  </div>
</div>