{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!-- Modal dialog to change target competence  -->
<div id="changeTargetCompetence" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {{ change_target }}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            <form method="post" action="#">
              {{ f_target|crispy }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>