{% load i18n %}

<!-- Modal dialog to change achievement number  -->
<div id="changeNumberModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Change achievement number' %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            <label for="changeNumberInput" class="col-form-label">{% translate 'Number' %}</label>
            <input class="form-control" type="text" id="changeNumberInput"
                   value="{{ achievement.number }}">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="changeNumber" class="btn btn-link btn-sm orange-text uppercase">
          {{ save }}
        </button>
      </div>
    </div>
  </div>
</div>
