{% load i18n %}

<!-- Modal dialog to delete an achievement  -->
<div id="deleteAchievementModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Delete achievement' %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            <h4>{{ achievement.name }}</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <form action="{% url 'delete_achievement' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="achievement_id" value="{{ achievement.id }}">
          <button type="submit" id="deleteAchievement"
                  class="btn btn-link btn-sm orange-text uppercase">
            {{ delete }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
