{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!-- Modal dialog to submit version  -->
<div id="submitVersionModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {{ submit }}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form action="{% url 'register_version' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ f_version|crispy }}
            <div class="modal-footer">
              <button type="submit" id="submitVersion" class="btn btn-link btn-sm orange-text uppercase">
                {{ submit }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>