{% load i18n %}
<!-- Modal dialog to remove portfolio from expert  -->
<div id="removePortfolioModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Remove Portfolio from expert' %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form id="remove_portfolio" action="{% url 'remove_portfolio' %}" method="POST">
            {% csrf_token %}
            <h4 id="expertRemoveName"></h4>
            <input type="hidden" id="portfolioRemoveID" name="portfolio_id" value="">
            <label for="comment">
              {% translate 'Comments (Optionnal)' %}
            </label>
            <textarea class="form-control" name="comment" id="comment" rows="6" cols="50"></textarea>
            <div class="modal-footer">
              <button type="submit" id="certifyPortfolio" class="btn btn-link btn-sm orange-text uppercase">
                {% translate 'Remove Portfolio' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
