{% load i18n %}
<!-- Modal dialog to notify semester users  -->
<div id="semesterNotifyModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Notify users' %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            {% csrf_token %}
            <label for="comment">
              {% translate 'Message' %}
            </label>
            <textarea class="form-control" name="message" id="message" rows="6" cols="50"></textarea>
            <div class="checkbox" id="setPasswordDiv">
              <label class="official">
                <input type="checkbox" id="set_password" name="set_password" value="set_password"
                       onchange="adjustNotify('set_password')">
                {% translate "Invite users to set their password" %}
              </label>
            </div>
            <div class="checkbox">
              <label class="official" id="myApplicantsDiv">
                <input type="checkbox" id="my_applicants" name="my_applicants" value="my_applicants"
                       onchange="adjustNotify('my_applicants')">
                {% translate "Only to assigned applicants" %}
              </label>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" id="notifyUsers" class="btn btn-link btn-sm orange-text uppercase">
              {% translate 'Send' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>