{% load i18n %}
<!-- Modal dialog for expert consent  -->
<div id="modal-portfolio-expert-consent" class="modal modal-lg" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Portfolio privacy & conflicts of interests' %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">

          <form action="{% url 'set_expert_portfolio_consent' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="portfolio_id" value="">

            <div class="scrollable-content max-h-[70vh] overflow-auto pb-4 pt-2 px-2">
              {# auto-filled via JS when expert clicks portfolio and is prompted to consent #}
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-link btn-sm orange-text uppercase confirm-consent">
                {% translate 'I consent' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>