<!--
  Display generic training capsule (same for both expert & applicant training capsules)
 -->
<div class="capsule mb-8">
  {# title #}
  <a href="#{{ capsule.id }}" class="group/link !no-underline">
    <h2
        id="{{ capsule.id }}"
        class="capsule__title text-xl font-bold"
    >
      <!-- # to indicate it's a clickable / copiable link -->
      <span class="hidden group-hover/link:inline-block rounded bg-gray-200 px-2 mr-1">
        #
      </span>
      <!-- actual title -->
      <span>{{ capsule.title }}</span>
    </h2>
  </a>

  {# intro #}
  <div class="capsule__intro">
    {# todo user input should never be considered 'safe' #}
    {{ capsule.intro|safe }}
  </div>

  {# list of links to external resources #}
  <ul class="capsule__links mt-4">

    {# for each link associated w/ this capsule #}
    {% for link in capsule.get_links %}
      <li class="capsule__link my-0 py-0" data-link-id="{{ link.id }}">
        {# unicode video icon = \U0001F4F9 #}
        {% if link.is_video %}
          <span class="mr-2">📹</span>
        {% endif %}

        {# anchor #}
        <a class="break-words"
           href="{{ link.url }}"
           target="_blank"
        >
          {{ link.url }}
        </a>
        <br/>
        {# link description #}
        <div class="italic">
          {# todo user input should never be considered as 'safe' #}
          {{ link.desc|safe }}
        </div>
      </li>
    {% endfor %}

  </ul>

</div>
