{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load l10n %}
{% load list_utils %}

{% block content %}
<div class="app-content">
    <h1>{% translate 'Assessment' %}</h1>
  {% for milestone in milestones %}
      <div class="pt-5">
        <h3>{% translate 'Step' %} {{ forloop.counter }}</h3>{# assessment table #}
        <table
            class="table padding-default table-responsive table-bordered table-sm borders-blue blue-text tbl-assessment table-fixed"
        >
          {# header rows #}
          <thead class="font-bold uppercase blue-text">
            <tr class="border-top-none">
              <th class="border-left-none w-1/6">
                {% translate "Assessment object" %}
              </th>
              <th class="border-top-none pl-3 w-1/6">
                {% translate "Assessment indicators" %}
              </th>
              <th class="border-top-none pl-3 w-1/3">
                {% translate "Assessment" %}
              </th>
              <th class="border-top-none border-right-none pl-3 w-1/3">
                {% translate "Commentary" %}
              </th>
            </tr>
          </thead>

          {# full form body #}
          <tbody>
    {% for assessment_dict in milestone %}
      {% if assessment_dict.assessment.parent is None %}
            <tr class="parent-assessment-category bg-gray-200">
              <td colspan="4" class="border-left-none text-center align-middle no-background border-right-none">
                {{ assessment_dict.assessment.assessment_object }} ({{ assessment_dict.assessment.base100 }}%)
                {{ assessment_dict.assessment.assessment_indicator }}
              </td>
            </tr>
        {% if assessment_dict.assessment.code == 'total' %}
            {# TOTAL ROW #}
            <tr id="row-total-assessment">
              <td class="border-left-none"></td>
              <td>{% translate "Total" %}</td>
              <td colspan="2">
                {{ assessment_dict.user_assessment.grade }} %
              </td>
            </tr>
        {% endif %}
      {% else %}
            <tr>
              <td class="column-name p-3 border-left-none">
                {{ assessment_dict.assessment.assessment_object }}
              </td>
              <td class="p-3 blue-text">
                {{ assessment_dict.assessment.assessment_indicator|safe }}
              </td>
              <td class="p-3 blue-text">
                  <div class="font-bold">{{ assessment_dict.user_assessment.grade }}</div>
                  <div>{{ assessment_dict.criteria }}</div>
              </td>
              <td class="p-3 blue-text border-right-none">
                  {{ assessment_dict.user_assessment.comment }}
                </td>
            </tr>
      {% endif %}
    {% endfor %}
          </tbody>
        </table>
    {% endfor %}
    </div>
  </div>
{% endblock content %}
