{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}
{% load string_utils %}

  <div class="new-section">
    <h1>{% translate 'Overview: ' %}{{ ctype.name }}</h1>
    <div class="container-fluid">
      <div class="row">
        <h2 class="absolute-no-hover mt-4">
          {{ ctype.desc }}
        </h2>
      </div>
      <hr/>
      <div class="row">
        <table class="table table-bordered table-responsive table-sm table-striped
                      borders-blue blue-text borders-no-horizontal padding-default
                      white-outside-borders">
          <thead class="border-top-none">
            {# 1st header row #}
            <tr class="font-bold uppercase">
              <th class="border-left-none"></th>
              <th scope="col">
                {{ portfolio.program }}
              </th>
    {# display all achievements for each milestone based on portfolio's user group's current milestone #}
    {% for step_number in portfolio.user.group.milestone|xrange %}
              <th class="border-right-none text-center" colspan="{{ num_achievements }}">
                {% translate 'Milestone' %}&nbsp;{{ step_number }}
              </th>
    {% endfor %}
            </tr>

            {# 2nd header row #}
            <tr>
              <th class="border-left-none text-right">&#35;</th>
              <th>{% translate 'Skills of the curriculum' %}</th>
  {% for step_number in portfolio.user.group.milestone|xrange %}
    {% for achievement in achievements %}
      {# MODE=MILESTONE; ONLY show achievements where this 'ctype' is allowed #}
      {# NOTE: simpler to use inline IF instead of python-only check; see note in 'print_portfolio_milestone' #}
{# TODO do NOT hide irrelevant achievement types, ONLY show them as different style; else messes up columns #}
{#      {% if ctype.id in achievement.get_comp_types_ids %}#}
              <th class="border-right-none text-center {% if ctype.id in achievement.get_comp_types_ids %}relevant{% else %}irrelevant{% endif %}">
                {{ achievement.targeted_competency.code }}.{{ achievement.number }}
              </th>
{#      {% endif %}#}
    {% endfor %}
  {% endfor %}

            </tr>
          </thead>
          <tbody>
  {% for skill in competencies %}
            <tr class="{% if not skill.parent %}parent-competency{% endif %}">
              <td class="border-left-none text-right">
                {{ skill.id }}
              </td>
              <td>{{ skill.name }}</td>
    {% for step_number in portfolio.user.group.milestone|xrange %}
      {% for achievement in achievements %}
        {# MODE=MILESTONE; ONLY show achievements where this 'ctype' is allowed #}
        {% with skill_attribute_map=skill_ops|get_value_with_key:forloop.counter0 %}
          {% with step_number|concat:":"|concat:skill.id as full_id %}
{#          {% if ctype.id in achievement.get_comp_types_ids %}#}
                <td class="border-right-none text-center {% if ctype.id in achievement.get_comp_types_ids %}relevant{% else %}irrelevant{% endif %}">
            {% if skill == achievement.targeted_competency %}
                  {% translate 'T' %}
            {% elif full_id in skill_attribute_map %}
              {# specific attribute object ({id:<timestamp>,milestone:<number>}) for the current skill.id #}
              {% with attribute=skill_attribute_map|get_value_with_key:full_id %}
{#                {% if attribute.milestone == step_number %}#}
                  {# try to get part of attribute after '@' (used for 'level'); then display the actual value after the '@' #}
                  {% if attribute.id|cut_from:"@" %}
                    {{ attribute.id|cut_from:"@" }}
                  {# else show the default square root symbol #}
                  {% else %}
                    √
                  {% endif %}
{#                {% endif %}#}
              {% endwith %}
            {% endif %}
                </td>
{#          {% endif %}#}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    {% endfor %}
            </tr>
  {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="page-break"></div>
