{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

<div class="app-content">
  <h1>
    {% translate 'Achievement' %}
    <span id="achievementNumber">
      {{ achievement.targeted_competency.code }}.{{ achievement.number }}.
    </span>
    <span id="achievementName">
      {{ achievement.name }}
    </span>
  </h1>

  {% if is_continuous %}

  {# (continuous) #}
  <h2 class="mt-4 no-hover">
    <span>{% translate 'Targeted skill' %} :</span>
    <span id="targetedSkill">
    {% if achievement.targeted_competency %}
      {{ achievement.targeted_competency.name }}
    {% else %}
      {% translate 'None' %}
    {% endif %}
    </span>
  </h2>

  {# dynamically display UserAchievement blocks #}
  {% for block in block_contents %}
  <div class="pt-5">
    <h3>{{ block.title }}</h3>
    <div class="box-text">
      {% autoescape off %}
      {{ block.content }}
      {% endautoescape %}
    </div>
    <div class="box-count">
      {{ block.word_count }}
      {% blocktrans with target=block.max_word_count %}
        words (target: {{ target }})
      {% endblocktrans %}
    </div>
  </div>
  {% endfor %}

  {# TODO UQAR REMOVED #}
  {# contents_motivation #}
  {#<div class="pt-5">#}
  {#  <h3>{% translate 'Reason motivating the choice of this achievement' %}</h3>#}
  {#  <div class="box-text">#}
  {#    {% autoescape off %}#}
  {#    {% firstof contents_motivation achievement.contents_motivation %}#}
  {#    {% endautoescape %}#}
  {#  </div>#}
  {#  <div class="box-count">#}
  {#    {% firstof motivation_count achievement.motivation_count %}#}
  {#    {% translate 'words (target: 80-100)' %}#}
  {#  </div>#}
  {#</div>#}

  {# contents_context #}
  {#<div class="pt-5">#}
  {#  <h3>{% translate 'Key elements of this achievement' %}</h3>#}
  {#  <div class="box-text">#}
  {#    {% autoescape off %}#}
  {#    {% firstof contents_context achievement.contents_context %}#}
  {#    {% endautoescape %}#}
  {#  </div>#}
  {#  <div class="box-count">#}
  {#    {% firstof context_count achievement.context_count %}#}
  {#    {% translate 'words (target: 100-120)' %}#}
  {#  </div>#}
  {#</div>#}

  {# contents_development #}
  {#<div class="pt-5">#}
  {#  <h3>{% translate 'Development and specificities of the achievement' %}</h3>#}
  {#  <div class="box-text">#}
  {#    {% autoescape off %}#}
  {#    {% firstof contents_development achievement.contents_development %}#}
  {#    {% endautoescape %}#}
  {#  </div>#}
  {#  <div class="box-count">#}
  {#    {% firstof development_count achievement.development_count %}#}
  {#    {% translate 'words (target: 1200-1500)' %}#}
  {#  </div>#}
  {#</div>#}

  {% else %}

  {# (milestone) very similar to continuous, so consider uniformizing to avoid duplication #}
  <div>
    {% autoescape off %}
    {% for block in achievement.block_contents %}
      <div class="pt-5">
        {# editor block title #}
        <h3>{{ block.0 }}</h3>
        <div class="box-text">
          {{ block.1 }}
        </div>
        <div class="box-count">
          {{ block.2 }}
          {% blocktranslate with target_words=block.3 %}
            words (target: {{ target_words }})
          {% endblocktranslate %}
        </div>
      </div>
    {% endfor %}
    {% endautoescape %}
  </div>

  {% endif %}
</div>
{% if page_break %}
  <div class="page-break"></div>
{% endif %}
