{% extends "print/pdf.html" %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}
  {{ xform.name }}
{% endblock title %}

{% block content %}
  <main class="ps-main-section {{ mode }}" id="main">
    <!-- form name -->
    <h1>{{ xform.name }}</h1>

    <!-- each field (tuple) -->
    {% for field in fields %}
      <!-- field.0 = XField.name -->
      <h3>{{ field.0 }}</h3>
      <!-- field.1 = XFormEntry.data[XField.id] = value -->
      <p>{{ field.1 }}</p>
    {% endfor %}
  </main>
{% endblock content %}


