{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

  <div class="new-section">
    <h1>{% translate 'Annexed Documents Overview' %}</h1>
    <hr/>
  {% if documents or global_files %}
    <table class="table table-bordered table-responsive table-sm nowrap
              table-striped borders-blue padding-default white-outside-borders blue-text">
      <thead class="uppercase border-left-none border-top-none blue-text">
      <tr>
        <th class="text-right">&#35;</th>
        <th class="px-2">Annexe</th>
    {% if is_continuous %}
        <th class="border-right-none text-center" colspan="{{ num_achievements }}">
          {% translate 'Links to achievements' %}
        </th>
    {% endif %}
      </tr>
      </thead>
      <tbody>
    {% for key, file in global_files.items %}
        <tr class="border-right-none border-top-none border-bottom-none">
          <td class="border-left-none"></td>
          <td class="px-2">{{file.name }}</td>
      {% if is_continuous %}
          <td colspan="{{ num_achievements }}"></td>
      {% endif %}
        </tr>
    {% endfor %}
        <tr class="thead-light border-right-none border-top-none border-bottom-none">
          <td class="border-left-none"></td>
          <td></td>
    {% if is_continuous %}
      {% for a in achievements %}
          <td class="text-center">
            {{ a.targeted_competency.code }}.{{ a.number }}
          </td>
      {% endfor %}
    {% endif %}
        </tr>
    {% for document in documents %}
        <tr class="border-top-none border-bottom-none border-right-none">
          <td class="border-left-none text-right">
      {% if document.indice_1 %}
            {{ document.indice_1 }}-{{ document.indice_2 }}
      {% endif %}
          </td>
          <td class="px-2">
            {{ document.name }}
          </td>
      {% if is_continuous %}
        {% for a in achievements %}
          {% if a in document.achievements.all %}
          <td class="text-center">√</td>
          {% else %}
          <td>&nbsp;</td>
          {% endif %}
        {% endfor %}
      {% endif %}
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <p>
  {% else %}                                          {# if documents or global_files #}
    <h4>{% blocktranslate with user=portfolio.user %}No annexed document for {{ user }}{% endblocktranslate %}</h4>
  {% endif %}
  </div>
  <div class="page-break"></div>
