{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}

{# MODE=MILESTONE; hard-coded for now since NOT passed as parameter by Python; does NOT affect 'CONTINUOUS' #}
{% with competency_type_slug='facets' %}

  <div class="new-section">
    <h1>
      {% translate 'Facets Overview' %}
    </h1>
    <div class="container-fluid">
      <div class="row">
        <h2 class="absolute-no-hover mt-4">
          {% translate 'Facets of level of development' %}
        </h2>
      </div>
      <hr/>
      <div class="row">
        <table class="table table-bordered table-responsive table-sm table-striped borders-blue blue-text
        borders-no-horizontal padding-default white-outside-borders">
          <thead class="border-top-none">
          {# 1st header row #}
          <tr class="font-bold uppercase">
            <th class="border-left-none"></th>
            <th scope="col">
              {{ portfolio.program }}
            </th>

            <th class="border-right-none text-center" colspan="{{ num_achievements }}">
              {% translate 'Links to achievements' %}
            </th>
          </tr>

          {# 2nd header row #}
          <tr>
            <th class="border-left-none text-right">&#35;</th>
            <th>{% translate 'Skills of the curriculum' %}</th>

            {# CONTINUOUS #}
            {% for achievement in achievements %}
              <th class="border-right-none text-center">
                {{ achievement.targeted_competency.code }}.{{ achievement.number }}
              </th>
            {% endfor %}

          </tr>
          </thead>
          <tbody>

          {# iterate over skill groups (parent + children) to display the rows appropriately w/ collapse/expand feature #}
          {% for skill in facets %}
            {% with comp_name="facets" %}
              {# alias 'skill' facilitates integration w/ our generic 'skill_row_continuous.html' template #}
              {% include "print/skill_row_continuous.html" %}

              {# sub-loop for displaying children as properly-styled rows #}
              {% if skill.has_children %}
                {# 2nd level #}
                {% for skill in skill.children %}
                  {% include "print/skill_row_continuous.html" %}

                  {# 3rd level #}
                  {% if skill.has_children %}
                    {% for skill in skill.children %}
                      {% include "print/skill_row_continuous.html" %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="page-break"></div>
{% endwith %}