{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

  <div class="new-section">
    <h1>
      {% translate 'References' %}
    </h1>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <table class="table table-responsive table-bordered table-sm table-striped
                      borders-blue blue-text padding-default borders-no-horizontal
                      white-outside-borders">
          <thead class="border-left-none border-top-none font-bold uppercase">
            <tr>
              <th>{% translate 'Expression' %}</th>
              <th>{% translate 'Definition' %}</th>
              <th class="border-right-none">{% translate 'Found in achievement' %}</th>
            </tr>
          </thead>
          <tbody>
  {% for expression in glossary_ops %}
            <tr class="border-bottom-none">
              <td class="column-name border-left-none">{{ expression.insert }}</td>
              <td>{{ expression.definition|linebreaks }}</td>
              <td class="border-right-none">
                {{ expression.achievement_number }}. {{ expression.achievement }}
              </td>
            </tr>
  {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="page-break"></div>
