{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

  <div class="app-content pl-5 pr-5 ml-5 mr-5">
    <div class="mt-4">
      <h1 class="d-inline absolute-no-hover">
        {{ portfolio.program }}
      </h1>
    </div>
{% if portfolio.status == 'Certified' or portfolio.status == 'Archived' %}
    <h3 class="pt-3 raw-green-text">
      {% translate 'Portfolio certified' %}
  {% if portfolio.status == 'Archived' %}
      <span class="small">
        ({% translate 'Archived' %})
      </span>
  {% endif %}
    </h3>
{% endif %}
{% if achievements %}
  {% if mode == 'pdf' %}
    <table>
      <thead>
        <tr>
          <th>
            {% translate 'Achievements presented for recognition of prior learning' %}
          </th>
    {% if is_continuous %}
          <th>{% translate 'Status' as the_status %}{{ the_status }}</th>
    {% endif %}
        </tr>
      </thead>
      <tbody>
    {% for achievement in achievements %}
        <tr>
          <td>{{ achievement }}</td>
      {% if is_continuous %}
          <td>{% translate achievement.status %}</td>
      {% endif %}
        </tr>
    {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="d-flex w-100 justify-content-between table-title new-section">
       <h4 class="no-hover absolute-no-hover text-base">
        {% translate 'Achievements presented for recognition of prior learning' %}
      </h4>
      <h4 class="no-hover absolute-no-hover text-base">{{ the_status }}</h4>
    </div>
    <div class="list-group list-group-flush">
    {% for achievement in achievements %}
      <div class="d-flex w-100 justify-content-between">
        <h5 class="list-portfolio">{{ achievement }}</h5>
      {% if is_continuous %}
        <div>
          <span class="{% if achievement.status == 'Final' %}raw-green-text{% endif %}">
            {% translate achievement.status %}
          </span>
        </div>
      {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% else %}
    <h4 class="no-hover absolute-no-hover text-base pt-4">
      {% translate 'No achievement yet' %}
    </h4>
{% endif %}
  </div>
  <div class="page-break"></div>
