{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{{ portfolio.user }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header>
  <div class="header header-text">
    <h4>
      {{ portfolio.user }}
    </h4>
  </div>
</header>
<div class="container-fluid ps-page-wrapper">
  <div class="row flex-xl-nowrap">

    {% block content %}{% endblock content %}

  </div>
</div>
</body>
</html>
