{% extends base_template %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}
  {% if mode == 'read' %}
    {% translate 'Reading' as action %}
  {% elif mode == 'print' %}
    {% translate 'Print' as action %}
  {% else %}
    {% translate 'Export' as action %}
  {% endif %}
  {% blocktranslate with do=action user=portfolio.user %}{{ do }} portfolio of {{ user }}{% endblocktranslate %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section {{ mode }}" id="main">
    {% include 'print/index.html' %}

  {%  if is_continuous %}
    {% include 'print/skills.html' %}
    {% include 'print/facets.html' %}
  {% endif %}

  {% if is_milestone %}
    {# dynamically load all custom competency types & custom competencies #}
    {# https://www.generacodice.com/en/articolo/101445/django-how-to-do-tuple-unpacking-in-a-template-for-loop #}
    {% for ctype, competencies in custom_competencies %}
      {% if not ctype.private %}
        {% include 'print/competencies.html' %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% for achievement in html_achievements %}
    <div class="new-section"></div>
    {% with block_contents=achievement.block_contents %}
      {% include 'print/contents.html' %}
    {% endwith %}
  {% endfor %}

  {% if is_milestone %}
    {% include 'print/glossary.html' %}
    {% include 'print/document.html' %}
    {% include 'print/assessment.html' %}
  {% else %}
    {% include 'print/knowledge.html' %}
    {% include 'print/soft-skills.html' %}
    {% include 'print/glossary.html' %}
    {% include 'print/document.html' %}
    {% include 'print/explicitation.html' %}

    {# TODO UQAR REMOVED #}
    {# {% include 'print/levels.html' %} #}
  {% endif %}

  </main>
{% endblock content %}


