{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
  {% load compress %}
  {% load icon_utils %}
  {% load static %}

  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% block title %}{% endblock title %} | {{ app_name }}
  </title>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicons/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicons/favicon-32x32.png' %}">
  <link rel="manifest" href="{% static 'icons/favicons/browserconfig.xml' %}">
  <link rel="mask-icon" href="{% static 'icons/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-config" content="{% static 'icons/favicons/manifest.json' %}">
  <meta name="theme-color" content="#ffffff">

  {# exclude from Django compress since this causes issues w/ double compression (e.g. inline SVG in .form-select) #}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.1.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/tailwind-3.3.3/tailwind.build.min.css' %}">
  {% compress css %}
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="{% static 'vendor/fonts/sourcesanspro.css' %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/print.css' %}">
  {% endcompress %}

  </head>
  <body>
    <header>
      <div class="header">
        {% svg_icon_psg 'Logo-Passage-Bleu' width=200 %}
      </div>
      <div class="header header-text">
        <h4>
          {{ portfolio.user }}
        </h4>
      </div>
    </header>
    <div class="container-fluid ps-page-wrapper">
      <div class="row flex-xl-nowrap">

{% block content %}{% endblock content %}

      </div>
    </div>
{% block javascript %}
    <script defer src="{% static 'vendor/svgxuse-1.2.6/svgxuse.min.js' %}"></script>
    <script type="text/javascript">
      if (navigator.userAgent.search('Safari') !== -1) {
        document.getElementById("main").style.padding = '200px 60px 60px 60px';
      }
      window.print();
    </script>
{% endblock javascript %}
  </body>
</html>
