{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}

        <div>
  {% if skills or associated_skills or levels or documents %}
    {% if mode == 'pdf' %}
          <br>
    {% endif %}
          <table class="mt-5 table table-bordered table-sm table-striped table-custom
                        borders-blue borders-no-horizontal padding-default blue-text">
            <thead>
              <tr class="border-top-none uppercase">
                <th class="border-left-none w-1/4">
                  {% translate 'Expertise' %}
                </th>
                <th class="border-right-none">
                  {% translate 'Overview' %}
                </th>
              </tr>
            </thead>
            <tbody>
    {% if skills %}
              <tr>
                <td class="border-left-none font-bold">{% translate 'Skills' %}</td>
                <td class="border-right-none">
      {% for item in skills %}
                  {{ item }}{% if not forloop.last %},{% endif %}
      {% endfor %}
                </td>
              </tr>
    {% endif %}
    {% if associated_skills %}
              <tr>
                <td class="border-left-none font-bold">{% translate 'Associated skills' %}</td>
                <td class="border-right-none">
      {% for item in associated_skills %}
                  {{ item }}{% if not forloop.last %},{% endif %}
      {% endfor %}
                </td>
              </tr>
    {% endif %}
    {% if levels %}
              <tr>
                <td class="border-left-none font-bold">{% translate 'Levels of expertise' %}</td>
                <td class="border-right-none">
      {% for item in levels %}
                  {{ item.0 }}{% if not forloop.last %},{% endif %}
      {% endfor %}
                </td>
              </tr>
    {% endif %}
    {% if documents %}
              <tr>
                <td class="border-left-none font-bold">{% translate 'Annexes' %}</td>
                <td class="border-right-none">
      {% for document in documents %}
                  {{ document.indice_1 }}-{{ document.indice_2 }} : {{ document.name }}
        {% if not forloop.last %}
                  <br>
        {% endif %}
      {% endfor %}
                </td>
              </tr>
    {% endif %}
            </tbody>
          </table>
  {% endif %}     {# if skills or associated_skills or levels or documents #}

  {% if knowledges %}
    {% if mode == 'pdf' %}
          <br>
    {% endif %}
          <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
            <thead>
              <tr class="border-top-none uppercase">
                <th class="border-left-none font-bold w-1/4">
                  {% translate 'Knowledge' %}
                </th>
                <th class="border-right-none font-bold">
                  {% translate 'What is new for me about this knowledge' %}
                </th>
              </tr>
            </thead>
            <tbody>
    {% for item in knowledges %}
              <tr>
                <td class="fw-bold border-left-none">{{ item.name }}</td>
                <td class="border-right-none">{{ item.explanation }}</td>
              </tr>
    {% endfor %}
            </tbody>
          </table>
  {% endif %}

  {% if soft_skills %}
    {% if mode == 'pdf' %}
          <br>
    {% endif %}
          <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
            <thead>
              <tr class="border-left-none border-top-none uppercase">
                <th class="font-bold w-1/4">{% translate 'Soft-skills' %}</th>
                <th class="border-right-none font-bold">
                  {% translate 'In which way this soft-skill has evolved for me' %}
                </th>
              </tr>
            </thead>
            <tbody>
    {% for item in soft_skills %}
              <tr class="border-left-none">
                <td class="fw-bold">{{ item.name }}</td>
                <td class="border-right-none">{{ item.explanation }}</td>
              </tr>
    {% endfor %}
            </tbody>
          </table>
  {% endif %}

  {% if vocabulary %}
    {% if mode == 'pdf' %}
          <br>
    {% endif %}
          <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
            <thead>
              <tr class="border-left-none border-top-none uppercase">
                <th class="font-bold w-1/4">{% translate 'Specialized expressions' %}</th>
                <th class="border-right-none font-bold">{% translate 'Definition' %}</th>
              </tr>
            </thead>
            <tbody>
    {% for item in vocabulary %}
              <tr class="border-left-none">
                <td class="fw-bold">{{ item.name }}</td>
                <td class="border-right-none">{{ item.explanation|safe }}</td>
              </tr>
    {% endfor %}
            </tbody>
          </table>
  {% endif %}
        </div>
