{% load i18n %}
{% load list_utils %}

<tr class="original-skill
{% if is_continuous and skill.is_key %}font-bold{% endif %}
{% if skill.has_children or not skill.parent %}
  parent-competency
{% endif %}
">
  <td class="border-left-none text-right">
    {% if skill.parent %}{{ skill.parent.code }}.{% endif %}{{ skill.code }}
  </td>
  <td>{{ skill.name }}</td>
  {% for achievement in achievements %}
    {% if is_continuous or competency_type_slug in achievement.get_comp_types %}
      <td class="border-right-none text-center">
        {% if skill == achievement.targeted_competency %}
          {% translate 'T' %}
        {% elif skill.id in skill_ops|get_value_with_key:forloop.counter0 %}
          √
        {% endif %}
      </td>
    {% endif %}
  {% endfor %}
</tr>