{% load i18n %}
{% load list_utils %}

<tr class="original-skill
{% if not skill.parent %}parent-competency{% endif %}
">
  <td class="border-left-none text-right">
    {{ skill.code }}
  </td>
  <td>{{ skill.name }}</td>
{% for step_number in portfolio.user.group.milestone|xrange %}
  {% for achievement in achievements %}
{#    TODO must show ALL achievements because of milestones & way print functions return NOT only relevant achievements #}
{#    {% if competency_type_slug in achievement.get_comp_types %}#}
    {# key->value map of 'skill_id': 'attribute_id' for this achievement #}
    {% with skill_attribute_map=skill_ops|get_value_with_key:forloop.counter0 %}
      <td class="border-right-none text-center {% if competency_type_slug in achievement.get_comp_types %}relevant{% else %}irrelevant{% endif %}">
        {% if skill.id in skill_attribute_map %}
          {# specific attribute_id (a timestamp) for the current skill.id; {id:<timestamp>, milestone:<number>} #}
          {% with attribute=skill_attribute_map|get_value_with_key:skill.id %}
            {% if attribute.milestone == step_number %}
              √
            {% endif %}
          {% endwith %}
        {% endif %}
      </td>
    {% endwith %}
{#    {% endif %}#}
  {% endfor %}
{% endfor %}
</tr>