{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}

{# MODE=MILESTONE; hard-coded for now since NOT passed as parameter by Python; does NOT affect 'CONTINUOUS' #}
{% with competency_type_slug='competency' %}

  <div class="new-section">
    <h1>
  {% if is_milestone %}
      {% translate 'Overview: Skills' %}
  {% else %}
      {% translate 'Skills Overview' %}
  {% endif %}
    </h1>
    <div class="container-fluid">
      <div class="row">
        <h2 class="absolute-no-hover mt-4">
          {% translate 'Concordance of the professional skills of the curriculum with the presentend achievements' %}
        </h2>
      </div>
      <hr/>
      <div class="row">
        <table class="table table-bordered table-responsive table-sm table-striped
                      borders-blue blue-text borders-no-horizontal padding-default
                      white-outside-borders">
          <thead class="border-top-none">
            {# 1st header row #}
            <tr class="font-bold uppercase">
              <th class="border-left-none"></th>
              <th scope="col">
                {{ portfolio.program }}
              </th>

  {# MILESTONE #}
  {% if is_milestone %}
    {# display all achievements for each milestone based on portfolio's user group's current milestone #}
    {% for step_number in portfolio.user.group.milestone|xrange %}
              <th class="border-right-none text-center" colspan="{{ num_achievements }}">
                {% translate 'Milestone' %}&nbsp;{{ step_number }}
              </th>
    {% endfor %}
  {# CONTINUOUS #}
  {% else %}
              <th class="border-right-none text-center" colspan="{{ num_achievements }}">
                {% translate 'Links to achievements' %}
              </th>
  {% endif %}
            </tr>

            {# 2nd header row #}
            <tr>
              <th class="border-left-none text-right">&#35;</th>
              <th>{% translate 'Skills of the curriculum' %}</th>

  {# MILESTONE #}
  {% if is_milestone %}
    {% for step_number in portfolio.user.group.milestone|xrange %}
      {% for achievement in achievements %}
{#  TODO figure out how to handle ONLY 'relevant' achievements vs 'num_achievements' #}
{#        {% if competency_type_slug in achievement.get_comp_types %}#}
              <th class="border-right-none text-center {% if competency_type_slug in achievement.get_comp_types %}relevant{% else %}irrelevant{% endif %}">
                {{ achievement.targeted_competency.code }}.{{ achievement.number }}
              </th>
{#        {% endif %}#}
      {% endfor %}
    {% endfor %}
  {# CONTINUOUS #}
  {% else %}
    {% for achievement in achievements %}
              <th class="border-right-none text-center">
                {{ achievement.targeted_competency.code }}.{{ achievement.number }}
              </th>
    {% endfor %}
  {% endif %}

            </tr>
          </thead>
          <tbody>

  {# iterate over skill groups (parent + children) to display the rows appropriately w/ collapse/expand feature #}
  {% for skill_grp in grouped_skills %}
    {# alias 'skill' facilitates integration w/ our generic 'skill_row_continuous.html' template #}
    {% with skill_grp.parent as skill %}
      {# single row for parent skill  #}
      {% if is_milestone %}
        {% include "print/skill_row_milestone.html" %}
      {% else %}
        {% include "print/skill_row_continuous.html" %}
      {% endif %}

      {# sub-loop for displaying children as properly-styled rows #}
      {% for child in skill_grp.children %}
        {% with child as skill %}
          {% if is_milestone %}
            {% include "print/skill_row_milestone.html" %}
          {% else %}
            {% include "print/skill_row_continuous.html" %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    {% endwith %}
  {% endfor %}

  {# CONTINUOUS #}
  {% if is_continuous and associated_skill_ops %}
          <!-- <thead> -->
            <tr class="uppercase border-top-down">
              <td class="border-left-none"></td>
              <td>
                {% translate 'Associated skills' %}
              </td>
    {% for achievement in achievements %}
              <td class="border-right-none text-center">
                {{ achievement.targeted_competency.code }}.{{ achievement.number }}
              </td>
    {% endfor %}
            </tr>
          <!-- </thead> -->
    {% for op in associated_skill_ops %}
            <tr>
              <td class="border-left-none">&nbsp;</td>
              <td>{{ op.associated_skill }}</td>
      {% for achievement in achievements %}
              <td class="border-right-none text-center">
        {% if achievement.number in op %}
                √
        {% endif %}
              </td>
      {% endfor %}
            </tr>
    {% endfor %}
  {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="page-break"></div>
{% endwith %}