{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

  <div class="new-section">
    <h1>
      {% translate 'Soft-skills' %}
    </h1>
    <hr>
    <div class="container-fluid">
      <div class="row" id="sort_k">
        <table class="table padding-default table-responsive table-bordered table-sm
                      table-striped table-custom borders-blue blue-text">
          <thead class="font-bold uppercase blue-text">
            <tr>
              <th class="border-top-none border-left-none pl-3 w-1/5">
                {% translate 'Soft-skill' %}
                {% svg_icon_psg 'tri-az' extra_class="ml-3" width=50 height=22 %}
              </th>
              <th class="border-top-none pl-3 w-3/5">
                {% translate 'In which way this soft-skill has evolved for me' %}
              </th>
              <th class="border-top-none border-right-none pl-3 w-1/5">
                {% translate 'Achievement' %}
              </th>
            </tr>
          </thead>
          <tbody>
  {% for soft_skill in soft_skill_ops %}
            <tr>
              <td class="column-name p-3 border-left-none border-bottom-none border-top-none">
                {{ soft_skill.name }}
              </td>
              <td class="p-3 border-top-none border-bottom-none blue-text">
                {{ soft_skill.explanation }}
              </td>
              <td class="pt-2 pl-3 border-right-none border-bottom-none border-top-none">
                {{ soft_skill.achievement_number }}. {{ soft_skill.achievement }}
              </td>
            </tr>
  {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="page-break"></div>
