{% extends base_template %}
{% load string_utils %}
{% load i18n %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% block title %}
  {% if mode == 'read' %}
    {% translate 'Reading' as action %}
  {% elif mode == 'print' %}
    {% translate 'Print' as action %}
  {% else %}
    {% translate 'Export' as action %}
  {% endif %}
  {% blocktranslate with do=action user=portfolio.user %}{{ do }} assessment of {{ user }}{% endblocktranslate %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section {{ mode }}" id="main" style="color: #203882;">
    <div class="app-content pl-5 pr-5 ml-5 mr-5">
      <h1 class="mt-4 mb-4 absolute-no-hover">
        {% translate 'Assessment of competencies' %}
      </h1>
      <div>
        <div class="mb-2">
          <b>{% translate 'Candidate: ' %}</b>{{ portfolio.user }}
        </div>
        <div class="mb-2">
          <b>{% translate 'Subject expert: ' %}</b>{{ portfolio.user.expert }}
        </div>
        <div class="mb-2">
          <b>{% translate 'Supervisor: ' %}</b>{{ portfolio.user.group.supervisor }}
        </div>
      </div>
      <br/>
      <div>
        <div class="mb-2">
          <b>{% translate 'Assessments date' %}</b><br/>
        </div>
        <div class="mb-2">
          <b><i>{% translate 'Document assessment: ' %}</i></b>
          {{ document_date }}
          <br/>
        </div>
        <div class="mb-2">
          <b><i>{% translate 'Post-interview assessment: ' %}</i></b>
          {{ interview_date }}
        </div>
      </div>
      <br/>
      <div>
        <div class="mb-2">
          <b>{% translate 'Targeted number of credits: ' %}</b>
          {{ requested_credits }} {% translate 'credits' %}
        </div>
        <div class="mb-2">
          <b>{% translate 'Recommended number of credits: ' %}</b>
          <span id='id-recommended-credits'>{{ recommended_credits }} {% translate 'credits' %}</span>
        </div>
      </div>
      <br/>
      {% include 'portfolio/partials/summative_table.html' %}
      {% for assessment in competency_assessments %}
        <hr/>
        <div class="w-2/3">
          <h1 class="mt-5 mb-4 absolute-no-hover">{{ assessment.competency.code }}. {% translate assessment.competency.name %}</h1>
          <p class="text-lg"><b>{% translate '[Q1] Facet of development level targeted by the candidate' %}</b></p>
          <p class="text-lg">{% translate assessment.get_targeted_facet %}</p>
          <p class="text-lg"><b>{% translate '[Q2] Facet of the development level targeted by the subject expert' %}</b></p>
          <p class="text-lg">{% translate assessment.get_evaluated_facet %}</p>
          <p class="text-lg" style="color: #ff6362">{% compare_development_levels assessment.summative_candidate_level assessment.summative_expert_level %}</p>
          <p class="text-lg"><b>{% translate '[Q3] Granted credits' %}</b></p>
          <p class="text-lg">{{  assessment.summative_credits }} {% translate 'credits' %}</p>
          <p class="text-lg"><b>{% translate '[Q4] Comments' %}</b></p>
          <p class="mb-5 text-lg">{{ assessment.summative_comments }}</p>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}


