{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}
  {% translate 'Assessment of competencies' %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section competency-evaluations" style="color: #203882;">

    <h1>{% translate 'Assessment of competencies' %}</h1>
    <hr/>
    <div class="mt-4 mb-3 flex justify-between">

      {# column 1 #}
      <div>
        <div class="mb-2">
          <span class="font-bold">{% translate 'Candidate: ' %}</span>{{ portfolio.user }}
        </div>
        <div class="mb-2">
          <span class="font-bold">{% translate 'Subject expert: ' %}</span>{{ portfolio.user.expert }}
        </div>
        <div class="mb-2">
          <span class="font-bold">{% translate 'Supervisor: ' %}</span>{{ portfolio.user.group.supervisor }}
        </div>
      </div>

      {# column 2 #}
      <div>
        <div class="mb-2">
          <span class="font-bold">{% translate 'Assessments date' %}</span><br/>
        </div>
        <div class="mb-2">
          <span>{% translate 'Document assessment: ' %}</span>
          {% if document_date and progress_view_permission and summative_view_permission %}
            {{ document_date }}
          {% endif %}
          <br/>
        </div>
        <div class="mb-2">
          <span>{% translate 'Post-interview assessment: ' %}</span>
          {% if user_type == 'Expert' %}
            <input type="date" class="form-control" id="interview-assessment-date" value="{{ interview_date }}">
          {% elif interview_date and progress_view_permission and summative_view_permission %}
            {{ interview_date }}
          {% endif %}
        </div>
      </div>

      {# column 3 #}
      <div>
        <div class="mb-2">
          <span class="font-bold">{% translate 'Targeted number of credits: ' %}</span>
          {% if progress_view_permission and summative_view_permission %}
            {{ requested_credits }} {% translate 'credits' %}
          {% endif %}
        </div>
        <div class="mb-2">
          <span class="font-bold">{% translate 'Recommended number of credits: ' %}</span>
          {% if progress_view_permission and summative_view_permission %}
            <span id='id-recommended-credits'>{{ recommended_credits }} {% translate 'credits' %}</span>
          {% endif %}
        </div>
      </div>
    </div>

    {# assessment action buttons #}
    <div class="mb-4 mt-4">
      {% if user_type == 'Applicant' and portfolio.status == 'Draft' %}
        <button class="btn btn-link btn-sm orange-text uppercase" type="button"
                data-bs-toggle="modal" data-bs-target="#finalizePortfolioModal">
          <svg data-iconid class="icon crochet-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#crochet-orange"></use>
          </svg>
          {% translate 'Finalize portfolio' %}
        </button>
      {% endif %}
      {% if user_type == 'Expert' and progress_edit_permission %}
        <button type="button" class="btn btn-link btn-sm orange-text uppercase mr-5" data-bs-toggle="modal"
                data-bs-target="#finalize-progress-assessments-modal">
          <svg data-iconid class="icon questionnaire-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#questionnaire-orange"></use>
          </svg>
          {% translate 'Submit progress assessments to supervisor for validation' %}
        </button>
      {% elif user_type == 'Expert' and summative_edit_permission %}
        <button type="button" class="btn btn-link btn-sm orange-text uppercase mr-5" data-bs-toggle="modal"
                data-bs-target="#finalize-summative-assessments-modal">
          <svg data-iconid class="icon questionnaire-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#questionnaire-orange"></use>
          </svg>
          {% translate 'Submit summative assessments to supervisor for validation' %}
        </button>
      {% endif %}
      {% if user_type == 'Supervisor' and portfolio.status == 'Final' %}
        <button id='submit-portfolio' class="btn btn-link btn-sm orange-text uppercase" type="button">
          <svg data-iconid class="icon crochet-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#crochet-orange"></use>
          </svg>
          {% translate 'Submit portfolio to expert' %}
        </button>
      {% endif %}
      {% if user_type == 'Supervisor' and portfolio.status == 'PreReviewed' %}
        <button type="button" id="review-assessments" class="btn btn-link btn-sm orange-text uppercase mr-5"
                data-bs-toggle="modal" data-bs-target="#review-progress-assessments-modal">
          <svg data-iconid class="icon questionnaire-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#questionnaire-orange"></use>
          </svg>
          {% translate 'Ask expert to review progress assessments' %}
        </button>
        <button type="button" class="btn btn-link btn-sm orange-text uppercase mr-5" data-bs-toggle="modal"
                data-bs-target="#certify-progress-assessments-modal">
          <svg data-iconid class="icon questionnaire-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#questionnaire-orange"></use>
          </svg>
          {% translate 'Share results of progress assessments with candidate' %}
        </button>
      {% elif user_type == 'Supervisor' and portfolio.status == 'Reviewed' %}
        <button type="button" id="review-assessments" class="btn btn-link btn-sm orange-text uppercase mr-5"
                data-bs-toggle="modal" data-bs-target="#review-summative-assessments-modal">
          <svg data-iconid class="icon questionnaire-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#questionnaire-orange"></use>
          </svg>
          {% translate 'Ask expert to review summative assessments' %}
        </button>
        <button type="button" class="btn btn-link btn-sm orange-text uppercase mr-5" data-bs-toggle="modal"
                data-bs-target="#certify-summative-assessments-modal">
          <svg data-iconid class="icon questionnaire-orange" width="15" height="15">
            <use xlink:href="/static/icons/icons-2.0.svg#questionnaire-orange"></use>
          </svg>
          {% translate 'Share results of summative assessments with candidate' %}
        </button>
      {% endif %}
    </div>
    {# competency tabs #}
    <ul class="nav nav-tabs justify-content-start nav-tab-link" id="nav-tab-competencies" role="tablist">
      {% if summative_view_permission and competency_assessments.all %}
        <li class="nav-item competency-tab"
            data-portfolio-id="{{ portfolio.id }}"
            data-competency-id="-1"
        >
          <a class="nav-link cursor-pointer {% if selected_competency_id == '-1' %}active{% endif %}"
             data-bs-toggle="tab"
             role="tab" aria-controls="nav-tab-pane-competency" aria-selected="true"
          >
            {% translate 'Summative Table' %}
          </a>
        </li>
      {% endif %}
      {% for competency in competencies %}
        <li class="nav-item competency-tab"
            data-portfolio-id="{{ portfolio.id }}"
            data-competency-id="{{ competency.id }}"
        >
          <a class="nav-link cursor-pointer {% if competency.id == selected_competency_id %}active{% endif %}"
             data-bs-toggle="tab"
             role="tab" aria-controls="nav-tab-pane-competency" aria-selected="true"
          >
            {% translate competency.name %}
          </a>
        </li>
      {% endfor %}
    </ul>

    {# summative table #}
    {% if summative_view_permission and selected_competency_id == '-1' %}
      <div class="container-fluid mt-5">
        <div class="row">
          {% include 'portfolio/partials/summative_table.html' %}
          <div class="flex flex-wrap pt-3">
            <div class="flex-auto">
              <h4>
                <button class="btn btn-style"
                        onclick="window.open('{% url 'print_assessment' portfolio.id 'read' %}')">
                  {% svg_icon_psg 'lunettes-orange' extra_class="" width=30 height=30 %}
                  {% translate 'Reader' %}
                </button>
              </h4>
            </div>
            <div class="flex-auto">
              <h4>
                <button class="btn btn-style"
                        onclick="window.open('{% url 'print_assessment' portfolio.id 'print' %}')">
                  {% svg_icon_psg 'imprimante-orange' extra_class="" width=30 height=30 %}
                  {% translate 'Print assessment' %}
                </button>
              </h4>
            </div>
            <div class="flex-auto">
              <h4>
                <button class="btn btn-style"
                        onclick="location.href='{% url 'print_assessment' portfolio.id 'pdf' %}'">
                  {% svg_icon_psg 'pdf-orange' extra_class="" width=30 height=30 %}
                  {% translate 'Export assessment to PDF' %}
                </button>
              </h4>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      {# progress assessment form #}
      {% if form_progress_assessment %}
        {% include 'portfolio/partials/progress_assessment.html' %}
        <hr/>
        {% include 'portfolio/partials/summative_assessment.html' %}
      {% else %}
        <p class="italic mt-2">
          {% translate 'Select a competency to display the assessment forms.' %}
        </p>
      {% endif %}
  
      {% if user_type == 'Expert' and progress_edit_permission %}
        <!-- Modal dialog to finalize progress assessments  -->
        {% include 'portfolio/partials/modal.assessments.html' with assessment_type='progress' action='finalize' %}
      {% elif user_type == 'Expert' and summative_edit_permission %}
        <!-- Modal dialog to finalize summative assessments  -->
        {% include 'portfolio/partials/modal.assessments.html' with assessment_type='summative' action='finalize' %}
      {% endif %}
  {#    {% if user_type == 'Supervisor' and progress_edit_permission %}#}
      {% if user_type == 'Supervisor' and portfolio.status == 'PreReviewed' %}
        <!-- Modal dialogs to review/certify progress assessments  -->
        {% include 'portfolio/partials/modal.assessments.html' with assessment_type='progress' action='review' %}
        {% include 'portfolio/partials/modal.assessments.html' with assessment_type='progress' action='certify' %}
  {#    {% elif user_type == 'Supervisor' and summative_edit_permission %}#}
      {% elif user_type == 'Supervisor' and portfolio.status == 'Reviewed' %}
        <!-- Modal dialogs to review/certify summative assessments  -->
        {% include 'portfolio/partials/modal.assessments.html' with assessment_type='summative' action='review' %}
        {% include 'portfolio/partials/modal.assessments.html' with assessment_type='summative' action='certify' %}
      {% endif %}
      {% if user_type == 'Applicant' and portfolio.status == 'Draft' %}
        <!-- Modal dialog to finalize portfolio  -->
        {% include 'portfolio/partials/modal.finalize-portfolio.html' %}
      {% endif %}
    {% endif %}
  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

{% endblock javascript %}