{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}
{% load l10n %}
{% load list_utils %}

{% block title %}
  {% translate 'Assessment' %}
{% endblock title %}

{% block content %}
<main class="ps-main-section">
  <main>
    <h1>{% translate 'Assessment' %}</h1>
    <hr>
    <div class="container-fluid">
      <ul class="nav nav-tabs justify-content-start nav-tab-link" id="nav-tab-explicitness" role="tablist">
  {% for milestone in milestones %}
        <li class="nav-item" data-tab-number="{{ forloop.counter }}">
          <a class="nav-link {% if group_milestone == forloop.counter %}active{% endif %}"
             id="nav-tab-development-{{ forloop.counter }}"
             href="#nav-tab-pane-development-{{ forloop.counter }}"
             data-bs-toggle="tab"
             role="tab" aria-controls="nav-tab-pane-development" aria-selected="true"
          >
            {% translate 'Step' %} {{ forloop.counter }}
          </a>
        </li>
  {% endfor %}
      </ul>
    <div class="tab-content tab-deroulement" id="nav-tab-pane-explicitness">
  {% for milestone in milestones %}
      <div class="tab-pane fade {% if group_milestone == forloop.counter %}show active{% endif %}"
             id="nav-tab-pane-development-{{ forloop.counter }}"
             data-tab-number="{{ forloop.counter }}"
             role="tabpanel"
             aria-labelledby="nav-tab-development"
        >
        {# assessment table #}
        <table
            class="table padding-default table-responsive table-bordered table-sm borders-blue blue-text tbl-assessment table-fixed"
        >
          {# header rows #}
          <thead class="font-bold uppercase blue-text">
            <tr class="border-top-none">
              <th class="border-left-none w-1/6">
                {% translate "Assessment object" %}
              </th>
              <th class="border-top-none pl-3 w-1/6">
                {% translate "Assessment indicators" %}
              </th>
              <th class="border-top-none pl-3 w-1/4">
                {% translate "Assessment" %}
              </th>
              <th class="border-top-none border-right-none pl-3 w-1/4">
                {% translate "Commentary" %}
              </th>
            </tr>
          </thead>

          {# full form body #}
          <tbody>
    {% for assessment in milestone %}
      {% if assessment.parent is None %}
            <tr class="parent-assessment-category bg-gray-200">
              <td colspan="4" class="border-left-none text-center align-middle no-background border-right-none">
        {% if assessment.code != 'total' %}
                <span
                    data-grade-group="{{ forloop.parentloop.counter }}_{{ assessment.code }}"
                    data-grade-weight="{{ assessment.weight|unlocalize }}"
                >
                  {{ assessment.assessment_object }} ({{ assessment.base100 }}%)
                  {{ assessment.assessment_indicator }}
                </span>
        {% endif %}
              </td>
            </tr>
        {% if assessment.code == 'total' %}
            {# TOTAL ROW #}
            <tr id="row-total-assessment">
              <td colspan="2" class="border-left-none text-right">
                {{ assessment.assessment_object }}
              </td>
              <td colspan="2" id="{{ forloop.parentloop.counter }}_final-grade" class="border-right-none"
                {% if hide_grades %}data-hide-grade="true"{% endif %}
              >
                0%
              </td>
            </tr>
          {% endif %}
      {% else %}
            <tr>
              <td class="column-name p-3 border-left-none" id="assessment-{{ forloop.parentloop.counter }}_{{ assessment.code }}">
                {{ assessment.assessment_object }}
              </td>
              <td class="p-3 blue-text">
                {{ assessment.assessment_indicator|safe }}
              </td>
              <td class="p-3 blue-text">
                  {#<label for="rating-dd-a1"></label>#}
                  <select class="rating-dd form-select" id="rating-dd-{{ forloop.parentloop.counter }}_{{ assessment.code }}"
                          data-rubric-id="{{ forloop.parentloop.counter }}_{{ assessment.code }}"
                    {% if read_only %}disabled{% endif %}
                    {% if hide_grades %}data-hide-grade="true"{% endif %}
              >
                    {% for choice in rating_choices %}
                      <option value="{{ choice.0|unlocalize }}">
                        {{ choice.1 }}
                      </option>
                    {% endfor %}
                  </select>
                  <div class="rating-criteria" data-rubric-id="{{ forloop.parentloop.counter }}_{{ assessment.code }}"></div>
              </td>
              <td class="p-3 blue-text border-right-none">
                  {# rating comment #}
                    {% if read_only %}
                      <div class="rating-comment"
                           data-rubric-id="{{ forloop.parentloop.counter }}_{{ assessment.code }}"
                           data-read-only
                           {% if hide_grades %}data-hide-comment="true"{% endif %}
                      >
                        {% translate "Comment" %} :
                      </div>
                    {% else %}
                      <textarea class="rating-comment" data-rubric-id="{{ forloop.parentloop.counter }}_{{ assessment.code }}"
                                placeholder="{% translate "Comment" %} ...">
                      </textarea>
                    {% endif %}
                </td>
            </tr>
      {% endif %}
    {% endfor %}
          </tbody>
        </table>

      {# submit button; include portfolio type to easily send it in AJAX query #}
      {% if not read_only and forloop.counter == group_milestone %}
        {# needed for us to pass it along with the AJAX POST request to the server #}
        {% csrf_token %}
        <div id="btn-assessment-submit" data-portfolio="{{ portfolio.id }}" data-milestone="{{ group_milestone }}">
          <button class="btn btn-block btn-primary btn-orange">
            {% translate "Submit" %}
          </button>
        </div>
      {% endif %}
      </div>
    {% endfor %}
    </div>
    </div>
  </main>

  <script>
    // retrieve the criterias list in JSON format
    let criteriaStr = '{{ criterias|escapejs }}'
    criteriaStr = criteriaStr
        .replaceAll('\n', '\\n')
        .replaceAll('\t', '\\t')
        .replaceAll('\r', '\\r')
    const criterias = JSON.parse(criteriaStr)

    // retrieve the current user portfolio assessment in JSON format
    let currentAssessment = null
    try {
      let currentAssessmentStr = '{{ user_assessments|escapejs }}'
      currentAssessmentStr = currentAssessmentStr
        .replaceAll('\n', '\\n')
        .replaceAll('\t', '\\t')
        .replaceAll('\r', '\\r')
      currentAssessment = JSON.parse(currentAssessmentStr)
    } catch (e) {
      console.error(e)
    }
  </script>
</main>
{% endblock content %}
