{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load icon_utils %}

{% block title %}
  {% translate 'Applicant training capsules' %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section custom-form">

    <h1>{{ form_title }}</h1>
    <hr/>

    <div class="container-fluid">

      <form action="{% url 'custom_form' form_id %}" method="POST" autocomplete="off">
        {% csrf_token %}
        {# render Django form #}
        {{ form|crispy }}

        {# form submit button #}
        <hr/>
        <button
            id="custom-form-save"
            type="submit"
            class="btn btn-block btn-primary btn-orange uppercase mr-5 w-48"
        >
          {% translate 'Save' %}
        </button>
      </form>

    </div>

  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
{% endblock javascript %}
