{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}
{% load string_utils %}

{% block title %}{% translate 'Skills' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <div>
      <h1>{{ competency_type.name }}</h1>
      <div class="container-fluid">
        <div class="row">
          <h2 class="absolute-no-hover mt-4">
            {{ competency_type.desc }}
          </h2>
        </div>
        <hr/>
        <div class="row">
          <table
              data-type="custom-competency"
              class="table padding-default table-bordered table-responsive table-sm table-striped
                      borders-blue blue-text borders-no-horizontal
                      white-outside-borders"
          >
            <thead class="border-top-none">
              {# 1st header row #}
              <tr class="font-bold uppercase">
                <th class="border-left-none"></th>
                <th scope="col">
                  {#<a href="{{ portfolio.program.get_url }}" target="_blank">#}
                  <a href="{{ competency_type.url }}" target="_blank">
                    {{ portfolio.program }}
                  </a>
                </th>
  {# display all achievements for each milestone based on portfolio's user group's current milestone #}
  {% for step_number in portfolio.user.group.milestone|xrange %}
                <th class="border-right-none text-center" colspan="{{ num_achievements }}">
                  {% translate 'Milestone' %}&nbsp;{{ step_number }}
                </th>
  {% endfor %}
              </tr>
              {# 2nd header row #}
              <tr class="competency-type-row collapsed">
                <th class="border-left-none text-right">&#35;</th>
                <th>{{ competency_type.name }}</th>
  {% for step_number in portfolio.user.group.milestone|xrange %}
    {% for achievement in achievements %}
                <th class="border-right-none text-center">
      {% if is_milestone and portfolio.share %}
                  <a href="{% url 'get_achievement_by_portfolio' achievement.id 0 portfolio.id %}?tab={{ step_number }}">
      {% else %}
                  <a href="{% url 'get_achievement' achievement.id %}?tab={{ step_number }}">
      {% endif %}
                    {{ achievement.targeted_competency.code }}.{{ achievement.number }}
                  </a>
                </th>
    {% endfor %}
  {% endfor %}
              </tr>
            </thead>
            <tbody>
  {% for skill in skills %}
              <tr
                  class="{% if not skill.parent %}parent-competency collapsed{% else %}child-competency{% endif %}"
              >
                <td class="border-left-none text-right">
                  {{ skill.id }}
                </td>
                <td>{{ skill.name }}</td>
    {% for step_number in portfolio.user.group.milestone|xrange %}
      {% for achievement in achievements %}
        {# key->value map of 'skill_id': 'attribute_id' for this achievement #}
        {% with skill_attribute_map=skill_ops|get_value_with_key:forloop.counter0 %}
          {% with step_number|concat:":"|concat:skill.id as full_id %}
                <td
                    class="border-right-none text-center {% if not skill.parent %}competency-count{% endif %}"
                    data-achievement-number="{{ achievement.targeted_competency.code }}.{{ achievement.number }}"
                    data-tab="{{ step_number }}"
                >
            {% if skill == achievement.targeted_competency %}
                  {% translate 'T' %}
            {% elif full_id in skill_attribute_map %}
              {# specific attribute object ({id:<timestamp>,milestone:<number>}) for the current skill.id #}
              {% with attribute=skill_attribute_map|get_value_with_key:full_id %}
                {% if is_milestone and portfolio.share %}
                  <a href="{% url 'get_achievement_by_portfolio' achievement.id 0 portfolio.id %}?tag={{ attribute.id }}&cls=ql-{{ competency_type.code }}&tab={{ step_number }}"
                {% else %}
                  <a href="{% url 'get_achievement' achievement.id %}?tag={{ attribute.id }}&cls=ql-{{ competency_type.code }}&tab={{ step_number }}"
                {% endif %}
                           target="_blank" data-achievement-number="{{ achievement.targeted_competency.code }}.{{ achievement.number }}" data-tab="{{ step_number }}">
                {# try to get part of attribute after '@' (used for 'level'); then display the actual value after the '@' #}
                {% if attribute.id|cut_from:"@" %}
                    {{ attribute.id|cut_from:"@" }}
                {# else show the default square root symbol #}
                {% else %}
                    √
                {% endif %}
                  </a>
              {% endwith %}
            {% endif %}
                </td>
          {% endwith %}
        {% endwith %}
      {% endfor %}
    {% endfor %}
              </tr>
  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
