{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Questionnaire answers as text' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div>
      <h1>
        {% url 'get_achievement' achievement.id as url_get_achievement %}
        {% blocktranslate with id=achievement.id number=achievement.number %}<a href="{{ url_get_achievement }}">Achievement {{ number }}</a>{% endblocktranslate %}
      </h1>
      <hr>
      <div class="container">
        <label for="developmentAnswers">
          {% translate 'Questionnaire answers as text' %}
        </label>
        <br/>
        <textarea id="developmentAnswers"
                  name="developmentAnswers"
                  rows="30" cols="100">{{ contents }}
        </textarea>
      </div>
    </div>
  </main>
{% endblock content %}
