{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}
  {% translate 'Documents' %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section edit-profile">
    <div>
      <h1>{% translate 'Annexed Documents Overview' %}</h1>
      <hr/>
  {% if documents or specific_document_types %}  {#  or milestones #}
      <table class="table table-bordered table-responsive table-sm nowrap
                table-striped borders-blue padding-default white-outside-borders blue-text">
        <thead class="uppercase border-left-none border-top-none blue-text">
          <tr>
            <th class="text-right">&#35;</th>
            <th class="px-2{% if is_milestone and not document_type_choices %} border-right-none{% endif %}">Annexe</th>
    {% if document_type_choices %}
            <th class="px-2{% if is_milestone %} border-right-none{% endif %}">Type</th>
    {% endif %}
    {% if is_continuous %}
            <th class="border-right-none text-center" colspan="{{ num_achievements }}">
              {% translate 'Links to achievements' %}
            </th>
    {% endif %}
          </tr>
        </thead>
        <tbody>
    {% for specific_document_type in specific_document_types %}
      {% if specific_document_type.file is not None %}
          <tr class="border-right-none border-top-none border-bottom-none">
            <td class="border-left-none"></td>
            <td class="px-2"><a href="{{ specific_document_type.file.url }}">{{specific_document_type.type.name }}</a></td>
            <td></td>
        {% if is_continuous %}
            <td colspan="{{ num_achievements }}"></td>
        {% endif %}
          </tr>
      {% endif %}
    {% endfor %}
    {% if is_continuous %}
          <tr class="thead-light border-right-none border-top-none border-bottom-none">
            <td class="border-left-none"></td>
            <td></td>
            <td></td>
      {% for a in achievements %}
            <td class="text-center">
              <a href="{% url 'get_achievement' a.id %}">
                {{ a.targeted_competency.code }}.{{ a.number }}</a>
            </td>
      {% endfor %}
          </tr>
    {% endif %}
    {% for document in documents %}
          <tr class="border-top-none border-bottom-none border-right-none">
            <td class="border-left-none text-right">
      {% if document.indice_1 %}
              {{ document.indice_1 }}-{{ document.indice_2 }}
      {% endif %}
            </td>
            <td class="px-2">
              <a href="{{ document.url }}">{{ document.name }}</a>
            </td>
      {% if document_type_choices %}
            <td class="px-2">{{ document.type|default_if_none:'' }}</td>
      {% endif %}
      {% if is_continuous %}
        {% for a in achievements %}
          {% if a in document.achievements.all %}
            <td class="text-center">√</td>
          {% else %}
            <td>&nbsp;</td>
          {% endif %}
        {% endfor %}
      {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {# bottom action bar below document table #}
      <div class="d-flex justify-content-between">
      {% if portfolio.status != 'Certified' and portfolio.status != 'Archived' and editable %}
        {# if user is accessing his own portfolio, allow him to add / edit documents #}
        {% if request.user == portfolio.user %}
          <button
              class="btn btn-link btn-sm orange-text uppercase pr-5"
              type="button"
              onClick="window.location='{% url 'documents_index' portfolio.id 1 %}'"
          >
          {% if has_documents %}
            {% svg_icon_psg 'document' extra_class="orange" width=30 height=30 %}
            {% translate 'Add or edit documents' %}
          {% else %}
            {% svg_icon_psg 'ajouter' extra_class="orange mb-1" width=25 height=25 %}
            {% translate 'Add documents' %}
          {% endif %}
          </button>
        {% endif %}

        {# continuous: allow full download of all documents #}
        {% if is_continuous and has_documents %}
          <button
              class="btn btn-link btn-sm orange-text uppercase"
              type="button"
              onClick="window.location='{% url 'portfolio_download_all' portfolio.id %}'"
          >
            {% svg_icon_psg 'portfolio' extra_class="orange" width=30 height=30 %}
            {% translate 'Download all documents' %}
          </button>
        {% endif %}
      {% endif %}

    {% endif %} {# end: if documents or global files or steps #}

    {# if NO documents available and NO global files #}
    {% if not has_documents and request.user != portfolio.user %}
        <h4>
          {% blocktranslate with user=portfolio.user %}No annexed document for {{ user }}{% endblocktranslate %}
        </h4>
      {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}
