{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}
{% load list_utils %}

{% block title %}
  {% translate 'Edit documents' %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <h1>{% translate 'Manage Documents' %}</h1>
    <hr/>

    <table
        class="table table-bordered table-responsive table-sm table-striped borders-blue padding-default
        borders-no-horizontal white-outside-borders blue-text"
    >
      <caption class="hidden">
        {% translate 'List of editable documents' %}
      </caption>

      <thead class="border-top-none blue-text uppercase font-bold">
      <tr>
        <th class="border-left-none" colspan="{% if document_type_choices %}3{% else %}2{% endif %}"></th>
        {% if is_continuous %}
          <th class="border-right-none pl-2" colspan="{{ num_achievements|add:"2" }}">
            {% translate 'Links to achievements' %}
          </th>
  {% endif %}
        </tr>
        </thead>
        <thead class="blue-text uppercase font-bold">
        <tr>
          <th class="border-left-none">{% translate 'Order' %}</th>
          <th>{% translate 'Annex' %}</th>
  {% if document_type_choices %}
          <th>{% translate 'Type' %}</th>
  {% endif %}
  {% if is_continuous %}
    {% for achievement in achievements %}
            <th class="text-center">
              <a href="{% url 'get_achievement' achievement.id %}">
                {{ achievement.targeted_competency.code }}.{{ achievement.number }}
              </a>
            </th>
    {% endfor %}
  {% endif %}
          <th class="border-right-none" colspan="2"></th>
        </tr>
        </thead>
        <tbody class="border-bottom-none">

  {% for specific_document_type in specific_document_types %}
    {% if not specific_document_type.type.url %}
        <tr class="border-left-none border-right-none">
          <td></td>
          <td>
      {% if specific_document_type.file %}
             <a href="{{ specific_document_type.file.url }}" id="{{ specific_document_type.file.id }}">
               {{ specific_document_type.type.name }}
             </a>
      {% else %}
            <button class="btn btn-link btn-sm orange-text uppercase" type="button"
                    onClick="setFileType('{{ specific_document_type.type|escapejs }}', '{{ specific_document_type.type.id }}')"
                    data-bs-toggle="modal" data-bs-target="#globalModal" name="{{ specific_document_type.type }}">
              {% svg_icon_psg 'ajouter' extra_class="orange mb-1" width=20 height=20 %}
              {{ specific_document_type.type }}
            </button>
      {% endif %}
            </td>
            <td></td>
      {% if is_continuous %}
            <td colspan="{{ num_achievements }}"></td>
      {% endif %}
            <td></td>
            <td class="border-right-none text-center align-middle">
      {% if specific_document_type.file %}
              <button class="btn btn-link btn-sm" type="button"
                      onClick="setDeleteValues('{{ specific_document_type.file.id }}')"
                      data-bs-toggle="modal" data-bs-target="#deleteDocumentModal">
                {% svg_icon_psg 'supprimer' extra_class="orange" width=25 height=25 %}
              </button>
      {% endif %}
            </td>
          </tr>
    {% endif %}
  {% endfor %}

  {% for document in documents %}
          <tr>
            <td class="border-left-none">
    {% if document.indice_1 %}
       {% with next_element=documents|following:forloop.counter0 %}
         {% with previous_element=documents|previous:forloop.counter0 %}
           {% if document.indice_1 == next_element.indice_1 %}
                      <a href="{% url 'move_document' document.id 0 %}" class="up_or_down">
                        {% svg_icon_psg 'derouler-blanc' extra_class="orange" width=25 height=25 %}
                      </a>
           {% endif %}
           {% if document.indice_1 == previous_element.indice_1 %}
                      <a href="{% url 'move_document' document.id 1 %}" class="up_or_down">
                        {% svg_icon_psg 'derouler-blanc' extra_class="rotate-180 orange" width=25 height=25 %}
                      </a>
           {% endif %}
         {% endwith %}
       {% endwith %}
    {% endif %}
            </td>
            <td class="text-left align-middle">
              <a href="{{ document.url }}" id="{{ document.id }}">{{ document.name }}</a>
            </td>
    {% if document_type_choices %}
            <td class="text-left align-middle">
              <div class="form-group">
                <select class="form-select" name="my_document_type" onchange="setDocumentType(this, '{{ document.id }}')">
                  <option value=""{% if document.type is None %} selected{% endif %}>
                    {% translate 'Choose ...' %}
                  </option>
      {% for choice in document_type_choices %}
                  <option value="{{ choice.id }}"{% if document.type == choice %} selected{% endif %}>
                    {{ choice }}
                  </option>
      {% endfor %}
                </select>
              </div>
            </td>
    {% endif %}
    {% if is_continuous %}
      {% for achievement in achievements %}
              <td class="text-center align-middle">
                <button
                    class="btn btn-link btn-sm orange-text"
                    type="button"
                    id="{{ document.id }}{{ achievement.id }}"
                    onclick="setLink('{{ document.id }}', '{{ achievement.id }}')"
                    {% if achievement in document.achievements.all %}
                      data-link="true"
                    {% else %}
                      data-link="false"
                    {% endif %}
                >
                  {% if achievement in document.achievements.all %}
                    <span class="link-big-font" id="{{ document.id }}{{ achievement.id }}-icon">
                      {% svg_icon_psg 'retirer' extra_class="orange" width=25 height=25 %}
                    </span>
                  {% else %}
                    <span id="{{ document.id }}{{ achievement.id }}-icon">
                      {% svg_icon_psg 'ajouter' extra_class="orange" width=25 height=25 %}
                    </span>
                  {% endif %}
                </button>
              </td>
            {% endfor %}
          {% endif %}

          <td class="text-center">
            <button
                class="btn btn-link btn-sm"
                type="button"
                onClick="setRenameValues('{{ document.id }}')"
                data-bs-toggle="modal"
                data-bs-target="#renameDocumentModal"
            >
              {% svg_icon_psg 'modifier' extra_class="orange" width=25 height=25 %}
            </button>
          </td>
          <td class="border-right-none text-center align-middle">
            <button
                class="btn btn-link btn-sm"
                type="button"
                onClick="setDeleteValues('{{ document.id }}')"
                data-bs-toggle="modal"
                data-bs-target="#deleteDocumentModal"
            >
              {% svg_icon_psg 'supprimer' extra_class="orange" width=25 height=25 %}
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {# bottom action bar - buttons to ADD DOCUMENTS and DONE #}
    <div class="d-flex justify-content-between">
      {% if editable %}
        <button
            class="btn btn-link btn-sm orange-text uppercase"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#documentModal"
            name="doc"
        >
          {% svg_icon_psg 'ajouter' extra_class="orange mb-1" width=25 height=25 %}
          {% translate 'Add documents' %}
        </button>
      {% endif %}
      <button
          class="btn btn-link btn-sm orange-text uppercase"
          style="display:none;"
          type="button"
          id="do_sort"
          name="do_sort"
          onclick="location.reload()"
      >
        {% svg_icon_psg 'derouler-blanc' extra_class="orange" width=30 height=30 %}
        {% svg_icon_psg 'derouler-blanc' extra_class="rotate-180 orange" width=30 height=30 %}
        {% translate 'Sort documents' %}
      </button>
      <button
          class="btn btn-link btn-sm orange-text uppercase"
          type="button"
          onClick="window.location='{% url 'documents_index' portfolio.id 0 %}'"
      >
        {% svg_icon_psg 'selectionner' extra_class="pr-2" width=25 height=25 %}
        {% translate 'Done' %}
      </button>
    </div>

    <!-- Modal dialog to rename Document  -->
    {% include 'portfolio/partials/modal.document-rename.html' %}

    <!-- Modal dialog to delete Document  -->
    {% include 'portfolio/partials/modal.document-delete.html' %}

    <!-- Modal dialog to add a global file  -->
    <div id="globalModal" class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title absolute-no-hover" id="addGlobalName"></h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form id="add_global" action="{% url 'add_annexe' %}"
                    method="POST" enctype="multipart/form-data"
                    onsubmit="return validateAnnexes(2)">
                {% csrf_token %}
                <div class="form-group">
                  <input type="file" name="annexe" id="file-2" class="inputfile inputfile-3">
                  <label for="file-2">
                    {% svg_icon_psg 'soumettre' width=30 height=30 %}
                    <span>{% translate 'Choose document' as choose %}{{ choose }}</span>
                  </label>
                </div>
                <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
                <input type="hidden" name="document_type" id="documentType" value="">
                <input type="hidden" name="file_name" id="fileName" value="">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link btn-sm orange-text uppercase" form="add_global" type="submit">
              {% translate 'Add' as add %}{{ add }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal dialog to add a document  -->
    <div id="documentModal" class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title absolute-no-hover">
              {% translate 'Add documents' %}
            </h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form id="add_annexe" action="{% url 'add_annexe' %}"
                    method="POST" enctype="multipart/form-data"
                    onsubmit="return validateAnnexes(3)">
                {% csrf_token %}
                <div class="form-group">
                  <input type="file" name="annexe" id="file-3" class="inputfile inputfile-3"
                         data-multiple-caption="{count} {% translate 'files selected' %}" multiple>
                  <label for="file-3">
                    {% svg_icon_psg 'soumettre' width=30 height=30 %}
                    <span>{% translate 'Choose documents' %}</span>
                  </label>
                </div>
  {% if document_type_choices %}
                <div class="form-group">
                  <label for="documentType">{% translate 'Document type:' %}</label>
                  <select class="form-select" name="document_type" id="documentType">
                    <option value="">
                      {% translate 'Choose ...' %}
                      </option>
    {% for choice in document_type_choices %}
                    <option value="{{ choice.id }}">
                      {{ choice }}
                    </option>
    {% endfor %}
                  </select>
                </div>
  {% endif %}
                <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link btn-sm orange-text uppercase" form="add_annexe" type="submit">
              {{ add }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
