{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Explicitation Zones' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div>
      <h1>{% translate 'Explicitation Zones' %}</h1>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <table class="table table-responsive table-bordered table-sm table-striped borders-blue blue-text
          padding-default borders-no-horizontal white-outside-borders">
            <thead class="border-top-none border-left-none font-bold uppercase">
            <tr>
              <th>{% translate 'Achievement' %}</th>
              <th>{% translate 'Excerpt' %}</th>
              <th class="border-right-none">{% translate 'Explanation' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for zone in explicitation_zones %}
              <tr>
                <td class="border-left-none">
                  <a href="{% url 'get_achievement' zone.achievement_id %}?tag={{ zone.id }}&cls={{ zone.cls }}&tab={{ zone.tab }}"
                     target="_blank"
                  >
                    {{ zone.achievement_number }}. {{ zone.achievement }}
                  </a>
                </td>
                <td>{{ zone.insert }}</td>
                <td class="border-right-none">{{ zone.explanation|linebreaks }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
