{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}
  {% translate 'References' %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div>
      <h1>
        {% translate 'References' %}
      </h1>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <table class="table table-responsive table-bordered table-sm table-striped borders-blue blue-text
          padding-default borders-no-horizontal white-outside-borders">
            <thead class="border-left-none border-top-none font-bold uppercase">
            <tr>
              <th>{% translate 'Expression' %}</th>
              <th>{% translate 'Definition' %}</th>
              <th class="border-right-none">{% translate 'Found in achievement' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for expression in glossary_ops %}
              <tr class="border-bottom-none">
                <td class="column-name border-left-none">{{ expression.insert }}</td>
                <td>{{ expression.definition|safe }}</td>
                <td class="border-right-none">
                  {% if is_milestone and portfolio.share %}
                    <a href="{% url 'get_achievement_by_portfolio' expression.achievement_id 0 portfolio.id %}?tag={{ expression.id }}&cls={{ expression.cls }}&tab={{ expression.tab }}"
                  {% else %}
                    <a href="{% url 'get_achievement' expression.achievement_id %}?tag={{ expression.id }}&cls={{ expression.cls }}&tab={{ expression.tab }}"
                  {% endif %}
                      target="_blank"
                    >
                      {% if portfolio.user.group.milestone > 1 %}{{ expression.tab }} -{% endif %}
                      {{ expression.achievement_number }}. {{ expression.achievement }}
                    </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
