{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Portfolio' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div class="app-content">
      <h1>{% translate 'Portfolio' %}
  {# show the owner of the portfolio when reviewer views student's portfolio #}
  {% if user.type != 'Applicant' or user != portfolio.user %}
        {% blocktranslate with user=portfolio.user %}of {{ user }}{% endblocktranslate %}
  {% endif %}
      </h1>
      <div class="mt-4">
        <h2 class="d-inline absolute-no-hover">
          {{ portfolio.program }}
        </h2>
      </div>

  {% if is_milestone and portfolio_under_review %}
      <h3 class="pt-3 orange-text portfolio-underreview">
        {% translate 'Portfolio under review' %}
      </h3>
  {% endif %}

  {% if is_continuous %}
    {% if user.type == 'Applicant' and portfolio.status != 'Certified' and portfolio.status != 'Archived' %}
        <h5 class="pt-3 pb-3">
          <button class="btn btn-link btn-sm orange-text uppercase" type="button"
                  data-bs-toggle="modal" data-bs-target="#newAchievementModal">
            {% svg_icon_psg 'ajouter' extra_class="orange mb-1" width=25 height=25 %}
            {% translate 'Add an achievement' as add_achievement %}
            {{ add_achievement }}
          </button>
        </h5>
    {% elif portfolio.status == 'Certified' or portfolio.status == 'Archived' %}
        <h3 class="pt-3 raw-green-text">
          {% translate 'Portfolio certified' %}
      {% if portfolio.status == 'Archived' %}
          <span class="small">
            ({% translate 'Archived' %})
          </span>
      {% endif %}
        </h3>
    {% endif %}
  {% endif %}

  {% if public_achievements %}
      <div class="d-flex w-100 justify-content-between table-title pt-3">
        <h4 class="no-hover absolute-no-hover text-base">
          {% translate 'Achievements presented for recognition of prior learning' %}
        </h4>
        <h4 class="no-hover absolute-no-hover text-base">
    {% if is_continuous %}
          {% translate 'Status' %}
    {% else %}
           {% translate 'Delivery' %}
    {% endif %}
        </h4>
      </div>
      <div class="list-group list-group-flush">
    {% for achievement in public_achievements %}
      {% if is_continuous %}
        <a class="list-group-item list-group-item-action" href="{% url 'get_achievement' achievement.id %}">
      {% elif is_milestone %}
        <a
            class="list-group-item list-group-item-action"
            href="{% if not portfolio_under_review or user.type in "Supervisor,Reviewer" %}{% url 'get_achievement' achievement.id %}{% endif %}"
        >
      {% endif %}
          <div class="d-flex w-100 justify-content-between">
            <h5 class="list-portfolio">{% if portfolio_type.targeted_skills == 'Level' %}{{ achievement.targeted_competency.code }}.{% endif %}{{ achievement }}</h5>
            <div>
      {% if is_continuous %}
              <span class="{% if achievement.status == 'Final' %}raw-green-text{% endif %}">
                {% translate achievement.status %}
              </span>
      {% else %}
              {{ achievement.sub_title }}
      {% endif %}
            </div>
          </div>
        </a>
    {% endfor %}
      </div>
  {% endif %}
  {% if private_achievements %}
      <div class="d-flex w-100 justify-content-between table-title pt-5">
        <h4 class="no-hover absolute-no-hover text-base">
          {% translate 'Private achievements, not included for recognition of prior learning' %}
        </h4>
        <h4 class="no-hover absolute-no-hover text-base">{% translate 'Status' %}</h4>
      </div>
      <div class="list-group list-group-flush">
    {% for achievement in private_achievements %}
        <a class="list-group-item list-group-item-action" href="{% url 'get_achievement' achievement.id %}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="list-portfolio">{{ achievement }}</h5>
            <div>
              <span class="{% if achievement.status == 'Final' %}raw-green-text{% endif %}">
                {% translate achievement.status %}
              </span>
            </div>
          </div>
        </a>
    {% endfor %}
      </div>
  {% endif %}
  {% if public_achievements or private_achievements %}
    {% if user == portfolio.user or user.type != 'Applicant' %}
      <div class="flex flex-wrap pt-3">
        <div class="flex-auto">
          <h4>
            <button class="btn btn-style"
                    onclick="window.open('{% url 'print_portfolio' portfolio.id 'read' %}')">
              {% svg_icon_psg 'lunettes-orange' extra_class="" width=30 height=30 %}
              {% translate 'Reader' %}
            </button>
          </h4>
        </div>
        <div class="flex-auto">
          <h4>
            <button class="btn btn-style"
                    onclick="window.open('{% url 'print_portfolio' portfolio.id 'print' %}')">
              {% svg_icon_psg 'imprimante-orange' extra_class="" width=30 height=30 %}
              {% translate 'Print portfolio' %}
            </button>
          </h4>
        </div>
        <div class="flex-auto">
          <h4>
            <button class="btn btn-style"
                    onclick="location.href='{% url 'print_portfolio' portfolio.id 'pdf' %}'">
              {% svg_icon_psg 'pdf-orange' extra_class="" width=30 height=30 %}
              {% translate 'Export portfolio to PDF' %}
            </button>
          </h4>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if not public_achievements and user.type != 'Applicant' %}
      <h4 class="no-hover absolute-no-hover text-base pt-4">
        {% translate 'No achievement yet' %}
      </h4>
  {% endif %}
    </div>

  {% if user.type == 'Applicant' and portfolio.status != 'Certified' and portfolio.status != 'Archived' %}
    <!-- Modal dialog to add achievement  -->
    <div id="newAchievementModal" class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title absolute-no-hover">
              {{ add_achievement }}
            </h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form id="create_achievement" action="{% url 'create_achievement' %}" method="post"
                    onsubmit="return validateAchievementName('#achievement_name')">
                {% csrf_token %}
                <label for="achievement_name" class="col-form-label">{% translate 'Name' %}</label>
                <input class="form-control" type="text" name="achievement_name" id="achievement_name">
                <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" form="create_achievement"
                    class="btn btn-link btn-sm orange-text uppercase">
              {% translate 'Add' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  </main>
{% endblock content %}
