{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}
  {% if knowledge_type == 'knowledge' %}
    {% translate 'Knowledge' as k_type %}
  {% else %}
    {% translate 'Soft-skills' as k_type %}
  {% endif %}
  {% blocktranslate %}{{ k_type }} overview{% endblocktranslate %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div>
      {% if knowledge_type == 'knowledge' %}
        {% translate 'Knowledge' as k_type %}
      {% else %}
        {% translate 'Soft-skills' as k_type %}
      {% endif %}

      <h1>{{ k_type }}</h1>
      <h2 class="no-hover mt-3">
        {% translate 'New or updated' %}
      </h2>
      <hr/>

      <div class="container-fluid">
        <div class="row" id="sort_k">
          <table class="table padding-default table-responsive table-bordered table-sm table-striped table-custom borders-blue blue-text">
            <thead class="font-bold uppercase blue-text">
            <tr>
              <th class="border-top-none border-left-none pl-3 w-1/5">
                {{ k_type }} {% svg_icon_psg 'tri-az' extra_class="ml-3" width=50 height=22 %}
              </th>
              <th class="border-top-none pl-3 w-3/5">
                {% if knowledge_type == 'knowledge' %}
                  {% translate 'What is new for me about this knowledge' as m_header %}
                {% else %}
                  {% translate 'In which way this soft-skill has evolved for me' as m_header %}
                {% endif %}
                {{ m_header }}
              </th>
              <th class="border-top-none border-right-none pl-3 w-1/5">
                {% translate 'Achievement' as to_achievement %}
                {{ to_achievement }}
                <a href="#" onclick="toggleSort('a')">
                  {% svg_icon_psg 'tri-19-orange' extra_class="ml-3" width=50 height=22 %}
                </a>
              </th>
            </tr>
            </thead>
            <tbody>
            {% for knowledge in knowledge_ops_sort_knowledge %}
              <tr>
                <td class="column-name p-3 border-left-none border-bottom-none border-top-none">
                  {{ knowledge.name }}
                </td>
                <td class="p-3 border-top-none border-bottom-none blue-text">
                  {{ knowledge.explanation }}
                </td>
                <td class="pt-2 pl-3 border-right-none border-bottom-none border-top-none">
                  <a href="{% url 'get_achievement' knowledge.achievement_id %}?tag={{ knowledge.id }}&cls={{ knowledge.cls }}&tab={{ knowledge.tab }}"
                     target="_blank">
                    {{ knowledge.achievement_number }}. {{ knowledge.achievement }}
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="row" id="sort_a">
          <table class="table table-responsive table-bordered table-sm table-striped table-custom borders-blue blue-text">
            <thead class="font-bold uppercase blue-text">
            <tr>
              <th class="border-top-none border-left-none pl-3 w-1/5">
                {{ k_type }}
                <a href="#" onclick="toggleSort('k')">
                  {% svg_icon_psg 'tri-az-orange' extra_class="ml-3" width=50 height=22 %}
                </a>
              </th>
              <th class="border-top-none pl-3 w-3/5">
                {{ m_header }}
              </th>
              <th class="border-top-none border-right-none pl-3 w-1/5">
                {{ to_achievement }} {% svg_icon_psg 'tri-19' extra_class="ml-3" width=50 height=22 %}
              </th>
            </tr>
            </thead>
            <tbody>
            {% for knowledge in knowledge_ops_sort_achievement %}
              <tr>
                <td class="column-name p-3 border-left-none border-bottom-none border-top-none">
                  {{ knowledge.name }}
                </td>
                <td class="p-3 border-top-none border-bottom-none blue-text">
                  {{ knowledge.explanation }}
                </td>
                <td class="pt-2 pl-3 border-right-none border-bottom-none border-top-none">
                  <a href="{% url 'get_achievement' knowledge.achievement_id %}?tag={{ knowledge.id }}&cls={{ knowledge.cls }}&tab={{ knowledge.tab }}"
                     target="_blank">
                    {{ knowledge.achievement_number }}. {{ knowledge.achievement }}
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
