{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Levels of expertise' %}{% endblock title %}

{% block content %}
<main class="ps-main-section">
  <div>
    <h1>{% translate 'Levels validation and credits attribution' %}</h1>
    <div class="container-fluid">
      <div class="row">
        <h2 class="no-hover mt-3">
          {{ concentration }}
        </h2>
      </div>
      <h4 class="mt-3 blue-text">
        {{ portfolio.program }}
      </h4>
      <hr/>
    </div>
    <div>
      <div>
        <table class="table table-bordered table-sm table-striped table-custom
                      borders-blue borders-no-horizontal padding-default blue-text">
          <thead class="border-top-none font-bold uppercase">
            <tr class="forced-bold text-center">
              <th class="border-left-none">{% translate 'Achievement' %}</th>
              <th colspan="4">
                {% translate 'Level 1' %}
              </th>
              <th colspan="3">
                {% translate 'Level 2' %}
              </th>
              <th colspan="3">
                {% translate 'Level 3' %}
              </th>
              <th class="border-right-none">{% translate 'Points' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="forced-bold border-bottom-none text-center">
              <td class="border-left-none"></td>
              <td>A</td>
              <td>B</td>
              <td>C</td>
              <td>D</td>
              <td>E</td>
              <td>F</td>
              <td>G</td>
              <td>H</td>
              <td>I</td>
              <td>J</td>
              <td class="border-right-none"></td>
            </tr>
  {% for achievement, validations in achievement_validations %}
            <tr class="text-center">
              <td class="border-left-none text-right">
                <a href="{% url 'get_achievement' achievement.id %}">
                  {{ achievement.number }}
                </a>
              </td>
    {% for validation in validations.values %}
              <td class="border-right-none">
      {% if validation is not None %}
        {% if not forloop.last %}
                <a href="{% url 'get_achievement' achievement.id %}?tag={{ validation.id }}&cls={{ validation.cls }}" target="_blank">
        {% endif %}
                  {{ validation.score }}
        {% if not forloop.last %}
                </a>
        {% endif %}
      {% endif %}
              </td>
    {% endfor %}
            </tr>
  {% endfor %}
            <tr>
              <td class="border-left-none text-right">
                <span>{% translate 'Status:' %}</span>
              </td>
              <td class="border-right-none" colspan=6>
                <span
  {% if portfolio.status == 'Final' or portfolio.status == 'Certified' or portfolio.status == 'Archived' %}
                      class="raw-green-text"
  {% endif %}         >
                  {% translate portfolio.status context 'portfolio' %}
                </span>
              </td>
              <td class="border-left-none text-right font-bold" colspan=4>
                {% translate 'Total points:' %}
              </td>
              <td class="border-right-none text-center">
                {{ total_points }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="font-bold">
              <td class="border-left-none"></td>
              <td class="border-right-none text-left" colspan=6>
  {% if certify %}
                <button class="btn btn-link btn-sm orange-text uppercase" type="button"
                        data-bs-toggle="modal" data-bs-target="#certifyPortfolioModal">
                  {% svg_icon_psg 'crochet-orange' extra_class="mr-2" width=12 height=12 %}
                  {% translate 'Certify Portfolio' as certify_portfolio %}
                  {{ certify_portfolio }}
                </button>
  {% elif user_type == 'Applicant' and portfolio.status == 'Draft' %}
                <button class="btn btn-link btn-sm orange-text uppercase" type="button"
                        data-bs-toggle="modal" data-bs-target="#finalizePortfolioModal">
                  {% svg_icon_psg 'crochet-orange' extra_class="mr-2" width=12 height=12 %}
                  {% translate 'Finalize Portfolio' %}
                </button>
  {% endif %}
              </td>
              <td class="border-left-none font-bold text-right" colspan=4>
  {% if concentration.type == 'E' %}
                {% translate 'Attributed milestone:' %}
  {% else %}
                {% translate 'Attributed credits:' %}
  {% endif %}
              </td>
              <td class="border-right-none text-center">
  {% if concentration.type == 'E' %}
                {{ attribution.milestone }}
  {% else %}
                {{ attribution.credits }}
  {% endif %}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="grid grid-cols-2 grid-flow-row gap-4 mt-5">
        <div class="col-span-2 lg:col-span-1">
          <table class="table table-bordered table-sm table-striped table-custom
                      borders-blue borders-no-horizontal padding-default blue-text">
            <thead class="border-top-none font-bold uppercase">
            <tr>
              <th class="border-left-none border-right-none uppercase" colspan="2">
                {% translate 'Evaluation criteria' %}
              </th>
            </tr>
            <tr>
              <th class="border-left-none">
                {% translate 'Scale' %}
              </th>
              <th class="border-right-none">
                {% translate 'Score' %}
              </th>
            </tr>
            </thead>
            <tbody class="leading-normal">
            <tr>
              <td class="border-left-none">
                <b>{% translate 'Absent' %}</b>
                <br>
                {% translate "No manifestation found in the applicant's written achievement or in his comments during the interview." %}
              </td>
              <td class="border-right-none text-center font-bold">0</td>
            </tr>
            <tr>
              <td class="border-left-none">
                <b>{% translate 'Partial' %}</b>
                <br>
                {% translate 'Manifestations found, but partially, due to an unsufficient explicitation or an absence of information regarding the reflexive process.' %}
              </td>
              <td class="border-right-none text-center font-bold">3</td>
            </tr>
            <tr>
              <td class="border-left-none">
                <b>{% translate 'Sufficient' %}</b>
                <br>
                {% translate 'Manifestations are found, the explicitation is sufficient and the reflexive process is present.' %}
              </td>
              <td class="border-right-none text-center font-bold">5</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-span-2 lg:col-span-1 pl-5 ml-5">
          <table class="table table-bordered table-sm table-striped table-custom
                      borders-blue borders-no-horizontal padding-default blue-text">
            <thead class="border-top-none font-bold uppercase">
            <tr>
              <th class="border-right-none border-left-none uppercase" colspan="2">
                {% translate 'Attribution scale' %}
              </th>
            </tr>
            <tr>
              <th class="border-left-none text-right">
                {% translate 'Result' %}
              </th>
              <th class="border-right-none">
  {% if concentration.type == 'E' %}
                {% translate 'Professionnal developement milestone' %}
  {% else %}
                {% translate 'Credits' %}
  {% endif %}
              </th>
            </tr>
            </thead>
            <tbody class="text-right">
            {% for step in scale %}
              <tr>
                <td class="border-left-none">
                  {{ step.min }} - {{ step.max }}
                </td>
                <td class="border-right-none text-left">
  {% if concentration.type == 'E' %}
                  {{ step.milestone }}
  {% else %}
                  {{ step.credits }}
  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal dialog to certify portfolio  -->
  {% include 'portfolio/partials/modal.certify-portfolio.html' %}
  <!-- Modal dialog to finalize portfolio  -->
  {% include 'portfolio/partials/modal.finalize-portfolio.html' %}
</main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    const comments = {{ comments }};
    const cv = {{ cv|yesno:"true,false" }};
    const finalized = {{ finalized|yesno:"true,false" }};
    const ips = {{ ips|yesno:"true,false" }};
    const proofed = {{ proofed|yesno:"true,false" }};
    const validated = {{ validated|yesno:"true,false" }};
    const userType = '{{ user_type }}';
  </script>
{% endblock javascript %}
