{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Questionnaire' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    {# form title #}
    <h1>
      {% translate 'Achievement' %}
      <span id="achievementNumber">
        {{ achievement.number }}.
      </span>
  {% if portfolio_type.targeted_skills == 'Target' %}
      <button
          class="btn btn-style ml-1"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#changeNumberModal"
      >
        {% svg_icon_psg 'derouler-blanc' extra_class="orange" width=25 height=25 %}
        <span>{% translate 'Change number' %}</span>
      </button>
  {% endif %}
    </h1>

  {# conditionally load different questionnaire layouts #}
  {% block questionnaire %}
    {% if portfolio_type.institution == 'UQAR' %}
      {% include 'portfolio/partials/uqar.questionnaire.html' %}
    {% elif portfolio_type.institution == 'UQAM' %}
      {# UQAM #}
       {% include 'portfolio/partials/uqam.questionnaire.html' %}
    {% endif %}
    {% endblock questionnaire %}

  </main>

  {# render HTML for modal to change achievement number #}
  {% include 'portfolio/partials/modal.change-achievement-number.html' %}
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script>
      const achievementId = "{{ achievement.id }}";
      const achievementNumber = {{ achievement.number }};
      const userType = "{{ request.user.type }}";
  </script>
{% endblock javascript %}
