{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{{ message.0 }}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <div class="app-content">
      <h1>{{ message.0 }}</h1>
      <div class="mt-4">
        <h2 class="d-inline absolute-no-hover">
          {{ message.1|safe }}
        </h2>
      </div>
      <div>
        <h3 class="no-hover absolute-no-hover text-base pt-4">
          {{ message.2|safe }}
        </h3>
      </div>
      <div class="pt-4">
        <h4>
  {% if target == 'achievement' and user_type != 'Applicant' %}
          <a href="{% url 'get_achievement_mode' instance.id 2 %}">
  {% elif target == 'pick_semester' or target == 'documents' %}
          <a href="mailto:{{ instance }}?subject=Passages - {{ message.0 }}">
  {% endif %}
            {{ message.3|safe }}
          </a>
        </h4>
      </div>
  {% if target == 'add_group' %}
      <p><a href="/user/add_group">{% translate 'Add another group' %}</a></p>
  {% elif target == 'add_experts' %}
      <p><a href="/user/add_experts">{% translate 'Add another list of experts' %}</a></p>
  {% elif target == 'add_program' %}
      <p><a href="/program/add_program">{% translate 'Add another program' %}</a></p>
  {% endif %}
    </div>
  </main>
{% endblock content %}
