{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load list_utils %}

{% block title %}{% translate 'Skills' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div>
      <h1>{% translate 'Skills Overview' %}</h1>
      <div class="container-fluid">
        <div class="row">
          <h2 class="absolute-no-hover mt-4">
            {% translate 'Concordance of the professional skills of the curriculum with the presentend achievements' %}
          </h2>
        </div>
        <hr/>
        <div class="row">
          <table
              data-type="custom-competency"
              class="table padding-default table-bordered table-responsive table-sm table-striped borders-blue blue-text borders-no-horizontal white-outside-borders"
          >
            <thead class="border-top-none">
            {# 1st header row #}
            <tr class="font-bold uppercase">
              <th class="border-left-none"></th>
              <th scope="col">
                <a href="{{ portfolio.program.get_url }}" target="_blank">
                  {{ portfolio.program }}
                </a>
              </th>

              {# MILESTONE #}
              {% if is_milestone %}
                {# display all achievements for each milestone based on portfolio's user group's current milestone #}
                {% for step_number in portfolio.user.group.milestone|xrange %}
                  <th class="border-right-none text-center" colspan="{{ num_achievements }}">
                    {% translate 'Milestone' %}&nbsp;{{ step_number }}
                  </th>
                {% endfor %}
                {# CONTINUOUS #}
              {% else %}
                <th class="border-right-none text-center" colspan="{{ num_achievements }}">
                  {% translate 'Links to achievements' %}
                </th>
              {% endif %}
            </tr>

            {# 2nd header row #}
            <tr {% if has_children %}class="competency-type-row collapsed"{% endif %}>
              <th class="border-left-none text-right" style="min-width: 5rem">&#35;</th>
              <th>{% translate 'Skills of the curriculum' %}</th>

              {# MILESTONE #}
              {% if is_milestone %}
                {% for step_number in portfolio.user.group.milestone|xrange %}
                  {% for achievement in achievements %}
                    <th class="border-right-none text-center">
                      {% if portfolio.share %}
                        <a href="{% url 'get_achievement_by_portfolio' achievement.id 0 portfolio.id %}?tab={{ step_number }}">
                      {% else %}
                        <a href="{% url 'get_achievement' achievement.id %}?tab={{ step_number }}">
                      {% endif %}
                      {{ achievement.targeted_competency.code }}.{{ achievement.number }}
                      </a>
                    </th>
                  {% endfor %}
                {% endfor %}
                {# CONTINUOUS #}
              {% else %}
                {% for achievement in achievements %}
                  <th class="border-right-none text-center">
                    <a href="{% url 'get_achievement' achievement.id %}">
                      {{ achievement.targeted_competency.code }}.{{ achievement.number }}
                    </a>
                  </th>
                {% endfor %}
              {% endif %}

            </tr>
            </thead>
            <tbody>

            {# iterate over skill groups (parent + children) to display the rows appropriately w/ collapse/expand feature #}
            {% for skill_grp in grouped_skills %}
              {# alias 'skill' facilitates integration w/ our generic 'skill_row_continuous.html' template #}
              {% with skill=skill_grp.parent comp_name="competency" %}
                {# Integrate competency group row #}
                {% if program_groups is not None %}
                  {% with previous_element=grouped_skills|previous:forloop.counter0 %}
                    {% if previous_element.parent.group != skill.group %}
                      <tr class="comp_group border-left-none">
                        <td colspan='{{ num_achievements|add:"2" }}'>
                          {{ program_groups|get_value_with_key:skill.group }}
                        </td>
                      </tr>
                    {% endif %}
                  {% endwith %}
                {% endif %}

                {# single row for parent skill  #}
                {% if is_milestone %}
                  {% include "portfolio/skill_row_milestone.html" %}
                {% else %}
                  {% include "portfolio/skill_row_continuous.html" %}
                {% endif %}

                {# sub-loop for displaying children as properly-styled rows #}
                {% if has_children %}
                  {% for child in skill_grp.children %}
                    {% with child as skill %}
                      {% if is_milestone %}
                        {% include "portfolio/skill_row_milestone.html" %}
                      {% else %}
                        {% include "portfolio/skill_row_continuous.html" %}
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                {% endif %}
              {% endwith %}
            {% endfor %}

            {# CONTINUOUS #}
            {% if is_continuous and associated_skill_ops %}
              <!-- <thead> -->
              <tr class="uppercase border-top-down">
                <td class="border-left-none"></td>
                <td>
                  {% translate 'Associated skills' %}
                </td>
                {% for achievement in achievements %}
                  <td class="border-right-none text-center">
                    <a href="{% url 'get_achievement' achievement.id %}">
                      {{ achievement.targeted_competency.code }}.{{ achievement.number }}
                    </a>
                  </td>
                {% endfor %}
              </tr>
              <!-- </thead> -->
              {% for op in associated_skill_ops %}
                <tr>
                  <td class="border-left-none">&nbsp;</td>
                  <td>{{ op.associated_skill }}</td>
                  {% for achievement in achievements %}
                    <td class="border-right-none text-center">
                      {% if achievement.number in op %}
                        <a href="{% url 'get_achievement' achievement.id %}?tag=
                            {{ op|get_value_with_key:achievement.number }}&cls=ql-associated_skill"
                           target="_blank">
                          √
                        </a>
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
