{% load i18n %}
{% load list_utils %}

{# Display a single skill (whether parent or child)  #}
<tr class="original-skill
{% if has_children %}
  {% if not skill.parent %}parent-competency collapsed{% else %}child-competency{% endif %}
{% endif %}
">
  <td class="border-left-none text-right">
    {% if skill.parent %}{{ skill.parent.code }}.{% endif %}{{ skill.code }}
  </td>
  <td>
    {% if skill.description %}
      <div data-bs-toggle="tooltip" data-bs-placement="left" title="{{ skill.description }}">
        {{ skill.name }}
      </div>
    {% else %}
      {{ skill.name }}
    {% endif %}
  </td>
  {% for step_number in portfolio.user.group.milestone|xrange %}
    {% for achievement in achievements %}
      {# key->value map of 'skill_id': 'attribute_id' for this achievement #}
      {% with skill_attribute_map=skill_ops|get_value_with_key:forloop.counter0 %}
        <td
            class="border-right-none text-center {% if not skill.parent %}competency-count{% endif %}"
            data-achievement-number="{{ achievement.number }}"
        >
          {% if skill.id in skill_attribute_map %}
            {# specific attribute_id (a timestamp) for the current skill.id; {id:<timestamp>, milestone:<number>} #}
            {% with attribute=skill_attribute_map|get_value_with_key:skill.id %}
              {% if attribute.milestone == step_number %}
                {% if portfolio.share %}
                  <a href="{% url 'get_achievement_by_portfolio' achievement.id 0 portfolio.id %}?tag={{ attribute.id }}&cls=ql-competency&tab={{ attribute.milestone }}"
                {% else %}
                  <a
                  href="{% url 'get_achievement' achievement.id %}?tag={{ attribute.id }}&cls=ql-competency&tab={{ attribute.milestone }}"
                {% endif %}
                  target="_blank" data-achievement-number="{{ achievement.number }}"
              >
                √
              </a>
              {% endif %}
            {% endwith %}
          {% endif %}
        </td>
      {% endwith %}
    {% endfor %}
  {% endfor %}
</tr>