{% load i18n %}
{% load list_utils %}

{# Display a single skill (whether parent or child)  #}
{# 3rd-level has 1 parent + children, so need to check not only parent, but also 'has_children' property #}
<tr class="original-skill
{% if skill.is_key %}font-bold{% endif %}
{% if has_children %}
  {% if skill.has_children and skill.parent  %}
    parent-competency collapsed
  {% elif skill.has_children and not skill.parent %}
    parent-competency top-parent
  {% else %}
    child-competency
  {% endif %}
{% endif %}
">
  <td class="border-left-none text-right">
    {% if skill.parent.parent %}{{ skill.parent.parent.code }}.{% endif %}{% if skill.parent %}{{ skill.parent.code }}.{% endif %}{{ skill.code }}
  </td>
  <td>
    {% if skill.description %}
      <div data-bs-toggle="tooltip" data-bs-placement="left" title="{{ skill.description }}">
        {{ skill.name }}
      </div>
    {% else %}
      {{ skill.name }}
    {% endif %}
  </td>
  {% for achievement in achievements %}
    {# key->value map of 'skill_id': 'attribute_id' for this achievement #}
    {% with skill_attribute_map=skill_ops|get_value_with_key:forloop.counter0 %}
      <td
          class="border-right-none text-center {% if not skill.parent %}competency-count{% endif %}"
          data-achievement-number="{{ achievement.targeted_competency.code }}.{{ achievement.number }}"
      >
      {% if skill == achievement.targeted_competency %}
        {% if achievement.development_level %}
          {{ achievement.development_level }}
        {% else %}
          {% translate 'T' %}
        {% endif %}
      {% elif skill.id in skill_attribute_map %}
        {# specific attribute_id (a timestamp) for the current skill.id #}
        {% with attribute=skill_attribute_map|get_value_with_key:skill.id %}
          {# 'attribute' = <timestamp> #}
          <a href="{% url 'get_achievement' achievement.id %}?tag={{ attribute.id }}&cls=ql-{{ comp_name }}&tab={{ attribute.tab }}"
             target="_blank"
             data-achievement-number="{{ achievement.targeted_competency.code }}.{{ achievement.number }}"
             data-tab="{{ attribute.tab }}"
          >
            √
          </a>
        {% endwith %}
      {% endif %}
      </td>
    {% endwith %}
  {% endfor %}
</tr>