{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Logged out!' %}{% endblock %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <p>{% translate 'Logged out!' %}</p>
  </main>
{% endblock content %}
