{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Login' %} {% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div id="login-form" class="d-flex flex-row align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <h1>{% translate 'Login' as login %}{{ login }}</h1>
                  <p class="text-muted">{% translate 'Available demo accounts:' %}</p>
                  <ul class="text-muted">
                    <li>fp@epassages.ca ({% translate 'applicant in vocational training' %})</li>
                    <li>admin@epassages.ca ({% translate 'superviser and site administrator' %})</li>
                  </ul>
                  <p class="text-muted">{% translate 'Password for all demo accounts:' %}
                    <span class="font-bold">PassagesDemo</span>
                  </p>
                  <form method="post" action="{% url 'login' %}">
  {% if form.non_field_errors %}
                      <div class="alert alert-danger d-inline-flex" role="alert">
                        {{ form.non_field_errors }}
                      </div>
  {% endif %}

                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          {% svg_icon_psg 'user' extra_class="" width=20 height=20 %}
                        </span>
                      </div>
                      <input class="form-control"
                             id="{{ form.username.id_for_label }}"
                             maxlength="{{ form.username.field.max_length }}"
                             type="email"
                             name="{{ form.username.html_name }}"
                             value="{{ form.username.value|default_if_none:'' }}"
                             placeholder="{% translate 'Email' %}"
                      />
  {% if form.username.errors %}
                        {% svg_icon_psg 'exclamation-cuivre' extra_class="" width=38 height=38 %}
  {% endif %}
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          {% svg_icon_psg 'cadenas' extra_class="" width=20 height=20 %}
                        </span>
                      </div>
                      <input class="form-control"
                             id="{{ form.password.id_for_label }}"
                             maxlength="255"
                             type="password"
                             name="{{ form.password.html_name }}"
  {% if form.password.value %}
                             value="{{ form.password.value }}"
  {% endif %}
                             placeholder="{% translate 'Password' %}"
                      />
  {% if form.password.errors %}
                        {% svg_icon_psg 'exclamation-cuivre' extra_class="" width=38 height=38 %}
  {% endif %}
                    </div>
                    <div class="pb-4">
                      {{ form.remember_me }} {{ form.remember_me.label }}
                      <p class="text-sm">
                        {% blocktranslate %}
                          By logging in, you’ll get a temporary cookie
                          which will remember your Username while your browser is open.
                          If you choose to "Stay connected", the cookie will expire in 8 hours.
                        {% endblocktranslate %}
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <input class="btn btn-block btn-primary px-4 btn-orange"
                               type="submit" value="{{ login }}"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                      </div>
                      <div class="col-12 col-sm-6">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <p class="pt-2 text-center italic">
            {% translate 'This demo portfolio is reset every day at 00:00 EST' %}
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
