{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Login' %} {% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <div id="login-form" class="d-flex flex-row align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card-group">
              <div class="card">
  {% if request.session.aad_local_mismatch %}
                <div class="card-body">
                  {# https://docs.djangoproject.com/en/4.2/topics/i18n/translation/#blocktranslate-template-tag #}
                  {% blocktranslate with email=request.session.aad_upn logout_url=request.session.aad_logout %}
                    Your account ({{ email }}) is not registered with Passages. Please contact X to request access to
                    Passages.<br/>
                    In the meantime, please <a href="{{ logout_url }}">logout</a> of your institution account.
                  {% endblocktranslate %}
                </div>
  {% endif %}

                <div class="card-body">
                  <h1>{% translate 'Login with your Passages account' as login %}{{ login }}</h1>
                  <div class="pt-4"></div>
                    <form method="post" action="{% url 'login' %}">
  {% if form.non_field_errors %}
                      <div class="alert alert-danger d-inline-flex" role="alert">
                        {{ form.non_field_errors }}
                      </div>
  {% endif %}
                      {% csrf_token %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            {% svg_icon_psg 'user' extra_class="" width=20 height=20 %}
                          </span>
                        </div>
                        <input class="form-control"
                               id="{{ form.username.id_for_label }}"
                               maxlength="{{ form.username.field.max_length }}"
                               type="email"
                               name="{{ form.username.html_name }}"
                               value="{{ form.username.value|default_if_none:'' }}"
                               placeholder="{% translate 'Email' %}"
                               onblur="normalizeEmail()"
                        />
  {% if form.username.errors %}
                        {% svg_icon_psg 'exclamation-cuivre' extra_class="" width=38 height=38 %}
  {% endif %}
                      </div>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            {% svg_icon_psg 'cadenas' extra_class="" width=20 height=20 %}
                          </span>
                        </div>
                        <input class="form-control"
                               id="{{ form.password.id_for_label }}"
                               maxlength="255"
                               type="password"
                               name="{{ form.password.html_name }}"
                              {% if form.password.value %}
                               value="{{ form.password.value }}"
                              {% endif %}
                               placeholder="{% translate 'Password' %}"
                        />
  {% if form.password.errors %}
                        {% svg_icon_psg 'exclamation-cuivre' extra_class="" width=38 height=38 %}
  {% endif %}
                      </div>
                      <div class="pb-4">
                        {{ form.remember_me }} {{ form.remember_me.label }}
                        <p class="text-sm">
                        {% blocktranslate %}
                          By logging in, you’ll get a temporary cookie
                          which will remember your Username while your browser is open.
                          If you choose to "Stay connected", the cookie will expire in 8 hours.
                        {% endblocktranslate %}
                        </p>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <input class="btn btn-block btn-primary px-4 btn-orange"
                                 type="submit" value="{{ login }}"/>
                          <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                        <div class="col-12 col-sm-6">
                          {# Assumes you setup the password_reset view in your URLconf #}
                          <a href="{% url 'password_reset' %}" class="btn btn-link px-1 float-right"
                             role="button" aria-pressed="true">{% translate 'Forgot password?' %}
                          </a>
                        </div>
                      </div>
                    </form>
                  </div>
  {% if use_sso %}
                  <!-- Azure AD OpenID authentication via user's institution -->
                  <!-- 'sign_in' comes from 'aad.config.json' which defines default AAD routes (/auth/sign_in) -->
                  <div class="card-body text-left">
                    <h1 class="mb-4">{% translate 'or with your institution' %}</h1>
                    <a href="{% url 'sign_in' %}" class="btn btn-block btn-primary px-5">
                      {% translate "Sign In with" %} {{ portfolio_type.institution }}
                    </a>
                  </div>
  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script>
    const emailInputId = '#{{ form.username.id_for_label }}';
  </script>
{% endblock javascript %}
