{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Email sent' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <p>
      {% translate "We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder." %}
    </p>
  </main>
{% endblock content %}
