{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Password changed!' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <h2>{% translate 'The password has been changed!' %}</h2>
    <p><a href="{% url 'login' %}">{% translate 'Log in again?' %}</a></p>
  </main>
{% endblock content %}
