{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

{% block title %}{% translate 'Reset password' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    <h2>{% translate 'Password change form' %}</h2>
    <form id="reset-password-form" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="input-group mb-3 col-4">
        <input type="email" class="form-control"
 {% with portfolio_type.institution as pi %}
               placeholder="{% if pi == 'UQAR' %}prenom_nom@uqar.ca{% elif pi == 'CEMP' %}123456@cegepmontpetit.ca{% else %}nom.prenom.X@courrier.uqam.ca{% endif %}"
 {% endwith %}
               id="id_email" name="email" maxlength="254" required="" autofocus>
        <div class="input-group-append">
          <div class="input-group-text">
            {% svg_icon_psg 'enveloppe' extra_class="" width=25 height=25 %}
          </div>
        </div>
      </div>
      {{ form.recaptcha }}
      <div class="col-3">
        <input type="submit" class="btn btn-primary btn-block btn-orange" value="{% translate 'Reset password' %}">
      </div>
    </form>
  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script src="https://www.google.com/recaptcha/api.js?render=6LcKPswZAAAAAAHb88oNVjWi97aRUnxqLOPFpkjy"></script>

  <script>
    $('document').ready(function submitResetForm() {
      grecaptcha.ready(function () {
        grecaptcha.execute("6LcKPswZAAAAAAHb88oNVjWi97aRUnxqLOPFpkjy", {action: 'homepage'}).then(function (token) {
          $('input#id_recaptcha').val(token);
        });
      });
    });
  </script>
{% endblock javascript %}
