{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}

{% block title %}{% translate 'Enter new password' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section no-sidebar">
    {% if validlink %}
      <p>{% translate 'Please enter (and confirm) your new password' %}</p>
      <form action="" method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td class="text-right">{{ form.new_password1.errors }}
              <label for="id_new_password1">{% translate 'New password:' %}</label>
            </td>
            <td>{{ form.new_password1 }}</td>
          </tr>
          <tr>
            <td class="text-right">{{ form.new_password2.errors }}
              <label for="id_new_password2">{% translate 'Confirm password:' %}</label></td>
            <td>{{ form.new_password2 }}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" class="btn btn-block btn-primary px-4 btn-orange"
                     value="{% translate 'Change' %}"/>
            </td>
          </tr>
        </table>
      </form>
    {% else %}
      <h2>{% translate 'Password reset failed' %}</h2>
      <p>
        {% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
      </p>
    {% endif %}
  </main>
{% endblock content %}
