{% load i18n %}
<!-- Modal dialog to delete Document  -->
<div id="deleteDocumentModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Delete document' %}
        </h3>
        <button type="button" class="close"
                data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            <form id="delete_document" action="{% url 'delete_document' %}" method="POST">
              {% csrf_token %}
              <h4 id="deleteName"></h4>
              <input type="hidden" id="deleteID" name="document_id" value="">
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-sm orange-text uppercase"
                form="delete_document" type="submit">
          {% translate 'Delete' %}
        </button>
      </div>
    </div>
  </div>
</div>
