{% load i18n %}
<!-- Modal dialog to rename Document  -->
<div id="renameDocumentModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Rename document' %}
        </h3>
        {% translate 'Close' as close %}
        <button type="button" class="close"
                data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-group row">
            <input class="form-control" type="text" id="documentName" name="name" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-sm orange-text uppercase"
                id="renameDocument" type="button">
          {% translate 'Rename' %}
        </button>
      </div>
    </div>
  </div>
</div>
