{% load i18n %}
{% load icon_utils %}
<!-- Modal dialog to add a document  -->
<div id="documentModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% translate 'Add documents' %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form id="add_annexe" action="{% url 'add_annexe' %}"
                method="POST" enctype="multipart/form-data"
                onsubmit="return validateAnnexes(3)">
            {% csrf_token %}
            <div class="form-group">
              <input type="file" name="annexe" id="file-3" class="inputfile inputfile-3"
                     data-multiple-caption="{count} {% translate 'files selected' %}" multiple>
              <label for="file-3">
                {% svg_icon_psg 'soumettre' width=30 height=30 %}
                <span>{% translate 'Choose documents' %}</span>
              </label>
            </div>
            <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-sm orange-text uppercase" form="add_annexe" type="submit">
          {% translate 'Add' as add %}{{ add }}
        </button>
      </div>
    </div>
  </div>
</div>