{% load i18n %}
{% load icon_utils %}
<!-- Modal dialog to add a global file  -->
<div id="globalModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover" id="addGlobalName"></h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form id="add_global" action="{% url 'add_global' %}"
                method="POST" enctype="multipart/form-data"
                onsubmit="return validateAnnexes(2)">
            {% csrf_token %}
            <div class="form-group">
              <input type="file" name="annexe" id="file-2" class="inputfile inputfile-3">
              <label for="file-2">
                {% svg_icon_psg 'soumettre' width=30 height=30 %}
                <span>{% translate 'Choose document' as choose %}{{ choose }}</span>
              </label>
            </div>
            <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
            <input type="hidden" name="file_type" id="fileType" value="">
            <input type="hidden" name="file_name" id="fileName" value="">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-sm orange-text uppercase" form="add_global" type="submit">
          {% translate 'Add' as add %}{{ add }}
        </button>
      </div>
    </div>
  </div>
</div>
