{% load i18n %}
<!-- Modal dialog to finalize/review/certify progress/summative assessments  -->
<div id="{{ action }}-{{ assessment_type }}-assessments-modal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {% if action == 'finalize' %}
            {% translate 'Finalize assessments' %}
          {% elif action == 'review' %}
            {% translate 'Review assessments' %}
          {% elif action == 'certify' %}
            {% translate 'Certify assessments' %}
          {% endif %}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        
          {# dynamic modal body #}
          <p class="official">
            {% if action == 'finalize' %}
              {% translate "Do you really want to submit your assessments for validation by the student's supervisor? Once submitted, assessments cannot be modified unless the supervisor resubmits them to you." %}
            {% elif action == 'review' %}
              {% translate "Do you really want the student's expert resource to review the assessments?" %}
            {% elif action == 'certify' %}
              {% translate "Do you really want to certify the assessments and share them with the student?" %}
            {% endif %}
          </p>
        
          {# modal actions #}
          {% csrf_token %}
          <div class="modal-footer">
            <button type="button" id="{{ action }}-{{ assessment_type }}-assessments"
                    class="btn btn-link btn-sm orange-text uppercase" data-bs-dismiss="modal">
              {% translate 'Confirm and submit' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>