{% load i18n %}

<!-- Modal dialog to certify portfolio  -->
<div id="certifyPortfolioModal" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title absolute-no-hover">
          {{ certify_portfolio }}
        </h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form action="{% url 'certify_portfolio' %}" method="POST"
                autocomplete="off" onsubmit="completePost()">
            {% csrf_token %}
            <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
  {% if user_type == 'Expert' %}
            <h4>
              {{ portfolio_type.policy_expert }}
            </h4>
            <label for="date">
              {% translate "Interview date" %}
            </label>
            <input type="date" class="form-control" id="date" name="date" value="" required>
            <br>
            <div class="checkbox">
              <label class="official">
                <input type="checkbox" id="export" name="export" value="export" checked>
                {% translate "Download a copy of this applicant's credits attribution" %}
              </label>
            </div>
            <br>
  {% elif user_type == 'Supervisor' %}
            <input type="hidden" name="credits" value="{{ attribution.credits }}">
            <h4>
              {% translate 'Portfolio certification is the final action, resulting in:' %}
            </h4>
            <ul>
              <li class="official">
                {% translate 'Content expert is dissociated from the portfolio;' %}
              </li>
              <li class="official">
                {% translate 'Results are wrtitten in the Attribution table and are sent to the candidate;' %}
              </li>
              <li class="official">
                {% translate 'Every previous versions of every achievements is deleted (this can take a while), only the final version is kept and the portfolio can non longer be edited.' %}
              </li>
            </ul>
  {% endif %}
            <label for="comment">
              {% translate 'Comments (optionnal)' %}
            </label>
            <textarea class="form-control" name="comment" id="comment" rows="6" cols="50"></textarea>
            <div class="modal-footer">
              <button type="submit" id="certifyPortfolio" class="btn btn-link btn-sm orange-text uppercase">
                {{ certify_portfolio }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>