{% load i18n %}
<!-- Modal dialog to finalize portfolio  -->
  <div id="finalizePortfolioModal" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title absolute-no-hover">
            {% translate 'Finalize portfolio and submit for evaluation' %}
          </h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="{% url 'certify_portfolio' %}" method="POST" autocomplete="off">
              {% csrf_token %}
              <input type="hidden" name="portfolio_id" value="{{ portfolio.id }}">
              {% if is_continuous %}
                <input type="hidden" name="flow" value="continuous">
              {% endif %}
               <div class="checkbox">
                <label class="official">
                  <input type="checkbox" id="revised" name="revised" value="revised" onchange="validateSubmit()">
                  {% translate 'I confirm having completed a thourough linguistical revision of my achievements' %}
                </label>
              </div>
  {% if portfolio_type.share_portfolio == 'Applicant' %}
              <div class="checkbox">
                <label class="official"><input type="checkbox" name="share" value="share">
                  {% translate 'By checking this box, I autorize the future use of my achivements as examples in the context of this course.' %}
                </label>
              </div>
  {% endif %}
              <div class="modal-footer">
                <p class="official">{{ portfolio_type.policy_applicant|safe }} </p>
                <button type="submit" id="finalizePortfolio" class="btn btn-link btn-sm orange-text uppercase" disabled>
                  {% translate 'Confirm and submit' %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>