{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!-- Fiche d'évaluation évolutive -->
{% if form_progress_assessment %}
  <form id='progress-form' method="post">
    {% csrf_token %}
    <h3 class="mt-5 mb-5">{% translate 'Progress assessment form' %}</h3>
    <div class="mb-4">{% translate 'The contents of this form are made available to the candidate in preparation for the final assessment interview. It must be completed at least 10 days before the interview.' %}</div>

    {# load django form #}
    {{ form_progress_assessment|crispy }}

    {# form actions depending on user permissions #}
    {% if progress_edit_permission %}
      <button type="submit" class="btn btn-link btn-sm orange-text btn-save-assessment uppercase mr-5">
        <svg data-iconid class="icon crochet-orange" width="15" height="15"><use xlink:href="/static/icons/icons-2.0.svg#crochet-orange"></use></svg>
        {% translate 'Save' %}
      </button>
    {% endif %}
  </form>
{% endif %}