{% load i18n %}

<table class="mt-4 mb-5 table padding-default table-responsive table-bordered table-sm table-striped table-custom borders-blue blue-text">
  <thead class="font-bold uppercase blue-text">
  <tr>
    <th class="border-top-none border-left-none pl-3 w-1/6">
      {% translate 'Competency' %}
    </th>
    <th class="border-top-none pl-3 w-1/3">
      {% translate 'Targeted facet' %}
    </th>
    <th class="border-top-none pl-3 w-1/3">
      {% translate 'Assessed facet' %}
    </th>
    <th class="border-top-none border-right-none pl-3 w-1/6">
      {% translate 'Granted credits' %}
    </th>
  </tr>
  </thead>
  <tbody>
  {% for assessment in competency_assessments %}
    <tr>
      <td class="column-name p-3 border-left-none border-bottom-none border-top-none">
        {{ assessment.competency.code }}. {% translate assessment.competency.name %}
      </td>
      <td class="p-3 border-top-none border-bottom-none blue-text">
        {% translate assessment.get_targeted_facet %}
      </td>
      <td class="p-3 border-top-none border-bottom-none blue-text">
        {% translate assessment.get_evaluated_facet %}
      </td>
      <td class="pt-2 pl-3 border-right-none border-bottom-none border-top-none">
        {{ assessment.summative_credits }} {% translate 'credits' %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr class="border-bottom-none">
      <th class="border-left-none"></th>
      <th></th>
      <th>{% translate 'Total' %}</th>
      <th class="border-right-none">{{ recommended_credits }} {% translate 'credits' %}</th>
    </tr>
  </tfoot>
</table>