{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!-- Fiche synthèse de la recommandation  -->
{% if form_summative_assessment %}
  <form id='summative-form' method="post">
    <h3 class="mt-5 mb-5">{% translate 'Summative assessment form' %}</h3>
    {% csrf_token %}

    {# load django form #}
    {% for field in form_summative_assessment %}
      {{ field|as_crispy_field }}
      {% if field.id_for_label == 'id_summative_expert_level' %}
        <div class="mb-3" style="color: #ff6362">
          <span id='explanation-overestimate' class="hidden">
            {% translate "The written and oral explanation did not allow us to conclude on the level of development targeted for the student. The level selected is lower than that required." %}
          </span>
          <span id='explanation-underestimate' class="hidden">
            {% translate "The written and oral explanation did not allow us to conclude on the level of development targeted for the student. The level selected is higher than that required." %}
          </span>
          <span id='explanation-good-estimate' class="hidden">
            {% translate "The written and oral explanation did allow to conclude on the targeted level of development for the student." %}
          </span>
        </div>
      {% endif %}
    {% endfor %}

    {# form actions depending on user permissions #}
    {% if summative_edit_permission %}
      <button id='save-summative-assessment' type="submit" class="btn btn-link btn-sm orange-text btn-save-assessment uppercase mr-5">
        <svg data-iconid class="icon crochet-orange" width="15" height="15"><use xlink:href="/static/icons/icons-2.0.svg#crochet-orange"></use></svg>
        {% translate 'Save' %}
      </button>
    {% endif %}
  </form>
{% endif %}
