{% load i18n %}
{% load icon_utils %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{# form description #}
<div class="absolute-no-hover" style="padding-top: 20px;">
  <h2>
    Une réalisation professionnelle peut être de très courte durée (quelques minutes)
    à très longue durée (quelques mois). D’une façon ou d’une autre, il est important
    de cibler les <strong>moments clés</strong> de cette réalisation,
    les <strong>points tournants</strong>, les <strong>moments formateurs</strong>,
    et de décrire ce que vous avez fait et <strong>comment vous vous y êtes pris</strong>
    à chacun de ces moments.
  </h2>
</div>

{# actual form wrapper #}
<form id="questionnaire">
  {% csrf_token %}

  {# store id of corresponding achievement #}
  <input type="hidden" id="achievement_id" name="achievement_id" value="{{ achievement.id }}">

  <h3 class="mt-5">{% translate 'Motivation' %}</h3>
  {{ form_motivation|crispy }}

  <h3 class="mt-5">{% translate 'Key Elements' %}</h3>
  <h2 class="absolute-no-hover" style="padding-top: 20px;padding-bottom: 20px;">
    Répondre à chaque question par une phrase <strong>courte</strong> (style télégraphique)
    mais <strong>complète</strong>.
  </h2>
  {{ form_context|crispy }}

  {# targeted skill selector #}
  {{ f_target|crispy }}

  <h3 class="mt-5">{% translate 'Development' %}</h3>
  <h2 class="absolute-no-hover" style="padding-top: 20px;">
    Je peux maintenant donner plus de détails, mais en demeurant <strong>centré(e)</strong>
    sur mon point de vue au <strong>je</strong>, sans trop élaborer le contexte.
    Décrire l’action <strong>au présent, comme si elle était en train de se produire</strong>,
    comme je l’ai <strong>perçue</strong> lorsque je l’ai <strong>vécue</strong>.
  </h2>

  <h4 class="mt-5">{% translate 'Beginning' %}</h4>
  {{ form_debut|crispy }}

  <h4 class="mt-5">{% translate 'First key moment' %}</h4>
  {{ form_m1|crispy }}

  <h4 class="mt-5">{% translate 'Second key moment' %}</h4>
  {{ form_m2|crispy }}

  <h4 class="mt-5">{% translate 'Third key moment (optional)' %}</h4>
  {{ form_m3|crispy }}

  <h4 class="mt-5">{% translate 'Appraisal' %}</h4>
  {{ form_bilan|crispy }}

  {% if user.type == 'Applicant' %}
    {% svg_icon_psg 'horloge-orange' extra_class="" width=20 height=20 %}
    <a href="{% url 'profile' %}"
       onclick="return saveQuestionnaire()"
       class="btn btn-link btn-sm orange-text uppercase"
    >
      {% translate 'Save answers for later' %}
    </a>

    {% if validate_transfer %}
      {% svg_icon_psg 'fleche-droite-orange' extra_class="ml-5" width=20 height=20 %}
      {% if achievement.status == 'Created' %}
        <a href="{% url 'transfer_questionnaire' achievement.id 1 %}"
           onclick="return validateForm()"
           class="btn btn-link btn-sm orange-text uppercase"
        >
          {% translate 'Transfer answers and begin achievement' %}
        </a>
      {% else %}
        <a href="{% url 'transfer_questionnaire' achievement.id 0 %}"
           onclick="return saveQuestionnaire()"
           class="btn btn-link btn-sm orange-text uppercase"
        >
          {% translate 'See answers as text' %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}
</form>
