{% load i18n %}
{% load icon_utils %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{# form description #}
<div class="absolute-no-hover" style="padding-top: 20px;">
  <h2>
    Une réalisation professionnelle peut être de très courte durée (quelques minutes)
    à très longue durée (quelques mois). D’une façon ou d’une autre, il est important
    de cibler les <strong>moments clés</strong> de cette réalisation,
    les <strong>points tournants</strong>, les <strong>moments formateurs</strong>,
    et de décrire ce que vous avez fait et <strong>comment vous vous y êtes pris</strong>
    à chacun de ces moments.
  </h2>
</div>

{# actual form wrapper #}
<form id="questionnaire">
  {% csrf_token %}

  {# store id of corresponding achievement #}
  <input type="hidden" id="achievement_id" name="achievement_id" value="{{ achievement.id }}">

  {# single-field form for achievement title #}
  {{ form_motivation|crispy }}

  {# targeted skill selector #}
  {{ f_target|crispy }}

  {# development level for targeted skill #}
  {{ f_level|crispy }}

  {# submission buttons #}
  {% if user.type == 'Applicant' %}
    {% svg_icon_psg 'horloge-orange' extra_class="" width=20 height=20 %}
    <a href="{% url 'profile' %}"
       onclick="return saveQuestionnaire()"
       class="btn btn-link btn-sm orange-text uppercase"
    >
      {% translate 'Save answers for later' %}
    </a>

    {% if validate_transfer %}
      {% svg_icon_psg 'fleche-droite-orange' extra_class="ml-5" width=20 height=20 %}
      {% if achievement.status == 'Created' %}
        <a href="{% url 'transfer_questionnaire' achievement.id 1 %}"
           onclick="return validateForm()"
           class="btn btn-link btn-sm orange-text uppercase"
        >
          {% translate 'Transfer answers and begin achievement' %}
        </a>
      {% else %}
        <a href="{% url 'transfer_questionnaire' achievement.id 0 %}"
           onclick="return saveQuestionnaire()"
           class="btn btn-link btn-sm orange-text uppercase"
        >
          {% translate 'See answers as text' %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}
</form>
