{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load i18n %}
{% load icon_utils %}

<div>
  {% if achievement_prev %}
    <a class="nav-achievement" href="{% if is_example_portfolio %}
      {% url 'get_achievement_by_portfolio' achievement_prev.id 0 example_portfolio %}
  {% else %}
      {% url 'get_achievement' achievement_prev.id %}
  {% endif %}">
      {% svg_icon_psg 'fold-bleu' extra_class='' data_iconid='icn-minimize' width=12 height=12 %}
      {{ achievement_prev }}
    </a>
  {% endif %}
</div>
<div>
  {% if achievement_next %}
    <a class="nav-achievement" href="{% if is_example_portfolio %}
      {% url 'get_achievement_by_portfolio' achievement_next.id 0 example_portfolio %}
  {% else %}
      {% url 'get_achievement' achievement_next.id %}
  {% endif %}">
      {{ achievement_next }}
      {% svg_icon_psg 'fold-bleu' extra_class='rotate-180' data_iconid='icn-maximize' width=12 height=12 %}
    </a>
  {% endif %}
</div>