{% extends 'base.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
    For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load compress %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load icon_utils %}
{% load list_utils %}
{% load static %}

{% block title %}{% translate 'Compare version' %}{% endblock title %}

{% block content %}
  <main class="ps-main-section compare-main">
    <div class="app-content">
      <h1>
      <span id="achievementNumber">
        {{ current.achievement.number }}.
      </span>
        <span id="achievementName">
        {{ current.achievement.name }}
      </span>
      </h1>

  {% if is_continuous %}
      <h2 class="mt-4 no-hover">
        <span>{% translate 'Targeted skill' %} :</span>
        <span id="targetedSkill">
    {% if current.achievement.targeted_competency %}
          {{ current.achievement.targeted_competency.name }}
    {% else %}
          {% translate 'None' %}
    {% endif %}
        </span>
      </h2>
  {% endif %}

      {# Version div #}

      <div class="compare compare-version">
        <h3>
          {% translate 'Revision of' %}
          {{ version.version.created|date:"j F, G:i" }}
          {% if version.version.parent %}
            <a class="link-small-font ml-2" href="{% url 'compare_version' version.version.parent.id %}">
              {% translate 'Previous revision' %}
            </a>
          {% endif %}
          {% if version.version.parent and version.version.child %}
            <span class="ml-2">|</span>
          {% endif %}
          {% if version.version.child %}
            <a class="link-small-font ml-2" href="{% url 'compare_version' version.version.child.id %}">
              {% translate 'Next revision' %}
            </a>
          {% endif %}
        </h3>
        <p class="pt-5 mt-3">{% translate 'Reason motivating the choice of this achievement' as reason %}{{ reason }}</p>
        <div class="pt-5" id="version_editor_am"></div>
        <div id="version_counter_am">{% translate '0 word (target: 80-100)' as am %}{{ am }}</div>

        <p class="pt-3">{% translate 'Key elements of this achievement' as key %}{{ key }}</p>
        <div class="pt-5" id="version_editor_ac"></div>
        <div id="version_counter_ac">{% translate '0 word (target: 100-120)' as ac %}{{ ac }}</div>

        <p class="pt-3">{% translate 'Development and specificities of the achievement' as dev %}{{ dev }}</p>
        <div class="pt-5" id="version_editor"></div>
        <div id="version_counter">{% translate '0 word (target: 1200-1500)' as count %}{{ count }}</div>

        <!--  Skills
              Levels

              Knowledge
              Soft-Skills
              vocabulaire
        -->

        <div class="pt-5 mt-4">
          {% if version.skills or version.associated_skills or version.levels %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-top-none uppercase">
                <th class="border-left-none w-1/4">
                  {% translate 'Expertise' as expertise %}{{ expertise }}
                </th>
                <th class="border-right-none">
                  {% translate 'Overview' as overview %}{{ overview }}
                </th>
              </tr>
              </thead>
              <tbody>
              {% if version.skills %}
                <tr>
                  <td class="border-left-none font-bold">{% translate 'Skills' as s_tag %}{{ s_tag }}</td>
                  <td class="border-right-none">
                    {% for item in version.skills %}
                      {{ item }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if version.associated_skills %}
                <tr>
                  <td class="border-left-none font-bold">{% translate 'Associated skills' as a_s %}{{ a_s }}</td>
                  <td class="border-right-none">
                    {% for item in version.associated_skills %}
                      {{ item }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if version.levels %}
                <tr>
                  <td class="border-left-none font-bold">{% translate 'Levels of expertise' as l_e %}{{ l_e }}</td>
                  <td class="border-right-none">
                    {% for item in version.levels %}
                      {{ item.0 }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          {% endif %}                   {# if skills or associated_skills or levels #}

          {% if version.knowledges %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-top-none uppercase">
                <th class="border-left-none font-bold w-1/4">
                  {% translate 'Knowledge' as k_tag %}{{ k_tag }}
                </th>
                <th class="border-right-none font-bold">
                  {% translate 'What is new for me about this knowledge' as k_ex %}{{ k_ex }}
                </th>
              </tr>
              </thead>
              <tbody>
              {% for item in version.knowledges %}
                <tr>
                  <td class="fw-bold border-left-none">{{ item.name }}</td>
                  <td class="border-right-none">{{ item.explanation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}

          {% if version.soft_skills %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-left-none border-top-none uppercase">
                <th class="font-bold w-1/4">{% translate 'Soft-skills' as ss_tag %}{{ ss_tag }}</th>
                <th class="border-right-none font-bold">
                  {% translate 'In which way this soft-skill has evolved for me' as ss_ex %}{{ ss_ex }}
                </th>
              </tr>
              </thead>
              <tbody>
              {% for item in version.soft_skills %}
                <tr class="border-left-none">
                  <td class="fw-bold">{{ item.name }}</td>
                  <td class="border-right-none">{{ item.explanation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}

          {% if version.vocabulary %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-left-none border-top-none uppercase">
                <th class="font-bold w-1/4">{% translate 'Specialized expressions' as g_tag %}{{ g_tag }}</th>
                <th class="border-right-none font-bold">{% translate 'Definition' as def %}{{ def }}</th>
              </tr>
              </thead>
              <tbody>
              {% for item in version.vocabulary %}
                <tr class="border-left-none">
                  <td class="fw-bold">{{ item.name }}</td>
                  <td class="border-right-none">{{ item.explanation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>


      {# Current div #}

      <div class="compare compare-current">
        <h3>
          {% translate 'Current version' %}
          <a class="link-small-font ml-2" href="{% url 'get_achievement' current.achievement.id %}">
            {% translate 'End comparison' %}
          </a>
        </h3>


        <div class="flex flex-wrap mt-4" id="editorButtons">
          <div>
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
              <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
          <div>
            <div class="ml-10">
              <button type="button" id="submitAchievementButton"
                      class="btn btn-link btn-sm orange-text uppercase">
                {% translate 'Save' %}
              </button>
            </div>
            <div class="confirmSave alert alert-success w-25 max-w-sm text-center"
                 role="alert" id="confirmSave">
              {% translate 'Saved' %}
            </div>
            <div class="confirmSave alert alert-danger alert-dismissible fade show"
                 role="alert" id="failSave">
              <div class="fw-bold">{% translate 'There is a problem with some tags!' %}</div>
              <div class="fst-italic"><span id="fail-error"></span> {% translate 'in the following exerpt:' %}</div>
              <div>
                «&nbsp;<span id="fail-insert"></span>&nbsp;»
              </div>
              <button type="button" class="close" aria-label="Close" onclick="$('#failSave').fadeOut()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>

        <p>{{ reason }}</p>
        <div id="editor_am"></div>
        <div id="counter_am">{{ am }}</div>


        <p class="pt-3">{{ key }}</p>
        <div id="editor_ac"></div>
        <div id="counter_ac">{{ ac }}</div>


        <p class="pt-3">{{ dev }}</p>

        <div id="editor" data-usertype="{{ user.type|lower }}">></div>

        <div id="counter">{{ count }}</div>

        <div class="flex flex-wrap pt-5">
          <div class="flex-auto">
            <h4>
              <button class="btn btn-style ml-1" type="button"
                      data-bs-toggle="modal" data-bs-target="#submitVersionModal"
                      onclick="submitAchievement()">
                {% svg_icon_psg 'soumettre' extra_class="orange" width=25 height=40 %}
                {% if user.type == 'Applicant' %}
                  <span>{% translate 'Submit version' as submit %}</span>
                {% else %}
                  <span>{% translate 'Register review' as submit %}</span>
                {% endif %}
                {{ submit }}
              </button>
            </h4>
          </div>
        </div>

        <!--  Skills
              Levels
              Documents

              Knowledge
              Soft-Skills
              vocabulaire
        -->
        <div>
          {% if current.skills or current.associated_skills or current.levels %}
            <table class="mt-3 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-top-none uppercase">
                <th class="border-left-none w-1/4">
                  {{ expertise }}
                </th>
                <th class="border-right-none">
                  {{ overview }}
                </th>
              </tr>
              </thead>
              <tbody>
              {% if current.skills %}
                <tr>
                  <td class="border-left-none font-bold">{{ s_tag }}</td>
                  <td class="border-right-none">
                    {% for item in current.skills %}
                      {{ item }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if current.associated_skills %}
                <tr>
                  <td class="border-left-none font-bold">{{ a_s }}</td>
                  <td class="border-right-none">
                    {% for item in current.associated_skills %}
                      {{ item.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              {% if current.levels %}
                <tr>
                  <td class="border-left-none font-bold">{{ l_e }}</td>
                  <td class="border-right-none">
                    {% for item in current.levels %}
                      {{ item.0 }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          {% endif %}     {# if skills or associated_skills or levels or documents #}

          {% if current.knowledges %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-top-none uppercase">
                <th class="border-left-none font-bold w-1/4">
                  {{ k_tag }}
                </th>
                <th class="border-right-none font-bold">
                  {{ k_ex }}
                </th>
              </tr>
              </thead>
              <tbody>
              {% for item in current.knowledges %}
                <tr>
                  <td class="fw-bold border-left-none">{{ item.name }}</td>
                  <td class="border-right-none">{{ item.explanation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}

          {% if current.soft_skills %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-left-none border-top-none uppercase">
                <th class="font-bold w-1/4">{{ ss_tag }}</th>
                <th class="border-right-none font-bold">
                  {{ ss_ex }}
                </th>
              </tr>
              </thead>
              <tbody>
              {% for item in current.soft_skills %}
                <tr class="border-left-none">
                  <td class="fw-bold">{{ item.name }}</td>
                  <td class="border-right-none">{{ item.explanation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}

          {% if current.vocabulary %}
            <table class="mt-5 table table-bordered table-sm table-striped table-custom
                       borders-blue borders-no-horizontal padding-default blue-text">
              <thead>
              <tr class="border-left-none border-top-none uppercase">
                <th class="font-bold w-1/4">{{ g_tag }}</th>
                <th class="border-right-none font-bold">{{ def }}</th>
              </tr>
              </thead>
              <tbody>
              {% for item in current.vocabulary %}
                <tr class="border-left-none">
                  <td class="fw-bold">{{ item.name }}</td>
                  <td class="border-right-none">{{ item.explanation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
      {# div current #}
      {# div row #}
    </div>
    {# div app-content #}

    <!-- Modal dialog to submit version  -->
    <div id="submitVersionModal" class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title absolute-no-hover">
              {{ submit }}
            </h3>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form action="{% url 'register_version' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ current.f_version|crispy }}
                <div class="modal-footer">
                  <button type="submit" id="submitVersion" class="btn btn-link btn-sm orange-text uppercase">
                    {{ submit }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script>
    /*
      Variables linked to Python context
      N.B. Safari does not scope const / let in module
    */

    var competencies = [];
    {% for competency in current.serialized_competencies %}
      competencies.push(JSON.parse('{{ competency | safe }}')[0]);
    {% endfor %}

    var documents = false;
    var level_2 = {{ current.portfolio.concentration.get_level_2|safe }};
    var semester = '{{ user.group.semester_id }}';
    var group = `{{ user.group_id }}`
    var userName = '{{ user.first_name }}';
    var userType = '{{ user.type }}';

    const achievementId = '{{ current.achievement.id }}';
    const editable = {{ current.editable|yesno:'true,false' }};

    let motivationContents = {{ current.contents_motivation|safe }};
    let contextContents = {{ current.contents_context|safe }};
    let developmentContents = {{ current.contents_development|safe }};

    let versionMotivationContents = {{ version.contents_motivation|safe }};
    let versionContextContents = {{ version.contents_context|safe }};
    let versionDevelopmentContents = {{ version.contents_development|safe }};
    // console.info(versionDevelopmentContents)

    const previousRevision = false;
    const devMode = false;
  </script>

  <script src="{{ STATIC_URL }}editor-{{ editor_version }}/editor.js" type="module"></script>
  <script src="{{ STATIC_URL }}editor-{{ editor_version }}/utilities/index.js"></script>
  <script src="{{ STATIC_URL }}editor-{{ editor_version }}/utilities/compare.js"></script>
{% endblock javascript %}
