{% extends 'dashboard.html' %}

{% comment %}
  © Copyright Yves de Champlain et al. 2018-2022
  For more informations: https://doc.epassages.ca/index.php/contributions/

  SPDX-License-Identifier: LiLiQ-Rplus-1.1
  License-Filename: LICENCE
{% endcomment %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load icon_utils %}
{% load list_utils %}
{% load static %}

{% block title %}
  {% blocktranslate with num=achievement.number %}
    Edit Achievement {{ num }}
  {% endblocktranslate %}
{% endblock title %}

{% block content %}
  <main class="ps-main-section">
    <div class="app-content">

      {##}
      {# Achievement header #}
      {##}

      <h1>
        <span id="achievementNumber">
          {{ achievement.targeted_competency.code }}.{{ achievement.number }}.
        </span>
        <span id="achievementName">
          {{ achievement.name }}
        </span>

        {% if version or previous_revision %}
          <span class="text-sm">

            {% if version %}
              {% if version.author.type == 'Applicant' %}
                {% translate 'Submission' as sub %}
              {% else %}
                {% translate 'Revision' as sub %}
              {% endif %}
              {% blocktranslate with v_type=sub|capfirst v_date=version.created|date:"j F, G:i" %}
                ({{ v_type }} of {{ v_date }})
              {% endblocktranslate %}

              {% if version.parent %}
                <a class="link-small-font ml-2" href="{% url 'get_achievement_mode' version.parent.id 1 %}">
                  {% blocktranslate with v_type=sub %}Previous {{ v_type }}{% endblocktranslate %}
                </a>
              {% endif %}

              {% if version.parent and version.child %}
                <span class="ml-2">|</span>
              {% endif %}

              {% if version.child %}
                <a class="link-small-font ml-2" href="{% url 'get_achievement_mode' version.child.id 1 %}">
                  {% blocktranslate with v_type=sub %}Next {{ v_type }}{% endblocktranslate %}
                </a>
              {% endif %}

{#            Function not implemented in this version  #}
{#            {% elif previous_revision %}#}
{#              <a class="link-small-font ml-2" href="{% url 'compare_version' previous_revision.id %}">#}
{#                {% translate 'Compare with last revision' %}#}
{#              </a>#}
            {% endif %}

          </span>
        {% endif %}
        {# if version or compare_version #}
      </h1>

      {# milestone: sub-title #}
      {% if is_milestone %}
        {% if achievement.sub_title %}
          <h2 class="no-hover">{{ achievement.sub_title }}</h2>
        {% endif %}

        {# MODE=MILESTONE; NEXT / PREVIOUS achievement navigation #}
        <h2 class="no-hover flex flex-wrap md:flex-nowrap justify-between">
          {% include 'editor/achievement_nav.html' %}
        </h2>
      {% endif %}

      {% if is_continuous %}
        <h2 class="mt-4 no-hover">
          <span>{% translate 'Targeted skill' %} :</span>
          <span id="targetedSkill">
            {% if achievement.targeted_competency %}
              {{ achievement.targeted_competency.name }}
            {% elif user.type == 'Applicant' %}
              <button
                  class="btn btn-style ml-1"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#changeTargetCompetence"
              >
                {% svg_icon_psg 'derouler-blanc' extra_class="orange" width=25 height=40 %}
                <span>{% translate 'Choose' %}</span>
              </button>
            {% else %}
              {% translate 'None' %}
            {% endif %}
          </span>
        </h2>
      {% endif %}


      {##}
      {# Editor tabs navigation #}
      {##}
      <ul class="nav nav-tabs justify-content-start nav-tab-link" id="nav-tab-explicitness" role="tablist">
        {# (milestone) dynamically create X tabs for X possible milestones #}
        {% if is_milestone %}
          {% for tab_number in group_milestone|xrange %}
            <li class="nav-item {% if group_milestone < tab_number %}hidden{% endif %}"
                data-tab-number="{{ tab_number }}"
            >
              <a class="nav-link {% if group_milestone == tab_number %}active{% endif %}"
                 id="nav-tab-development-{{ tab_number }}"
                 href="#nav-tab-pane-development-{{ tab_number }}"
                 data-bs-toggle="tab"
                 role="tab"
                 aria-controls="nav-tab-pane-development"
                 aria-selected="true"
              >
                {% blocktranslate %}Step {{ tab_number }}{% endblocktranslate %}
              </a>
            </li>
          {% endfor %}
          {# (continuous) dynamically create X tabs for X achievement types #}
        {% elif is_continuous %}

          {% for tab in tabs %}
            <li class="nav-item" data-tab-number="{{ forloop.counter }}">
              {# activate 1st tab by default #}
              <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}"
                 id="nav-tab-development-{{ forloop.counter }}"
                 href="#nav-tab-pane-development-{{ forloop.counter }}"
                 data-bs-toggle="tab"
                 role="tab"
                 aria-controls="nav-tab-pane-development"
                 aria-selected="true"
              >
                {{ tab.name }}
              </a>
            </li>
          {% endfor %}

          {# summary tab #}
          <li class="nav-item">
            <a class="nav-link"
               id="nav-tab-resume"
               href="#nav-tab-pane-resume"
               data-bs-toggle="tab"
               role="tab"
               aria-controls="nav-tab-pane-resume"
               aria-selected="false"
            >
              {% translate 'Summary' %}
            </a>
          </li>

          {# (old) hard-coded 3 tabs: motivation, context, development #}
          {#<li class="nav-item">#}
          {#  <a class="nav-link active"#}
          {#     id="nav-tab-motivation"#}
          {#     data-bs-toggle="tab"#}
          {#     href="#nav-tab-pane-motivation"#}
          {#     role="tab"#}
          {#     aria-controls="nav-tab-pane-motivation"#}
          {#     aria-selected="true"#}
          {#  >#}
          {#    {% translate 'Relevance' as relevance %}#}
          {#    {{ relevance }}#}
          {#  </a>#}
          {#</li>#}
          {#<li class="nav-item">#}
          {#  <a class="nav-link"#}
          {#     id="nav-tab-context"#}
          {#     data-bs-toggle="tab"#}
          {#     href="#nav-tab-pane-context"#}
          {#     role="tab"#}
          {#     aria-controls="nav-tab-pane-context"#}
          {#     aria-selected="false"#}
          {#  >#}
          {#    {% translate 'Key Elements' as keys %}#}
          {#    {{ keys }}#}
          {#  </a>#}
          {#</li>#}
          {#<li class="nav-item">#}
          {#  <a class="nav-link"#}
          {#     id="nav-tab-development"#}
          {#     data-bs-toggle="tab"#}
          {#     href="#nav-tab-pane-development"#}
          {#     role="tab"#}
          {#     aria-controls="nav-tab-pane-development"#}
          {#     aria-selected="false"#}
          {#  >#}
          {#    {% translate 'Development' as development %}#}
          {#    {{ development }}#}
          {#  </a>#}
          {#</li>#}
          {# end old hard-coded 3 tabs #}

        {% endif %}
      </ul>

      {##}
      {# Editor buttons and alert panes #}
      {##}
      <div class="flex flex-wrap mt-4" id="editorButtons">
        {% if is_continuous or achievement.template.has_show_tags %}
          <div class="mr-10">
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
              <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        {% endif %}

        {% if editable %}
          <div class="ml-10">
            <button
                type="button"
                id="submitAchievementButton"
                data-mode="{% if is_milestone %}milestone{% else %}continuous{% endif %}"
                class="btn btn-link btn-sm orange-text uppercase"
            >
              {% translate 'Save' as save %}{{ save }}
            </button>
          </div>

        {% endif %}
      </div>
    </div>

    {##}
    {# Editor tabs #}
    {##}
    <div class="tab-content tab-deroulement" id="nav-tab-pane-explicitness">

      {# (continuous) dynamically load Quill editors from PortfolioType.achievement_types #}
      {% if is_continuous %}

        {# (continuous) tab = achievement type #}
        {% for tab in tabs %}
          <div
              {# activate 1st tab by default #}
              class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}"
              id="nav-tab-pane-development-{{ forloop.counter }}"
              data-tab-number="{{ forloop.counter }}"
              role="tabpanel"
              aria-labelledby="nav-tab-development"
          >
            <p>{{ tab.sub_title }}</p>

            {# TODO merge w/ milestone since identical code (consider using partial for that) #}
            {# dynamic editor blocks per tab #}
            {% with tab_number=forloop.counter %}
              {% for block in tab.editor_blocks %}
                <div
                    class="achievement-block-editor mb-4"
                    data-block-id="{{ block.id }}"
                    data-tab-number="{{ tab_number }}"
                    {# show either block-specific OR achievement-specific tags in Quill #}
                    data-editor-opts="{% if block.get_comp_types %}
                    {{ block.get_comp_types|join:"," }}
                  {% else %}
                    {{ achievement.get_comp_types_template|join:"," }}
                  {% endif %}"
                >
                  <div class="flex justify-between">
                    {# block title, instruction, explanation, etc. #}
                    <div class="title-and-explanation">
                      <p id="instruction-{{ block.id }}" data-qinstruct-id="#editor-{{ block.id }}">
                        <span>{{ block.instruction|safe }}</span>

                        {% if block.explanation %}
                          &nbsp;&mdash;&nbsp;
                          <a href="" class="toggle-explanation" data-block-id="{{ block.id }}">
                            {% translate 'See instructions' %}
                          </a>
                        {% endif %}

                        {# show link for example portfolio; do NOT show example when viewing example itself #}
                        {% if block.has_example and not is_example_portfolio %}
                          &nbsp;&mdash;&nbsp;
                          <a target="_blank"
                             href="{% url 'get_achievement_by_portfolio' achievement.id 0 example_portfolio %}#editor-{{ block.id }}"
                             class="question-example">
                            {% translate 'See example' %}
                          </a>
                        {% endif %}
                      </p>

                      {# show block's explanation below instruction #}
                      {% if block.explanation %}
                        <div id="explanation-{{ block.id }}" class="block-explanation hidden">
                          {{ block.explanation|safe }}
                        </div>
                      {% endif %}
                    </div>

                    {# success #}
                    <div
                        class="confirmMsg alert alert-success text-center"
                        role="alert"
                        id="confirmSave-{{ block.id }}"
                    >
                      {% translate 'Saved' %}
                    </div>

                    {# tag-related errors #}
                    <div
                        class="confirmMsg alert alert-danger alert-dismissible fade show"
                        role="alert"
                        id="failSave-{{ block.id }}"
                    >
                      <div class="fw-bold">{% translate 'There is a problem with some tags!' %}</div>
                      <div class="fst-italic">
                        <span id="fail-error-{{ block.id }}"></span> {% translate 'in the following exerpt:' %}
                      </div>
                      <div>
                        «&nbsp;<span id="fail-insert-{{ block.id }}"></span>&nbsp;»
                      </div>
                      <button
                          type="button"
                          class="close"
                          aria-label="Close"
                          onclick="$('[id^=\'failSave\']').fadeOut()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    {# network errors: alert message to show to user when trying to save achievement and network error occurs (e.g. 403) #}
                    <div
                        class="confirmMsg alert alert-danger alert-dismissible fade show"
                        role="alert"
                        id="failSaveNetworkError-{{ block.id }}"
                    >
                      <div class="fw-bold">{% translate 'Save failed !' %}</div>
                      <div class="fw-italic">{% translate 'Site administrator has been warned.' %}</div>
                      <div
                          class="fw-bold">{% translate 'It is recommended to manually make a copy of your text and reload the page' %}</div>
                      <button
                          type="button"
                          class="close"
                          aria-label="Close"
                          onclick="$('[id^=\'failSaveNetworkError\']').fadeOut()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>

                  {# Adding achievement status as data-status of 'development' editor to allow changing styles of contents #}
                  {# We add custom data attributes to make block editors dynamic #}
                  <div
                      class="editor"
                      id="editor-{{ block.id }}"
                      data-block_id="{{ block.id }}"
                      data-tab-number="{{ tab_number }}"
                      {% if block.get_comp_types %}
                      data-editor_opts="{{ block.get_comp_types|join:"," }}"
                      {% else %}
                      data-editor_opts="{{ achievement.get_comp_types_template|join:"," }}"
                      {% endif %}
                      data-target_words="{{ block.target_words }}"
                      data-status="{{ achievement.status|lower }}"
                      data-usertype="{{ user.type|lower }}"
                  ></div>

                  <div id="counter-{{ block.id }}" class="counter">
                    {% blocktranslate with target_words=block.target_words %}
                      0 word (target: {{ target_words }})
                    {% endblocktranslate %}
                  </div>

                </div>
              {% endfor %}
            {% endwith %}
          </div>
        {% endfor %}

        {# hard-coded: motivation #}
        {#<div class="tab-pane fade show active" id="nav-tab-pane-motivation" role="tabpanel"#}
        {#     aria-labelledby="nav-tab-motivation">#}
        {#  <p>{% translate 'Reason motivating the choice of this achievement' %}</p>#}
        {#  <div id="editor_am"></div>#}
        {#  <div id="counter_am">{% translate '0 word (target: 80-100)' %}</div>#}
        {#</div>#}

        {# hard-coded: context #}
        {#<div class="tab-pane fade" id="nav-tab-pane-context" role="tabpanel" aria-labelledby="nav-tab-context">#}
        {#  <p>{% translate 'Key elements of this achievement' %}</p>#}
        {#  <div id="editor_ac"></div>#}
        {#  <div id="counter_ac">{% translate '0 word (target: 100-120)' %}</div>#}
        {#</div>#}

        {# hard-coded: development #}
        {#<div class="tab-pane fade" id="nav-tab-pane-development" role="tabpanel" aria-labelledby="nav-tab-development">#}
        {#  <p>{% translate 'Development and specificities of the achievement' %}</p>#}
        {##}
        {# Adding achievement status as data-status of 'development' editor to allow changing styles of contents #}
        {#  <div#}
        {#      id="editor"#}
        {#      class="editor"#}
        {#      data-status="{{ achievement.status|lower }}"#}
        {#      data-usertype="{{ user.type|lower }}"#}
        {#  ></div>#}
        {##}
        {#  <div id="counter">{% translate '0 word (target: 1200-1500)' %}</div>#}
        {#  {% if dev_mode and debug %}#}
        {#    <label for="output_delta">Quill Ops</label>#}
        {#    <textarea id="output_delta" rows="15" cols="80"></textarea>#}
        {#  {% endif %}#}
        {#</div>#}

        {# (milestone) dynamically load Quill editors #}
      {% elif is_milestone %}
        {% for tab_number in group_milestone|xrange %}
          <div
              class="tab-pane fade {% if group_milestone == tab_number %}show active{% endif %}"
              id="nav-tab-pane-development-{{ tab_number }}"
              data-tab-number="{{ tab_number }}"
              role="tabpanel"
              aria-labelledby="nav-tab-development"
              data-portfolio-type="{% if portfolio.share %}example{% endif %}"
          >
            {% for block in active_editor_blocks %}
              {# only load editor blocks matching the step number of the active tab; 'add:0' to coerce str to int #}
              {% if block.milestone == tab_number %}
                {# store important infos about block & editor options (block id, editor options) #}
                <div
                    class="achievement-block-editor mb-4"
                    data-block_id="{{ block.id }}"
                    data-milestone="{{ block.milestone }}"
                    {# show either block-specific OR achievement-specific tags in Quill #}
                    data-editor_opts="{% if block.get_comp_types %}
                      {{ block.get_comp_types|join:"," }}
                    {% else %}
                      {{ achievement.get_comp_types_template|join:"," }}
                    {% endif %}"
                >
                  <div class="flex justify-between">
                    <div class="title-and-explanation">
                      <p id="instruction-{{ block.id }}" data-qinstruct-id="#editor-{{ block.id }}">
                        <span>{{ block.instruction|safe }}</span>

                        {% if block.explanation %}
                          &nbsp;&mdash;&nbsp;
                          <a href="" class="toggle-explanation" data-block-id="{{ block.id }}">
                            {% translate 'See instructions' %}
                          </a>
                        {% endif %}

                        {# show link for example portfolio; do NOT show example when viewing example itself #}
                        {% if block.has_example and not is_example_portfolio %}
                          &nbsp;&mdash;&nbsp;
                          <a target="_blank"
                             href="{% url 'get_achievement_by_portfolio' achievement.id 0 example_portfolio %}#editor-{{ block.id }}"
                             class="question-example">
                            {% translate 'See example' %}
                          </a>
                        {% endif %}
                      </p>

                      {# show block's explanation below instruction #}
                      {% if block.explanation %}
                        <div id="explanation-{{ block.id }}" class="block-explanation hidden">
                          {{ block.explanation|safe }}
                        </div>
                      {% endif %}
                    </div>

                    {# success #}
                    <div
                        class="confirmMsg alert alert-success text-center"
                        role="alert"
                        id="confirmSave-{{ block.id }}"
                    >
                      {% translate 'Saved' %}
                    </div>

                    {# tag-related errors #}
                    <div
                        class="confirmMsg alert alert-danger alert-dismissible fade show"
                        role="alert"
                        id="failSave-{{ block.id }}"
                    >
                      <div class="fw-bold">{% translate 'There is a problem with some tags!' %}</div>
                      <div class="fst-italic">
                        <span id="fail-error-{{ block.id }}"></span> {% translate 'in the following exerpt:' %}
                      </div>
                      <div>
                        «&nbsp;<span id="fail-insert-{{ block.id }}"></span>&nbsp;»
                      </div>
                      <button
                          type="button"
                          class="close"
                          aria-label="Close"
                          onclick="$('[id^=\'failSave\']').fadeOut()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    {# network errors: alert message to show to user when trying to save achievement and network error occurs (e.g. 403) #}
                    <div
                        class="confirmMsg alert alert-danger alert-dismissible fade show"
                        role="alert"
                        id="failSaveNetworkError-{{ block.id }}"
                    >
                      <div class="fw-bold">{% translate 'Save failed !' %}</div>
                      <div class="fw-italic">{% translate 'Site administrator has been warned.' %}</div>
                      <div
                          class="fw-bold">{% translate 'It is recommended to manually make a copy of your text and reload the page' %}</div>
                      <button
                          type="button"
                          class="close"
                          aria-label="Close"
                          onclick="$('[id^=\'failSaveNetworkError\']').fadeOut()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>

                  {# Adding achievement status as data-status of 'development' editor to allow changing styles of contents #}
                  {# We add custom data attributes to make block editors dynamic #}
                  <div
                      class="editor"
                      id="editor-{{ block.id }}"
                      data-block_id="{{ block.id }}"
                      data-milestone="{{ block.milestone }}"
                      {#data-editor_opts="{{ achievement.get_comp_types|join:"," }}"#}
                      {% if block.get_comp_types %}
                      data-editor_opts="{{ block.get_comp_types|join:"," }}"
                      {% else %}
                      data-editor_opts="{{ achievement.get_comp_types_template|join:"," }}"
                      {% endif %}
                      data-target_words="{{ block.target_words }}"
                      data-status="{{ achievement.status|lower }}"
                      data-usertype="{{ user.type|lower }}"
                  ></div>

                  <div id="counter-{{ block.id }}" class="counter">
                    {% blocktranslate with target_words=block.target_words %}
                      0 word (target: {{ target_words }})
                    {% endblocktranslate %}
                  </div>

                  {% if is_continuous and dev_mode and debug %}
                    <label for="output_delta">Quill Ops</label>
                    <textarea id="output_delta" rows="15" cols="80"></textarea>
                  {% endif %}
                </div>
              {% endif %}
              {# end: block.milestone == tab_number #}
            {% endfor %}
            {# end: block in active_editor_blocks #}
          </div>
        {% endfor %}
      {% endif %}

      {##}
      {# Resume/Summary Tab #}
      {##}

      {% if is_continuous %}
        <div
            class="tab-pane fade"
            id="nav-tab-pane-resume"
            role="tabpanel"
            aria-labelledby="nav-tab-resume"
        >
          <div class="list-group list-group-flush pt-2">

            {% if editable and user.type != 'Expert' %}
              {% if user.type == 'Applicant' %}
                <div class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h4>
                      <button
                          class="btn btn-style ml-1"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#changeNumberModal"
                      >
                        {% svg_icon_psg 'derouler-blanc' extra_class="orange" width=25 height=25 %}
                        <span>{% translate 'Change number' %}</span>
                      </button>
                    </h4>
                    <h4>
                      <button
                          class="btn btn-style ml-1"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#changeTargetCompetence"
                      >
                        {% svg_icon_psg 'competence' extra_class="orange" width=25 height=25 %}
                        <span>{% translate 'Change targeted skill' as change_target %}{{ change_target }}</span>
                      </button>
                    </h4>
                    <h4>
                      <button
                          class="btn btn-style"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#renameAchievementModal"
                      >
                        {% svg_icon_psg 'modifier' extra_class="orange" width=25 height=25 %}
                        <span>{% translate 'Rename' %}</span>
                      </button>
                    </h4>
                    <h4>
                      <button
                          class="btn btn-style"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteAchievementModal"
                      >
                        {% svg_icon_psg 'supprimer' extra_class="orange" width=25 height=25 %}
                        <span>{% translate 'Delete' as delete %}{{ delete }}</span>
                      </button>
                    </h4>
                  </div>
                </div>
              {% endif %}

              <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h4>
                    <button class="btn btn-style ml-1" type="button"
                            data-bs-toggle="modal" data-bs-target="#submitVersionModal">
                      {% svg_icon_psg 'soumettre' extra_class="orange" width=25 height=25 %}
                      {% if user.type == 'Applicant' %}
                        {% translate 'Submit version' as submit %}
                      {% else %}
                        {% translate 'Register review' as submit %}
                      {% endif %}
                      <span>{{ submit }}</span>
                    </button>
                  </h4>
                  {% if achievement.questionnaire %}
                    <h4>
                      <button class="btn btn-style"
                              onclick="location.href='{% url 'show_questionnaire' achievement.id %}'">
                        {% svg_icon_psg 'questionnaire-orange' extra_class="" width=25 height=25 %}
                        <span>{% translate 'Review questionnaire' %}</span>
                      </button>
                    </h4>
                  {% endif %}
                  <h4>
                    <button class="btn btn-style" onclick="undoLastSave()">
                      {% svg_icon_psg 'exclamation-orange' extra_class="pr-1" width=24 height=24 %}
                      <span>{% translate 'Undo last save' %}</span>
                    </button>
                  </h4>
                </div>
              </div>
            {% else %}
              {% csrf_token %}
            {% endif %}

            {% if user == portfolio.user or user.type != 'Applicant' %}
              <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h4>
                    <button class="btn btn-style"
                            onclick="window.open('{% url 'print_achievement' achievement.id 'read' %}')">
                      {% svg_icon_psg 'lunettes-orange' extra_class="" width=25 height=25 %}
                      {% translate 'Reader' %}
                    </button>
                  </h4>
                  <h4>
                    <button class="btn btn-style"
                            onclick="window.open('{% url 'print_achievement' achievement.id 'print' %}')">
                      {% svg_icon_psg 'imprimante-orange' extra_class="" width=25 height=25 %}
                      {% translate 'Print' %}
                    </button>
                  </h4>
                  <h4>
                    <button class="btn btn-style"
                            onclick="location.href='{% url 'print_achievement' achievement.id 'pdf' %}'">
                      {% svg_icon_psg 'pdf-orange' extra_class="" width=25 height=25 %}
                      {% translate 'Export to PDF' %}
                    </button>
                  </h4>
                </div>
              </div>
            {% endif %}
          </div>

          {##}
          {# Versions #}
          {##}
          {# Skills #}
          {# Levels #}
          {# Documents #}
          {##}
          {# Knowledge #}
          {# Soft-Skills #}
          {# vocabulaire #}
          {##}
          <div class="sub-tables">
            {% if achievement_versions and user.type != 'Expert' %}
              <table class="table table-bordered table-sm table-striped table-custom borders-blue borders-no-horizontal
              padding-default mt-5 blue-text">
                <thead class="border-top-none border-left-none blue-text uppercase">
                <tr>
                  <th class="w-1/4">{% translate 'Versions' %}</th>
                  <th class="w-1/6">{% translate 'Status' %}</th>
                  <th class="w-1/6">{% translate 'From' %}</th>
                  <th class="border-right-none">{% translate 'Comment' %}</th>
                </tr>
                </thead>
                <tbody class="border-left-none">
                {% if version %}
                  <tr class="border-right-none">
                    <td colspan="3">
                      <a href="{% url 'get_achievement' achievement.id %}">
                        {% translate 'Return to current version' %}
                      </a>
                    </td>
                  </tr>
                {% endif %}
                {% for version in achievement_versions %}
                  <tr class="border-left-none">
                    <td>
                      <a href="{% url 'get_achievement_mode' version.id 1 %}">
                        {{ version.created }}
                      </a>
                    </td>
                    <td class="{% if version.status == 'Final' %}green-text{% endif %}">
                      {% translate version.status %}
                    </td>
                    <td>
                      {{ version.author.first_name }}
                    </td>
                    <td class="border-right-none compact">
                      {{ version.comment }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {# END: if achievement_versions and user.type != 'Expert' #}

            {% if skills or associated_skills or levels or documents %}
              <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
                <thead>
                <tr class="border-top-none uppercase">
                  <th class="border-left-none w-1/4">
                    {% translate 'Expertise' %}
                  </th>
                  <th class="border-right-none">
                    {% translate 'Overview' %}
                  </th>
                </tr>
                </thead>
                <tbody>
                {% if skills %}
                  <tr>
                    <td class="border-left-none font-bold">{% translate 'Skills' %}</td>
                    <td class="border-right-none">
                      {% for number, id in skills.items %}
                        <a href="#" onclick="showSpecificTag({{ id }}, 'ql-competency')">
                          {{ number }}
                        </a>{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
                {% if associated_skills %}
                  <tr>
                    <td class="border-left-none font-bold">{% translate 'Associated skills' %}</td>
                    <td class="border-right-none">
                      {% for item in associated_skills %}
                        <a href="#" onclick="showSpecificTag({{ item.id }}, '{{ item.cls }}')">
                          {{ item.name }}
                        </a>{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
                {% if levels %}
                  <tr>
                    <td class="border-left-none font-bold">{% translate 'Levels of expertise' %}</td>
                    <td class="border-right-none">
                      {% for item in levels %}
                        <a href="#" onclick="showSpecificTag({{ item.1 }}, 'ql-expertise_level')">
                          {{ item.0 }}
                        </a>{% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
                {% if documents %}
                  <tr>
                    <td class="border-left-none font-bold">{% translate 'Annexes' %}</td>
                    <td class="border-right-none">
                      {% for document in documents %}
                        {{ document.indice_1 }}-{{ document.indice_2 }}
                        <a href="{{ document.url }}">{{ document.name }}</a>
                        {% if not forloop.last %}
                          <br>
                        {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            {% endif %}
            {# END: if skills or associated_skills or levels or documents #}

            {% if knowledges %}
              <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
                <thead>
                <tr class="border-top-none uppercase">
                  <th class="border-left-none font-bold w-1/4">
                    {% translate 'Knowledge' %}
                  </th>
                  <th class="border-right-none font-bold">
                    {% translate 'What is new for me about this knowledge' %}
                  </th>
                </tr>
                </thead>
                <tbody>
                {% for item in knowledges %}
                  <tr>
                    <td class="fw-bold border-left-none">
                      <a href="#" onclick="showSpecificTag({{ item.id }}, '{{ item.cls }}')">
                        {{ item.name }}
                      </a>
                    </td>
                    <td class="border-right-none">{{ item.explanation|linebreaks }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if soft_skills %}
              <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
                <thead>
                <tr class="border-left-none border-top-none uppercase">
                  <th class="font-bold w-1/4">{% translate 'Soft-skills' %}</th>
                  <th class="border-right-none font-bold">
                    {% translate 'In which way this soft-skill has evolved for me' %}
                  </th>
                </tr>
                </thead>
                <tbody>
                {% for item in soft_skills %}
                  <tr class="border-left-none">
                    <td class="fw-bold">
                      <a href="#" onclick="showSpecificTag({{ item.id }}, '{{ item.cls }}')">
                        {{ item.name }}
                      </a>
                    </td>
                    <td class="border-right-none">{{ item.explanation|linebreaks }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if vocabulary %}
              <table class="mt-5 table table-bordered table-sm table-striped table-custom
                 borders-blue borders-no-horizontal padding-default blue-text">
                <thead>
                <tr class="border-left-none border-top-none uppercase">
                  <th class="font-bold w-1/4">{% translate 'Specialized expressions' %}</th>
                  <th class="border-right-none font-bold">{% translate 'Definition' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in vocabulary %}
                  <tr class="border-left-none">
                    <td class="fw-bold">
                      <a href="#" onclick="showSpecificTag({{ item.id }}, '{{ item.cls }}')">
                        {{ item.name }}
                      </a>
                    </td>
                    <td class="border-right-none">{{ item.explanation|linebreaks }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {# END OF TAB 'RESUME' #}
    </div>

    {% if is_milestone %}
      <h4>
        <button
            class="btn btn-style ml-1"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#submitVersionModal"
        >
          {% svg_icon_psg 'soumettre' extra_class="orange" width=25 height=25 %}
          {% if user.type == 'Applicant' %}
            {% translate 'Submit version' as submit %}
          {% else %}
            {% translate 'Register review' as submit %}
          {% endif %}
          <span>{{ submit }}</span>
        </button>
      </h4>

      {# MODE=MILESTONE; NEXT / PREVIOUS achievement navigation #}
      <h2 class="no-hover flex flex-wrap md:flex-nowrap justify-between">
        {% include 'editor/achievement_nav.html' %}
      </h2>
    {% endif %}

    {# div app-content #}

    {##}
    {#  Modals #}
    {##}
    {% translate 'Close' as close %}
    {% if editable and user.type != 'Expert' %}

      {% if user.type == 'Applicant' %}
        {% include "editor/partials/modal.rename-achievement.html" %}
        {% include "editor/partials/modal.delete-achievement.html" %}
        {% include "editor/partials/modal.change-number.html" %}
        {% include "editor/partials/modal.change-target-competence.html" %}
      {% endif %}
      {# if user.type == 'Applicant' #}

      {% include "editor/partials/modal.submit-version.html" %}

    {% endif %}
    {# if editable and user.type != 'Expert' #}
  </main>

{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <script>
      /*
        * Variables linked to Python context
        * N.B. Safari does not scope const / let in module
        * N.B. Only var get registered in window[]
      */

      // For competency-tooltip
      var competencies = [];
      {% for competency in serialized_competencies %}
          competencies.push(JSON.parse('{{ competency | safe }}')[0]);
      {% endfor %}

      // parse the custom competencies by type from Python data
      let custom_competencies = {};
      {% if is_milestone %}
          {% for k, v in custom_competencies.items %}
              custom_competencies['{{ k }}'] = {{ v|safe }};
          {% endfor %}
      {% endif %}

      // TODO UQAR: facets
      {% for k, v in custom_competencies.items %}
          custom_competencies['facets'] = {{ v|safe }};
      {% endfor %}

      // Convert Python context 'documents' (editor/views.py @ load_editor) to JSON array
      // For media_*-tooltip
      let documents = {{ serialized_documents|safe }};
      documents = documents ? documents.map((doc) => {
          const the_doc = JSON.parse(doc)[0]
          return {
              id: the_doc.pk,
              name: the_doc.fields.name,
              url: the_doc.fields.url
          }
      }) : []

      // For expertise_level-tooltip
      var level_2 = {{ portfolio.concentration.get_level_2|safe }};
      var groupMilestone = parseInt('{{ group_milestone }}') ?? 1
      // For simple_comment-tooltip
      var userName = '{{ user.first_name }}';

      const achievementId = '{{ achievement.id }}';
      const editable = {{ editable|yesno:'true,false' }};
      const userType = '{{ user.type }}';

      {#    {% if is_milestone %}#}
      const activePortfolio = '{{ portfolio.id }}';
      let blockContents = {{ contents|safe }}; // 'let' since it's being modified in later code
      {#    {% endif %}#}

      {% if dev_mode and debug %}
          const devMode = true;
      {% else %}
          const devMode = false;
      {% endif %}
  </script>

  <script src="{{ STATIC_URL }}editor-{{ editor_version }}/editor.js" type="module"></script>
  <script src="{{ STATIC_URL }}editor-{{ editor_version }}/utilities/index.js"></script>
{% endblock javascript %}
